@model KMBit.Grids.KMGrid<KMBit.Beans.BActivityTaocan>
@{
    ViewBag.Title = "活动套餐列表";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Agent.cshtml";
}

<h2>@ViewBag.Title </h2>
<hr/>
@using GridMvc.Html
@using KMBit.Util
@Html.Grid(Model).Named("ActivityTaocans").Columns(columns =>
{
    columns.Add(o => o.Route.Taocan.Taocan2.Name).Titled("套餐名称").Filterable(false).SetWidth("10%");
    columns.Add(o => o.ATaocan.Quantity).Titled("数量").Filterable(false).SetWidth("5%");
    columns.Add(o => o.ATaocan.Price).Titled("售价").Filterable(false).SetWidth("5%");
    columns.Add().Titled("成本价").Filterable(false).SetWidth("5%").RenderValueAs(o=>(o.Route.Taocan.Taocan.Sale_price * o.Route.Route.Discount).ToString("0.00"));
    columns.Add(o => o.UsedCount).Titled("已扫").Filterable(false).SetWidth("5%");
    columns.Add(o => o.SentOutCount).Titled("已发").Filterable(false).SetWidth("5%");
    columns.Add()
      .Titled("")
      .Encoded(false)
      .Sanitized(false)
      .SetWidth("5%")
      .RenderValueAs(o => Html.Raw("<a href=\"javascript:void(0);\" onclick=\"openModalDialog('/Agent/CreateActivityTaocan',{activityId:" + o.ATaocan.ActivityId +"})\">明细</a>"));

}).Sortable(false)

