@{
    ViewBag.Title = "ChildRequests";
    Layout = "~/Views/Shared/master_default.cshtml";
    KM.JXC.DBA.Shop CurrentShop = (KM.JXC.DBA.Shop)ViewData["CurrentShop"];
    KM.JXC.DBA.Shop MainShop = (KM.JXC.DBA.Shop)ViewData["MainShop"];
}

<script>
    var $grid = null;
    var $grid1 = null;
    var shopMgr = new KMJXCShopManager();
    $(function () {

        var obj2 = {
            width: 859, height: 600, title: "发出的请求", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {

            }
            //, freezeCols: 4
        };

       

        obj2.colModel = [
                           {
                               title: "主店铺", width: 200, dataType: "string", dataIndx: "Parent.Title", editable: false
                           },
                           {
                               title: "子店铺", width: 200, dataType: "string", dataIndx: "Child.Title", editable: false
                           },
                           {
                               title: "状态", width: 200, dataType: "string", dataIndx: "Status", editable: false,
                               render: function (ui) {
                                   if (ui.rowData["Status"] == 1) {
                                       return "已经批准";
                                   } else if (ui.rowData["Status"] == 0) {
                                       return "还未处理";
                                   } else if (ui.rowData["Status"] == 2) {
                                       return "已经拒绝";
                                   }
                               }
                           },
                           {
                               title: "申请时间", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false
                           },
                           {
                               title: "申请者", width: 150, dataType: "timestamp", dataIndx: "Created_By.Mall_Name", editable: false
                           }
                           , {
                               title: "处理时间", width: 150, dataType: "timestamp", dataIndx: "Modified", editable: false
                           }
                            , {
                                title: "处理者", width: 150, dataType: "timestamp", dataIndx: "Modified_By.Mall_Name", editable: false
                            }

        ];

        obj2.dataModel = {
            location: "remote",
            sorting: "remote",
            //paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 40,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40, 60, 80, 100],
            getUrl: function (prgrid) {
                var page = this.curPage;
                if (page == 0) {
                    page = 1;
                }
                return {
                    url: "/api/Shop/SearchSentChildRequets", data: "page=" + page + "&pageSize=" + this.rPP
                };
            },
            getData: function (dataJSON) {
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };


        var obj1 = {
            width: 859, height: 600, title: "收到的请求", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {

            }
            //, freezeCols: 4
        };



        obj1.colModel = [
                           {
                               title: "主店铺", width: 200, dataType: "string", dataIndx: "Parent.Title", editable: false
                           },
                           {
                               title: "子店铺", width: 200, dataType: "string", dataIndx: "Child.Title", editable: false
                           },
                           {
                                title: "状态", width: 200, dataType: "string", dataIndx: "Status", editable: false,
                                render: function (ui) {
                                    if (ui.rowData["Status"] == 1) {
                                        return "已经批准";
                                    } else if (ui.rowData["Status"] == 0) {
                                        return "还未处理";
                                    } else if (ui.rowData["Status"] == 2) {
                                        return "已经拒绝";
                                    }
                                }
                           },
                           {
                               title: "申请时间", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false
                           },
                           {
                               title: "申请者", width: 150, dataType: "timestamp", dataIndx: "Created_By.Mall_Name", editable: false
                           }
                           , {
                               title: "处理时间", width: 150, dataType: "timestamp", dataIndx: "Modified", editable: false
                           }
                            , {
                                title: "处理者", width: 150, dataType: "timestamp", dataIndx: "Modified_By.Mall_Name", editable: false
                            }

        ];
        obj1.dataModel = {
            location: "remote",
            sorting: "remote",
            //paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 40,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40, 60, 80, 100],
            getUrl: function (prgrid) {
                var page = this.curPage;
                if (page == 0) {
                    page = 1;
                }
                return {
                    url: "/api/Shop/SearchReceivedChildRequets", data: "page=" + page + "&pageSize=" + this.rPP
                };
            },
            getData: function (dataJSON) {
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

       

        $("#childReceivedRequests").on("pqgridrender", function (evt, obj) {
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $("<span id=\"add_cate\">批准</span>").appendTo($menubar).button().click(function (evt) {               
                HandleRequest(1);
            });
            $("<span id=\"add_cate\">拒绝</span>").appendTo($menubar).button().click(function (evt) {
                HandleRequest(2);
            });
        });

        $grid = $("#childSentRequests").pqGrid(obj2);
        $grid1 = $("#childReceivedRequests").pqGrid(obj1);

        function HandleRequest(status) {
            var rows = [];
            var arr = $grid1.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    rows.push(arr[i].rowIndx);
                }
            }

            if (rows.length <= 0) {
                alert("请选择一条请求进行操作");
                return;
            }

            var DM = $grid1.pqGrid("option", "dataModel");
            var data = DM.data;
            var row = data[rows[0]];
            var reqId = row["ID"];
            if (row["Status"] != 0) {
                alert("已经处理过，不能再次处理");
                return;
            }
           
            shopMgr.HandleAddChildRequest({ 'reqId': reqId, 'status': status }, function (res) {
                if (res.Status == "ok") {
                    $("#childReceivedRequests").pqGrid("refreshDataAndView");
                } else {
                    alert(res.Message);
                }
            });
        }
    });
</script>

<div id="childSentRequests"
   @* @if(CurrentShop.Shop_ID==MainShop.Shop_ID){
        @Html.Raw("style=\"display:block;\"")
    }else{
        @Html.Raw("style=\"display:none;\"")
    }*@
    >

</div>
<div style="margin-top:10px" id="childReceivedRequests"
  @*  @if(CurrentShop.Shop_ID==MainShop.Shop_ID){
        @Html.Raw("style=\"margin-top:10px;display:none;\"")
    }else{
        @Html.Raw("style=\"margin-top:10px;display:block;\"")
    }*@
    >

</div>
