@{
    ViewBag.Title = "Dashboard";
}

<script>
    $(function () {
        $('#tabs').tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#shopinfo">店铺信息统计</a></li>
    </ul>
    <div id="shopinfo">

    </div>
</div>