@{
    ViewBag.Title = "产品分类";
}

<div>

    @if (Model != null)
    {
        int count=0;       
        foreach (var category in Model)
        {
            count++;
            @category.Name
        }
        if (count == 0)
        {
            <p>没有分类信息</p>
        }
    }
</div>
