@{
    ViewBag.Title = "产品类目管理";
    
}
<script>
    var cateMgr = new KMJXCProductManager();
    $(document).ready(function () {
        var obj = { width: 830, height: 600, title: "类目列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' } };
        obj.colModel = [{ title: "编号", width: 50, dataType: "integer", dataIndx: "ID", editable: false },
                        { title: "类目名称", width: 150, dataType: "string", dataIndx: "Name", editable: false },
                        {
                            title: "子类目数", width: 150, dataType: "string", dataIndx: "Children", editable: false,
                            render: function (ui) {
                                var children = ui.rowData[ui.dataIndx];
                                
                                if (children != null && children != 'undefined') {
                                    return children.length;
                                }                                
                            }
                        },
                        {
                            title: "主店铺类目", width: 100, dataType: "boolean", dataIndx: "IsMainShopProp", editable: false,
                            render: function (ui) {
                                if (ui.rowData[ui.dataIndx]) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            }
                            
                        },
                        {
                            title: "状态", width: 50, dataType: "boolean", dataIndx: "Enabled", editable: false,
                            render: function (ui) {
                                if (ui.rowData[ui.dataIndx]) {
                                    return "<input type=\"checkbox\" checked/>";
                                } else {
                                    return "<input type=\"checkbox\"/>";
                                }
                            }
                        },
                        { title: "创建者", width: 150, dataType: "string", dataIndx: "Created_By.Name", editable: false },
                        { title: "创建日期", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false },
        ];
        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 20,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [1, 10, 20, 30, 40, 50, 100, 500, 1000],
            getUrl: function () {
                var sortDir = (this.sortDir == "up") ? "asc" : "desc";
                var sort = ['ID', 'Name'];

                return {
                    url: "/api/Categories/GetCategories", data: "parent_id=0"
                };
            },
            getData: function (dataJSON) {
                //alert(dataJSON.totalRecords);
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };
        obj.cellSave = function (event, ui) {

        }

        $("#pcategoryList").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));

            $("<span>添加类目</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-circle-plus" } }).click(function (evt) {
                AddNew();
            });
            //$("<span>编辑</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (evt) {
            //    //editRow();
            //});
           
            $toolbar.disableSelection();
        });
        var $cgrid;
        var $grid = $("#pcategoryList").pqGrid(obj);
        $grid.on("pqgridrowdblclick", function (evt, ui) {
            
            $cgrid = $("#ccategoryList").pqGrid(cobj);
            var title = "";
            var pcid = 0;
            var prowIndex = getRowIndx();
            //alert(prowIndex);
            if (prowIndex != null) {
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[prowIndex];
                pcid = row["ID"];
                title = row["Name"]+" 的子类目列表";
            }
            
            $cgrid.pqGrid("option", "title", title);
        });

        $grid.on("pqgridrowunselect", function (evt, ui) {
            //$cgrid.pgGrid("destory");
        });

        $("#popup-dialog-crud").dialog({
            width: 400, modal: true,
            open: function () { $(".ui-dialog").position({ of: "#grid_crud" }); },
            autoOpen: false
        });

        var cobj = obj;
        cobj.dataModel = {
            location: "remote",
            sorting: "remote",
            //paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 20,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [1, 10, 20, 30, 40, 50, 100, 500, 1000],
            getUrl: function () {
                var sortDir = (this.sortDir == "up") ? "asc" : "desc";
                var sort = ['ID', 'Name'];
                var pcid = 0;
                var prowIndex = getRowIndx();
                if (prowIndex != null) {
                    var DM = $grid.pqGrid("option", "dataModel");
                    var data = DM.data;
                    var row = data[prowIndex];
                    pcid=row["ID"];
                }
                return {
                    url: "/api/Categories/GetCategories", data: "parent_id=" + pcid
                };
            },
            getData: function (dataJSON) {
                //alert(dataJSON.totalRecords);
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };


        function AddNew() {
            var rowIndx = getRowIndx(false);
            var DM = $grid.pqGrid("option", "dataModel");
            var data = DM.data;
            var cid = 0;
            var $frm = $("form#crud-form");
            if (rowIndx != null) {
                var row = data[rowIndx];
                cid = row["ID"];
            }

            var title = "添加类目";
            if (cid > 0) {
                title = "给 "+row["Name"] + " 添加子类目";
            }
            $("#popup-dialog-crud").dialog({
                open: function (event, ui) {
                    $frm.find("#cateParent").val(0);
                    $frm.find('#categoryName').val("");
                    $frm.find("#cateParent").removeAttr("disabled");
                    if (cid > 0) {
                        $frm.find("#cateParent").val(cid);
                        $frm.find("#cateParent").attr("disabled",true);
                    }
                },
                resizable: false,
                title: title,
                buttons: {
                    "保存": function () {
                        var that = this;
                        var name = $frm.find("#categoryName").val();
                        if (name != '') {
                            $('#savemessage').hide();
                        } else {
                            $('#savemessage').html("分类名称不能为空");
                            $('#savemessage').show();
                            return;
                        }
                        if (cid == 0) {
                            cid = $frm.find('#cateParent').val();
                        }
                       
                        cateMgr.CreateCategory({ 'name': name, 'parent_id': cid }, function (response) {
                            if (typeof (response) == 'object') {
                               
                                if (response.Status == "ok") {
                                    if (cid <= 0) {
                                        $grid.pqGrid("refreshDataAndView");
                                    } else {
                                        var title = row["Name"]+" 的子类目列表";
                                        $cgrid = $("#ccategoryList").pqGrid(cobj);
                                        $cgrid.pqGrid("option", "title", title);
                                        //$cgrid.pqGrid("refreshDataAndView");
                                    }

                                    $(that).dialog("close");
                                } else {
                                    $('#savemessage').html(response.Message)
                                    $('#savemessage').show();
                                }                                
                            }
                        });

                    },
                    "取消": function () { $(this).dialog("close"); }
                },
            });

            $("#popup-dialog-crud").dialog("open");
        }

        
        //$('form#crud-form').find('#cateParent').change(function () {
        //    $('#savemessage').hide();
        //    var parent_id = $('#cateParent').val();
        //    if (parent_id != 0) {
        //        cateMgr.GetCategories({ 'parent_id': parent_id }, function (response) {
        //            if (response != null && response != "" && typeof (response) == 'object') {
        //                $('#childrenCategory').find("ul").html("");
        //                $(response.data).each(function (index, item) {
        //                    $('#childrenCategory').find("ul").append("<li>" + item.Name + "</li>");
        //                });
        //                $('#childrenCategory').show();
        //            } else {
        //                $('#childrenCategory').hide();
        //            }
        //        });
        //    } else {
        //        $('#childrenCategory').find("ul").html("");
        //        $('#childrenCategory').hide();
        //    }
        //});

        function getRowIndx(isEdit) {
            //var $grid = $("#grid_render_cells");

            //var obj = $grid.pqGrid("getSelection");
            //debugger;
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                if(isEdit && isEdit==true)
                alert("请选择一行数据");
                return null;
            }
        }

    });
</script>
<div class="normallist">
    <div id="pcategoryList">

    </div>
     <div id="ccategoryList" style="margin-top:10px;">

    </div>
    <div id="popup-dialog-crud">
        <form id="crud-form">
        <div style="padding-top:10px;">
        <div class="row">
            <label for="cateParent">父类:</label><select class="W_input" style="height:24px;text-align:center;" id="cateParent">
                    <option value="0">-选择-</option>
                    @foreach (var category in Model) { 
                        <option value="@category.ID">@category.Name</option>
                    }
            </select><span style="padding-left:5px;"></span>
        </div>
        <div id="childrenCategory" class="nolabel1" style="display:none;">
            <ul style="padding-left:4px;">

            </ul>
        </div>
        <div id="savemessage" class="message1 nolabel2" style="display:none;">
           
        </div>
        <div class="row">
            <label for="categoryName">名称:</label><input class="W_input" type="text" id="categoryName" value="" />            
        </div>
       
      </div>
      </form>
    </div>
   
</div>
