@{
    ViewBag.Title = "添加产品分类";
}
<script>
    $(document).ready(function () {
        var cateMgr=new KMJXCProductManager();
        $('#btnAddCategory').click(function () {
            var name = $('#categoryName').val();
            if ($.trim(name) == '') {
                $('#savemessage').html("分类名称不能为空");
                $('#savemessage').show();
                return;
            }
            var pid = $('#cateParent').val();
            cateMgr.CreateCategory({ 'name': name, 'parent_id': pid }, function (response) {
                if (typeof (response) == 'object') {
                    $('#savemessage').html(response.Message)
                    $('#savemessage').show();
                    if (response.Status == "ok") {
                        if (pid == 0) {
                            $('#cateParent').append("<option value=\"" + response.Item.ID + "\">" + name + "</option>");
                        } else {
                            $('#childrenCategory').append("<div style=\"padding-left:30px;\">" + name + "</div>");
                        }  
                    }

                    $('#categoryName').val("");
                }
            });
        });

        $('#categoryName').bind("propertychange", function () {
            if ($('#categoryName').val() != '') {
                $('#savemessage').hide();
            } else {
                $('#savemessage').html("分类名称不能为空");
                $('#savemessage').show();
            }
        });

        $('#cateParent').change(function () {
            $('#savemessage').hide();
            var parent_id = $('#cateParent').val();
            if (parent_id != 0) {
                cateMgr.GetCategories({ 'parent_id': parent_id }, function (response) {
                    if (response != null && response != "" && typeof (response) == 'object' && response.length > 0) {
                        $('#childrenCategory').find("ul").html("");
                        $(response).each(function (index, item) {
                            $('#childrenCategory').find("ul").append("<li>" + item.Name + "</li>");
                        });
                        $('#childrenCategory').show();
                    } else {
                        $('#childrenCategory').hide();
                    }
                });
            } else {
                $('#childrenCategory').find("ul").html("");
                $('#childrenCategory').hide();
            }
        });
    });

</script>
<h2>产品类目只支持两级</h2>
<div class="normallist">
    
    <div style="padding-top:10px;">
        <div class="row">
            <label for="cateParent">父类:</label><select class="W_input" style="height:24px;text-align:center;" id="cateParent">
                    <option value="0">-选择-</option>
                    @foreach (var category in Model) { 
                        <option value="@category.ID">@category.Name</option>
                    }
            </select><span style="padding-left:5px;">创建父类目，请忽略此项</span>
        </div>
        <div id="childrenCategory" class="nolabel1" style="display:none;">
            <ul style="padding-left:4px;">

            </ul>
        </div>
        <div id="savemessage" class="message1 nolabel2" style="display:none;">
           
        </div>
        <div class="row">
            <label for="categoryName">名称:</label><input class="W_input" type="text" id="categoryName" value="" />
            <input class="W_input_btn"  id="btnAddCategory" type="button" value="添加"/>
        </div>
       
    </div>
</div>
