@{
    ViewBag.Title = "产品列表";
}

<script>
    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var $searchform;
    var $editform;
    var editor;  
    var loadingBox = null;
    var pcate = null;
    var props = null;
    var propGroup = [];
    var propGroups = [];
    var propRow = 1;
    var groupCount = 1;
    var images = [];    
    var allSuppliers;
    var selectedSuppliers = [];
    function EditProduct(pdtId) {
        $editform.find('#product_id').val(pdtId);
        loadingBox = ShowProgress('page_loading', function () { },"正在加载产品详细信息，请等待...");
        cateMgr.GetProductFullInfo({ 'product_id': pdtId }, function (res) {
            if (res.Status == 'ok' && res.Item != null) {
                loadingBox.hide();
                FillProductFields(res.Item);
                $("#pop_edit_product").dialog({
                    open: function (event, ui) {
                        $editform.find('#resultmessage').html("");
                        $editform.find('#resultmessage').hide();                       

                    },
                    close: function (event, ui) {

                    },
                    resizable: false,
                    title: "编辑产品",
                    buttons: {
                        "保存修改": function () {
                            SaveProduct();
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#pop_edit_product").dialog("open");
            }
        });        
    }

    function SaveProduct() {
        var buffer = "";
        var product_id = $editform.find("#productNumber").html().trim();

        for (var i = 0; i < propGroups.length; i++) {
            var array = propGroups[i];
            if (array != null) {
                if (buffer != "") {
                    buffer = buffer + ";"
                }
                var gbuffer = "";
                var pdtId = 0;
                var count = 0;
                for (var j = 0; j < array.length; j++) {
                    var json = array[j];
                    if (json != null && json != 'undefined' && json.pdtid == 0) {
                        if (count == 0) {
                            pdtId = json.pdtid;
                            if (buffer != "") {
                                buffer = buffer + pdtId + "|";
                            } else {
                                buffer = pdtId + "|";
                            }
                        }
                        if (gbuffer == "") {
                            gbuffer = json.pid + ":" + json.vid;
                        } else {
                            gbuffer = gbuffer + "," + json.pid + ":" + json.vid;
                        }

                        count++;
                    }
                }
                buffer = buffer + gbuffer;
            }
        }

        var frm = $editform;
        var title = frm.find('#productName').val();
        var desc = editor.html();
        var cid = 0;
        var pid = frm.find("#pCategory").val();
        var ccid = frm.find("#cCategory").val();
        if (ccid > 0) {
            cid = ccid;
        } else {
            cid = pid;
        }

        var image_ids = "";
        for (var i = 0; i < images.length; i++) {
            if (images[i] != null && images[i] != "") {
                if (image_ids == "") {
                    image_ids = images[i];
                } else {
                    image_ids = image_ids + "," + images[i];
                }
            }
        }

        if ($.trim(title) == '') {
            frm.find("#resultmessage3").html("请输入产品标题");
            frm.find("#resultmessage3").show();
            return;
        }

        if (cid == 0) {
            frm.find("#resultmessage3").html("请选择产品类目，二级类目可不选");
            frm.find("#resultmessage3").show();
            return;
        }
        loadingBox = ShowProgress('page_loading', function () { }, "正在更新产品信息，请等待...");
        cateMgr.UpdateProduct({ 'product_id': product_id, 'images': image_ids, 'props': buffer, 'title': title, 'desc': desc, 'cid': cid }, function (res) {
            if (res.Status == 'ok') {
                groupCount = 1;
                propRow = 1;
                propGroup = [];
                propGroups = [];
                FillProductFields(res.Item);
                loadingBox.hide();
            } else {
                frm.find("#resultmessage3").html(res.Message);
                frm.find("#resultmessage3").show();
            }
        });
    }

    function RemoveImage(obj,image_id, del) {
        
        if (del && del == 1) {
            cateMgr.DeleteImage({ 'image_id': image_id }, function (res) {
                if (res.Status == 'ok') {
                    $(obj).parent("p").parent("li").remove();
                    var tmp = [];
                    for (var i = 0; i < images.length; i++) {
                        if (images[i] != null && images[i] != '' && images[i] != image_id) {
                            tmp.push(images[i]);
                        }
                    }
                    images = tmp;
                }
            });
        } else {
            $(obj).parent("p").parent("li").remove();
            var tmp = [];
            for (var i = 0; i < images.length; i++) {
                if (images[i] != null && images[i] != '' && images[i] != image_id) {
                    tmp.push(images[i]);
                }
            }
            images = tmp;
        }
    };

    function RemoveValueRow(row) {
        $('#popup-dialog-addedprops').find("#ap" + row).remove();
        var json = propGroup[row];
        var $sel1 = $('#pdtproplist1').find("select[id='p1']");
        if (json != null) {
            $sel1.append("<option value=\"" + json.pid + "\">" + json.pvalue + "</option>");
        }
        var tmp = [];

        for (var i = 0; i < propGroup.length; i++) {
            if (row != i && propGroup[i]!=null) {
                tmp.push(propGroup[i]);
            }
        }
        propGroup = tmp;
    }

    function AddValueRow(fromSubmit) {
        $('#resultmessage').html("");
        $('#resultmessage').hide();
        var pId = $('#pdtproplist1').find("select[id='p1']").val();
        var pText = $('#pdtproplist1').find("select[id='p1']").find("option:selected").text();
        var vId = $('#pdtproplist1').find("select[id='v1']").val();
        var vText = $('#pdtproplist1').find("select[id='v1']").find("option:selected").text();

        if (pId == 0 || vId == 0) {
            if (!fromSubmit) {
                $('#resultmessage').html("属性和属性值都不能为空");
                $('#resultmessage').show();
            }
            return;
        }
       
        var buffer = [];
        var json = { 'pdtid': 0, 'pid': pId, 'pvalue': pText, 'vid': vId, 'vvalue': vText };
        propGroup.push(json);
        var rowIndex = propGroup.length - 1;

        buffer.push("<li id=\"ap" + propRow + "\">");
        buffer.push("<input type=\"hidden\" value=\"" + pId + "\"/>");
        buffer.push("<label>" + pText + ":</label><label>" + vText + "</label><span><img onclick=\"RemoveValueRow(" + rowIndex + ")\" src=\"/Content/images/remove.gif\"/></span>");
        buffer.push("</li>"); 
       
        $('#pdtproplist1').find("select[id='p1']").val(0);
        $('#pdtproplist1').find("select[id='p1']").find("option[value='" + pId + "']").remove();
        var $selv1 = $('#pdtproplist1').find("select[id='v1']");
        $selv1.empty();
        $selv1.append("<option value=\"0\">--选择--</option>");
        $('#popup-dialog-addedprops').append(buffer.join(""));
    }

    function FillProductFields(ProductJson) {
        $editform.find('#productName').val(ProductJson.Title);
        $pcate = $editform.find("#pCategory");
        $ccate = $editform.find("#cCategory");
        $pcate.empty();
        $ccate.empty();
        if (pcate != null) {
            $(pcate).each(function (index, item) {                
                $("<option value=\""+item.ID+"\">"+item.Name+"</option>").appendTo($pcate);
            });

            if (ProductJson.Category != null) {
                if (ProductJson.Category.ParentID > 0) {
                    $pcate.val(ProductJson.Category.ParentID);
                    cateMgr.GetCategories({ 'parent_id': ProductJson.Category.ParentID }, function (res) {
                        if ($(res.data).size() > 0) {
                            $ccate.empty();
                            $("<option value=\"0\">--选择--</option>").appendTo($ccate);
                            $(res.data).each(function (index, item) {
                                $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($ccate);
                            });

                            $ccate.val(ProductJson.Category.ID);
                            $ccate.show();
                        } 
                    });

                } else {
                    $pcate.val(ProductJson.Category.ID);
                }
            }
        }

        editor.html("");

        if (ProductJson.Description != null) {
            editor.html(ProductJson.Description);
        }

        $editform.find('#productNumber').html(ProductJson.ID);

        //render images
        $editform.find('#pdtimagelist').html("");
        if (ProductJson.Images != null && $(ProductJson.Images).size() > 0) {
            images = [];
            $(ProductJson.Images).each(function (index, item) {
                images.push(item.ID);
                $editform.find('#pdtimagelist').append("<li><img src=\"" + item.Path + "\"/><p><a href=\"javascript:void(0)\" onclick=\"RemoveImage(this," + item.ID + ")\">删除</a></p></li>");
            });
        }

        //render props
        $props = $editform.find('#addedprops');
        $props.html("");
        $props.hide();
        if (ProductJson.Children != null) {
            $(ProductJson.Children).each(function (index, item) {
                var $ui = $("<ul id=\"propGroup_" + item.ID+ "\" class=\"row propul\"></ul>").appendTo($props);
                var pdtId = item.ID;
                if (item.Properties != null && $(item.Properties).size() > 0) {
                    $("<li style=\"float:left;display:inline-block;\">编号:" + pdtId + "</li>").appendTo($ui);
                    $(item.Properties).each(function (index, item) {
                        var json = { 'pdtid': pdtId, 'pid': item.PID, 'pvalue': item.PName, 'vid': item.PVID, 'vvalue': item.PValue };
                        propGroup.push(json);                        
                        $("<li style=\"float:left;display:inline-block;\">" + item.PName + ":" + item.PValue + "</li>").appendTo($ui);
                    });                  

                    propGroups.push(propGroup);                   
                    propGroup = [];                    
                    
                } else
                {
                    propGroup = [];                   
                }

                
            });
            $props.show();
        } else {
            propGroups = [];
            propGroup = [];           
        }
    }

    function RenderP1(json) {
        var $sel1 = $('#pdtproplist1').find("select[id='p1']");

        $sel1.empty();
        $sel1.append("<option value=\"0\">--选择--</option>");
        $(json).each(function (index, item) {
            $sel1.append("<option value=\"" + item.ID + "\">" + item.Name + "</option>");
        });

        $sel1.change(function () {
            var pid = $(this).val();
            if (pid == 0) {
                return;
            }

            cateMgr.GetPropertyValues({ 'pid': pid }, function (res) {
                var $selv1 = $('#pdtproplist1').find("select[id='v1']");
                $selv1.empty();
                $selv1.append("<option value=\"0\">--选择--</option>");
                $(res.data).each(function (index, item) {
                    $selv1.append("<option value=\"" + item.Product_Spec_Value_ID + "\">" + item.Name + "</option>");
                });
            });
        });
    }

    function RemoveGroup(index, obj) {
        var tmp = [];
        for (var i = 0; i < propGroups.length; i++) {
            if (index != i && propGroups[i] != null) {
                tmp.push(propGroups[i]);
            }
        }
        propGroups = tmp;
        $(obj).parent("li").parent("ul").remove();
    }


    $(document).ready(function () {
        $('#pop_edit_product').tabs();

        cateMgr.GetProperties2({}, function (res) {
            props = res.data;
            RenderP1(props);
            $editform.find("#popup-dialog-props").dialog({
                width: 400, modal: true,
                open: function () { $(".ui-dialog").position({ of: "#grid_crud" }); },
                autoOpen: false
            });
        });

        buyMgr.GetSuppliers({}, function (res) {
            allSuppliers = res.data;
        })

        $editform = $('#pdteditform');
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="productDesc"]', {
                resizeType: 0,
                width: '500px',
                minWidth: 550,
                height: '250px',
                allowPreviewEmoticons: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'link']
            });

            editor.html("");
        });
        
        $("#pop_edit_product").dialog({
            width:850,modal: true,
            open: function () { $(".ui-dialog").position({ of: "#productTable" }); },
            autoOpen: false
        });

        $pcate = $editform.find("#pCategory");
        $pcate.change(function () {
            $ccate = $editform.find("#cCategory");
            var pcid = $(this).val();
            if (pcid > 0) {
                cateMgr.GetCategories({ 'parent_id': pcid }, function (res) {
                    $ccate.empty();
                    if ($(res.data).size() > 0) {
                        
                        $("<option value=\"0\">--选择--</option>").appendTo($ccate);
                        $(res.data).each(function (index, item) {
                            $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($ccate);
                        });
                        $ccate.show();
                    } else {
                        $ccate.hide();
                    }
                });
            } else {
                $ccate.empty();
                $ccate.hide();
            }
        });

        function RenderPropGroup(propGroup, groupIndex) {
            var buffer = [];
            buffer.push("<ul id=\"propGroup_0\" class=\"row propul\">");
            var count = 0;
            for (var i = 0; i < propGroup.length; i++) {
                var json = propGroup[i];
                if (json != null && count == 0) {
                    buffer.push("<li style=\"float:left;display:inline-block;\">编号:无</li>");
                }
                if (json != null && json != 'undefined' && typeof (json) == 'object') {
                    buffer.push("<li style=\"float:left;display:inline-block;\">");
                    buffer.push(json.pvalue + ":" + json.vvalue);
                    buffer.push("</li>");
                    count++;
                }
            }

            buffer.push("<li style=\"float:left;display:inline-block;border:0;\"><img onclick=\"RemoveGroup(" + groupIndex + ",this)\" src=\"/Content/images/remove.gif\"/></li>");
            buffer.push("</ul>");
            var str = buffer.join("");
            if ($.trim(str) != '') {
                $('#addedprops').append(str);
                $('#addedprops').show();
            }
        }

        $editform.find("#addsupplier").button({ icons: { primary: "ui-icon-circle-plus" } }).click(function (evt) {
            $("#popup-dialog-suppliers").dialog({
                open: function (event, ui) {
                    var ul = $(this).find("#popup-dialog-listsuppliers");
                    ul.html("");
                    $(allSuppliers).each(function (index, item) {
                        var li = $("<li></li>");
                        var check = null;
                        var selected = false;
                        for (var i = 0; i < selectedSuppliers.length; i++) {
                            if (item.ID == selectedSuppliers[i].id) {
                                selected = true;
                                break;
                            }
                        }

                        if (!selected) {
                            check = $("<input style=\"vertical-align:middle;\" type=\"checkbox\" value=\"" + item.ID + "\"/>").appendTo(li);
                        } else {
                            check = $("<input checked style=\"vertical-align:middle;\" type=\"checkbox\" value=\"" + item.ID + "\"/>").appendTo(li);
                        }
                        check.change(function (event) {
                            var checked = $(this).attr("checked");
                            var id = $(this).attr("value");
                            var value = $(this).next().html();

                            var tmp = [];
                            if (checked == 'checked') {
                                var found = false;
                                for (var i = 0; i < selectedSuppliers.length; i++) {
                                    if (id == selectedSuppliers[i].id) {
                                        found = true;
                                        break;
                                    }
                                }

                                if (!found) {
                                    selectedSuppliers.push({ 'id': id, 'value': value });
                                }
                            } else {
                                var found = false;
                                for (var i = 0; i < selectedSuppliers.length; i++) {
                                    if (id != selectedSuppliers[i].id) {
                                        tmp.push(selectedSuppliers[i]);
                                    }
                                }

                                selectedSuppliers = tmp;
                            }

                        });

                        $("<span>" + item.Name + "</span>").appendTo(li);

                        li.appendTo(ul);
                    });
                },
                close: function (event, ui) {

                },
                width: 350,
                resizable: false,
                title: "选择供应商",
                modal: true,
                autoOpen: false,
                buttons: {
                    "确定": function () {
                        var that = this;
                        var addedul = $editform.find("#addedsuppliers");
                        addedul.html("");
                        for (var i = 0; i < selectedSuppliers.length; i++) {
                            var id = selectedSuppliers[i].id;
                            var li = $("<li style=\"display:block;width:200px;margin-bottom:2px;border:0px;\"><span style=\"display:inline-block;\">" + selectedSuppliers[i].value + "</span></li>").appendTo(addedul);
                            var span = $("<span style=\"display:inline-block;float:right;margin-right:2px;\"></span>").appendTo(li);
                            $("<img value=\"" + id + "\" style=\"\" src=\"/Content/images/remove.gif\"/>").appendTo(span).click(function (evt) {
                                var tmp = [];
                                var sid = $(this).attr("value");
                                for (var i = 0; i < selectedSuppliers.length; i++) {
                                    if (sid != selectedSuppliers[i].id) {
                                        tmp.push(selectedSuppliers[i]);
                                    }
                                }
                                selectedSuppliers = tmp;
                                $(this).parent().parent().remove();
                            });
                        }
                        addedul.show();
                        $(this).dialog("close");
                    },
                }
            });

            $("#popup-dialog-suppliers").dialog("open");
        });

        $("#addstockprop").button({ icons: { primary: "ui-icon-circle-plus" } }).click(function (event) {
            $("#popup-dialog-props").dialog({
                open: function (event, ui) {
                    RenderP1(props);
                    var $selv1 = $('#pdtproplist1').find("select[id='v1']");
                    $selv1.empty();
                    $selv1.append("<option value=\"0\">--选择--</option>");
                    $('#popup-dialog-addedprops').html("");
                    propRow = 1;
                    propGroup = [];
                    $('#resultmessage').html("");
                    $('#resultmessage').hide();

                },
                close: function (event, ui) {
                    propGroup = [];
                    propRow = 1;
                },
                resizable: false,modal:true,
                title: "添加一组库存属性",
                buttons: {
                    "确定": function () {
                        AddValueRow(true);

                        //verify
                        var found = false;
                        for (var i = 0; i < propGroups.length; i++) {
                            var tmp = propGroups[i];                           
                            if (tmp != null && tmp != "") {
                                if (VerifyExistingProps(propGroup, tmp)) {
                                    found = true;
                                    break;
                                }
                            }
                        }
                        if (!found) {
                            propGroups.push(propGroup);
                            RenderPropGroup(propGroup, propGroups.length - 1);
                        } else {
                            $('#resultmessage').html("所选属性组合已经存在");
                            $('#resultmessage').show();
                            return;
                        }
                       
                        $(this).dialog("close");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#popup-dialog-props").dialog("open");
        });

        var obj = {
            width: 830, height: 600, title: "产品列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {
                //alert(obj.rowIndxPage);
                var pdtId = obj.data[obj.rowIndxPage]['ID'];
                //alert(pdtId);
            }
        };
       
        obj.colModel = [{ title: "编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false },
                        { title: "名称", width: 250, dataType: "string", dataIndx: "Title", editable: false },
                        { title: "类目", width: 100, dataType: "string", dataIndx: "Category.Name", editable: false },
                        {
                            title: "价格", width: 80, dataType: "double", dataIndx: "Price", editable: false,
                            render: function (ui) {
                                var cellData = ui.rowData[ui.dataIndx];
                                if (cellData == 0) {
                                    return "暂无入库单";
                                }
                            }
                        },
                        {
                             title: "库存", width: 80, dataType: "double", dataIndx: "Quantity", editable: false,
                             //render: function (ui) {
                             //    return 0;
                             //}
                        },
                        {
                            title: "主店铺产品", width: 100, dataType: "json", dataIndx: "Shop", editable: false,
                            render: function (ui) {
                                var cellData = ui.rowData[ui.dataIndx];
                                if (cellData.Parent_ID == 0) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            },
                        },
                        { title: "创建者", width: 150, dataType: "string", dataIndx: "User.Mall_Name", editable: false },
                        { title: "创建日期", width: 150, dataType: "timestamp", dataIndx: "CreateTime", editable: false },
                        {
                            title: "操作", width: 100, dataType: "string", dataIndx: "", editable: false,
                            render: function (ui) {
                                return "<input onclick=\"EditProduct("+ui.rowData["ID"]+")\" class=\"\" type=\"button\" value=\"修改\" />";
                            }
                        },
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [1,30, 40, 50],
            getUrl: function (prgrid) {
                var sortDir = (this.sortDir == "up") ? "asc" : "desc";
                var sort = ['ID', 'Name', "Category.Name", "Created_By.Name", "Created"];
                var pid = $searchform.find("#pq-parent-cate").val();
                var ccid = $searchform.find("#pq-child-cate").val();
                var cid = "";
                if (ccid > 0) {
                    cid = ccid;
                } else {
                    if (pid > 0) {
                        cid = pid;
                    }
                }
                var keyword = $searchform.find('#pdt_key_word').val();
                return {
                    url: "/api/Products/SearchProducts", data: "cid=" + cid + "&keyword=" + keyword+"&page="+this.curPage+"&pageSize="+this.rPP
                };
            },
            getData: function (dataJSON) {
                //alert(dataJSON.totalRecords);
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }       

        $("#productTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"row\"></div>").appendTo($searchform);
            $("<label>类目:</label>").appendTo($srow);
            var $pcate=$("<select id='pq-parent-cate' class='W_input' style='height:24px;'>\
            </select>").appendTo($srow).change(function () {
                if ($(this).val() != 0) {
                    var pid = $(this).val();
                    cateMgr.GetCategories({ 'parent_id': pid }, function (res) {
                        if ($(res.data).size() > 0) {
                           
                            $ccate.empty();
                            $("<option value=\"0\">--选择--</option>").appendTo($ccate);
                            $(res.data).each(function (index, item) {
                                $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($ccate);
                            });
                            $ccate.show();
                        } else {
                            $ccate.hide();
                            $ccate.empty();
                        }
                    });
                   
                } else {
                    $ccate.hide();
                    $ccate.empty();
                }
            });

            $("<option value=\"0\">--选择--</option>").appendTo($pcate);
            cateMgr.GetCategories({ 'parent_id': 0 }, function (res) {
                pcate = res.data;
                $(res.data).each(function (index, item) {
                    $("<option value=\""+item.ID+"\">"+item.Name+"</option>").appendTo($pcate);
                });
            });            

            var $ccate = $("<select id='pq-child-cate' class='W_input' style='height:24px;display:none;'>\
            </select>").appendTo($srow).change(function () {

            });

            $("<label>关键字:</label>").appendTo($srow);
            $("<input id=\"pdt_key_word\" title='关键字' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {
                
            });
          
            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                    .appendTo($srow)
                    .button({text: true }).bind("click", function (evt) {
                        $grid.pqGrid("refreshDataAndView");
                    });
            

            $("<span id=\"add_cate\">添加</span>").appendTo($menubar).button({ icons: { primary: "ui-icon-circle-plus" } }).click(function (evt) {
                //AddNew();
                $("#pop_edit_product").dialog({
                    open: function (event, ui) {
                        $editform.find('#resultmessage').html("");
                        $editform.find('#resultmessage').hide();

                    },
                    close: function (event, ui) {

                    },
                    resizable: false,
                    title: "添加产品",
                    buttons: {
                        "保存": function () {
                            SaveProduct();
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#pop_edit_product").dialog("open");

            });
            $("<span id=\"get_ccate\">编辑</span>").appendTo($menubar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (evt) {                
                var rowIndx = getRowIndx();
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[rowIndx];
                var pid = row["ID"]
                $editform.find('#product_id').val(pid);
                loadingBox = ShowProgress('page_loading', function () { }, "正在加载产品详细信息，请等待...");
                cateMgr.GetProductFullInfo({ 'product_id': pid }, function (res) {
                    if (res.Status == 'ok' && res.Item != null) {
                        loadingBox.hide();
                        FillProductFields(res.Item);
                        $("#pop_edit_product").dialog({
                            open: function (event, ui) {
                                $editform.find('#resultmessage').html("");
                                $editform.find('#resultmessage').hide();

                            },
                            close: function (event, ui) {

                            },
                            resizable: false,
                            title: "编辑产品",
                            buttons: {
                                "保存修改": function () {
                                    SaveProduct();
                                },
                                "取消": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });

                        $("#pop_edit_product").dialog("open");
                    }
                });
            });


            //pqSearch.results = $("<span class='pq-search-results'>Nothing found.</span>").appendTo($toolbar);
            //$toolbar.disableSelection();
        });

        var $grid = $("#productTable").pqGrid(obj);

        $('#upload_progressbar').progressbar({ value: 0 });
        var progressbar = $("#upload_progressbar");
        $('#file_upload').uploadify({
            'buttonClass': 'uploadify_01',
            'swf': '/Third/uploadify/uploadify.swf',
            'uploader': "/Image/Upload",
            //'buttonImage'	: 'images/uploadify/addatt.gif',
            'buttonText': '上传图片',
            'queueID': 'fileQueue',
            'progressData': 'speed',
            'auto': true,
            'multi': true,
            'method': 'post',
            'fileTypeExts': '*.jpg;*.png;*.gif;*.jpeg',
            'fileTypeDesc': '请选择图片文件(*.jpg;*.png;*.gif;*.jpeg)',
            'height': 25,
            'queueSizeLimit': 4,
            'uploadLimit': 4,
            'fileSizeLimit': '3MB',
            'wmode': 'transparent',
            'formData': { 'authid': $('#authid').val() },

            'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                $('#upload_progressbar').show();
                $('#upload_progressbar').progressbar("option", "max", totalBytesTotal);
                $('#upload_progressbar').progressbar("option", "value", totalBytesUploaded);
            },
            'onSelect': function (file) {
                //imageUploadifySelectOnce();
            },
            'onUploadSuccess': function (file, data, result) {
                //$('#upload_progressbar').hide();
                if (data != null && data != "") {
                    var json = eval("(" + data + ")");
                    images.push(json.Item.ID);
                    $('#pdtimagelist').append("<li><img src=\"" + json.Item.Path + "\"/><p><a href=\"javascript:void(0)\" onclick=\"RemoveImage(this," + json.Item.ID + ",1)\">删除</a></p></li>");
                }
            },
            'onError': function (event, queueID, fileObj) {

            },
            'onUploadError': function (file, errorCode, errorMsg, errorString) {

                switch (errorCode) {
                    case -100:
                        alert("上传的文件数量已经超出系统限制的" + $('#file_upload').uploadify('settings', 'queueSizeLimit') + "个文件！");
                        break;
                    case -110:
                        alert("文件 [" + file.name + "] 大小超出系统限制的" + $('#file_upload').uploadify('settings', 'fileSizeLimit') + "大小！");
                        break;
                    case -120:
                        alert("文件 [" + file.name + "] 大小异常！");
                        break;
                    case -130:
                        alert("文件 [" + file.name + "] 类型不正确！");
                        break;
                }
            },
            'onQueueComplete': function (queueData) {
                $('#upload_progressbar').hide();
                //Boxy.get($('#image_loading')).hide();
            },
        });

        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一行");
                return null;
            }
        }
    });
</script>
<div class="normallist">
    <div id="productTable"></div>
</div>
<div id="pop_edit_product" class="normallist" style="display:none;">
     <form id="pdteditform">
     <input type="hidden" id="authid"/>
     <input type="hidden" id="product_id"/>
     <ul>
        <li><a href="#product_basic">基本信息</a></li>      
        <li><a href="#product_pics">产品图片</a></li>
    </ul>
    <div id="product_basic">
         <div class="row">
            <label for="productName">编号:</label><span id="productNumber"></span>
        </div>
        <div class="row">
            <label for="productName">名称:</label><input class="W_input" style="width:300px;" id="productName" />
        </div>
        <div class="row">
            <label for="pCategory">类目:</label><select class="W_input" style="height:24px;" id="pCategory">
                <option value="0">--选择--</option>
                   @* @if (ViewData["category"]!=null){
                        foreach (var cate in ViewData["category"] as List<KM.JXC.BL.Models.BCategory>) { 
                            <option value="@cate.ID">@cate.Name</option>
                        }
                    }*@
                </select>
                <select class="W_input" style="height:24px;display:none;" id="cCategory">

                </select>
        </div>
        <div class="row">
            
            <div id="popup-dialog-props" style="display:none;"> 
                <input type="hidden" value=""/>
                <h4>对应商城的宝贝属性集合</h4>
                <div id="pdtproplist1" class="row">
                        <label>属性:</label><select id="p1" class="W_inputsel"></select><label>属性值:</label><select id="v1" class="W_inputsel"><option value="0">--选择--</option></select> <span class="simg"><img src="/Content/images/add.png" onclick="AddValueRow()" /></span>
                </div>
           
                <ul id="popup-dialog-addedprops">
                </ul>
                <div id="resultmessage" class="message1 nolabel2" style="height:auto;display:none;"></div>
            </div>
            <span style="margin-left:60px;" id="addstockprop">新加一组库存属性</span>

        </div>
        <div class="row" style="display:none;" id="addedprops">
           
        </div>
        <div class="row" style="height:auto;">
            <div id="popup-dialog-suppliers" style="display:none;">
                <h4>选择供应商，可多选</h4>
                <ul id="popup-dialog-listsuppliers" class="ulchk">
                </ul>
            </div>
            <label for="productName">供应商:</label><span id="addsupplier">选择供应商</span>
        </div>
        <ul class="row propul" style="display:none;border:0;" id="addedsuppliers">
           
        </ul>
        <div class="row" style="height:auto;">
            <label for="productDesc" style="display:inline-block;float:left;">描述:</label>
            <textarea style="width:500px;" name="productDesc" id="productDesc"></textarea>
        </div>
        <div id="resultmessage3" class="message1 nolabel2" style="height:auto;display:none;"></div>
       
    </div>    
     <div id="product_pics" style="display:none;">
         <h4>单个产品支持上载四张图片，每张图片大小不大于3M</h4>
         <div class="row">
             <input id="file_upload" type="file" />
         </div>
         <div id="upload_progressbar" style="width:300px;height:15px;display:none;"></div>
         <div id="resultmessage2" class="message1 nolabel2" style="height:auto;display:none;"></div>
         <div class="row" style="height:auto;">
             <ul id="pdtimagelist" class="piclist">

             </ul>
         </div>
    </div>
    </form>
</div>
