@model List<KMBit.Beans.BUser>

@{
    KMBit.Beans.BUser currentUser = null;
    if (ViewBag.LoginUser != null) {
        currentUser = (KMBit.Beans.BUser)ViewBag.LoginUser; ;
    }
    ViewBag.Title = "管理员管理";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using GridMvc.Html
<h2>@ViewBag.Title</h2>
@*<a class="btn btn-primary" role="button" href="/Admin/CreateAdmin">
    新建管理员
</a>*@
<input type="submit" value="新建管理员" class="btn btn-default btn-primary" onclick="openModalDialog('/Admin/CreateAdmin', null)" />
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.User.Name).Titled("名称").Filterable(true);
    columns.Add(c => c.User.Email).Titled("邮箱").Filterable(true);
    columns.Add().Titled("级别").RenderValueAs(o=>o.IsSuperAdmin==true?"超级管理员":"管理员");
    columns.Add(c => c.User.Regtime).Titled("创建日期").Filterable(true).SetWidth("15%").RenderValueAs(o=>KMBit.Util.DateTimeUtil.ConvertToDateTime(o.User.Regtime).ToString("yyyy-M-dd"));
    columns.Add(c => c.User.Enabled).Titled("状态").Filterable(true).SetWidth("10%").RenderValueAs(o=>o.User.Enabled?"已启用":"已禁用");
    if(currentUser!=null && (currentUser.IsSuperAdmin || currentUser.IsWebMaster))
    {
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth("5%")
        //.RenderValueAs(o => Html.ActionLink("权限", "AdminPermissions", new { userId = o.User.Id }));
        .RenderValueAs(o => Html.Raw("<a href=\"javascript:void(0);\" onclick=\"openModalDialog('/Admin/AdminPermissions',{userId:" + o.User.Id + "})\">权限</a>"));
        columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth("5%")
       .RenderValueAs(o => o.User.Enabled ? Html.ActionLink("禁用", "SetAdminStatus", new { userId = o.User.Id, status = false }) : Html.ActionLink("启用", "SetAdminStatus", new { userId = o.User.Id, status = true }));

        if (currentUser.Permission.UPDATE_USER_PASSWORD)
        {
            columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth("8%")
           .RenderValueAs(o => Html.Raw("<a href=\"javascript:void(0);\" onclick=\"openModalDialog('/Admin/SetUserPassword',{userId:" + o.User.Id + "})\">重置密码</a>"));
        }
    }


}).Sortable(true)

