
@{
    ViewBag.Title = "错误";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<h1 class="text-danger">@if (ViewBag.Message != null) { @Html.Raw(ViewBag.Message)}</h1>

