
@{
    ViewBag.Title = "资源管理";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-primary" role="button" href="/Admin/CreateResource">
    新建资源
</a>

@Html.Partial("_ResourceGrid")