
@{
    KMBit.Beans.BUser currentUser = null;
    if(ViewBag.LoginUser!=null)
    {
        currentUser=(KMBit.Beans.BUser)ViewBag.LoginUser;
    }
    ViewBag.Title = "资源管理";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-primary" role="button" href="/Admin/CreateResource">
    新建资源
</a>

@model KMBit.Grids.KMGrid<KMBit.Beans.BResource>
@using GridMvc.Html
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Resource.Name).Titled("名称").Filterable(true).SetWidth("18%");
    columns.Add(c => c.SP.Name).Titled("运营商").Filterable(true).SetWidth("12%");
    columns.Add(c => c.Province.Name).Titled("省份").Filterable(true);
    columns.Add(c => c.City.Name).Titled("城市").Filterable(true);
    columns.Add(c => c.CreatedBy.Email).Titled("创建者").Filterable(true);
    columns.Add(c => c.Resource.Enabled).Titled("状态").Filterable(true).RenderValueAs(o=>o.Resource.Enabled?"已启用":"已禁用");
    if (currentUser != null)
    {
        if (currentUser.Permission.UPDATE_RESOURCE)
        {
            columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth("5%")
           .RenderValueAs(o => Html.ActionLink("编辑", "EditResource", new { resourceId = o.Resource.Id }));
        }

        if (currentUser.Permission.CONFIGURE_RESOURCE)
        {
            columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth("8%")
           .RenderValueAs(o => Html.ActionLink("配置接口", "ConfigureResource", new { resourceId = o.Resource.Id }));
        }


        if (currentUser.Permission.IMPORT_RESOURCE_TAOCAN)
        {
            columns.Add()
             .Encoded(false)
             .Sanitized(false)
             .SetWidth("8%")
             .RenderValueAs(o => Html.ActionLink("导入套餐", "ImportProduct", new { resourceId = o.Resource.Id }));
        }

        columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth("8%")
       .RenderValueAs(o => Html.ActionLink("查看套餐", "ViewResourceTaoCan", new { resourceId = o.Resource.Id }));
    }


}).Sortable(true)