@model KMBit.Grids.KMGrid <KMBit.Beans.BResourceTaocan>
@{
    KMBit.Beans.BResource resource = null;
    if (ViewBag.Resource != null)
    {
        resource = (KMBit.Beans.BResource)ViewBag.Resource;
    }
    ViewBag.Title = resource.Resource.Name+" 的套餐";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}
@using GridMvc.Html 
<h3>@ViewBag.Title</h3>

<a class="btn btn-primary" role="button" href="/Admin/CreateResourceTaocan?resourceId=@Html.Raw(resource!=null?resource.Resource.Id:0)">
    新建套餐
</a>

@*<input type="submit" value="新建套餐" class="btn btn-default btn-primary" onclick="openModalDialog('/Admin/CreateResourceTaocan', { resourceId: @Html.Raw(resource!=null?resource.Resource.Id:0) })" />*@


@Html.Grid(Model).Columns(columns=> {
    columns.Add(c =>c.Resource.Resource.Name).Titled("资源名称").Filterable(true).SetWidth("20%");
    columns.Add(c => c.SP.Name).Titled("运营商").Filterable(true).SetWidth("15%");
    columns.Add(c => c.Taocan.Quantity).Titled("大小").Filterable(true).SetWidth("10%");
    columns.Add(c => c.Taocan.Sale_price).Titled("售价").Filterable(true).SetWidth("10%");
    columns.Add(c => c.Taocan.Purchase_price).Titled("成本价").Filterable(true).SetWidth("10%").RenderValueAs(c => (c.Taocan.Purchase_price * c.Taocan.Resource_Discount).ToString("0.00"));
    columns.Add(c => c.Province.Name).Titled("使用范围").Filterable(true).SetWidth("15%");
    columns.Add(c => c.NumberProvince.Name).Titled("号码归属省份").Filterable(true).SetWidth("15%").RenderValueAs(c=>c.NumberProvince!=null?c.NumberProvince.Name:"");
    columns.Add(c => c.Taocan.Enabled).Titled("状态").Filterable(true).RenderValueAs(o => o.Taocan.Enabled ? "已启用" : "已禁用");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth("10%")
    .RenderValueAs(o => Html.Raw("<a href=\"javascript:void(0);\" onclick=\"editTaocan(" + o.Taocan.Id + ")\">修改</a>"));
}).Sortable(true)

<div class="modal fade" id="editRuoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改资源套餐信息</h4>
            </div>*@
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>
<script>
    function editTaocan(taocanId) {
        $.get(
            "/Admin/UpdateResourceTaocan",
            { taocanId: taocanId },
            function (res, status) {
                if (res != null && res != "undefined") {
                    $('#editRuoteModal').find('.modal-body').html(res);
                    $('#editRuoteModal').modal();
                }
            }
         );
    }
</script>



