@{
    ViewBag.Title = "主页";
}

<div class="homeBar">
    <div>
        <div class="homeBar"><img style="width:100%" src="~/Images/banner1.jpg" /></div>
        <div class="homeBar"><img style="width:100%" src="~/Images/banner2.jpg" /></div>
        <div class="homeBar"><img style="width:100%" src="~/Images/banner3.jpg" /></div> 
    </div>
    <div>
        <div class="homeBar"><img style="width:100%" src="~/Images/pots.jpg" /></div>
        <div class="homeBar"><img style="width:100%" src="~/Images/products.jpg" /></div>
        <div class="homeBar"><img style="width:100%" src="~/Images/advantage.jpg" /></div>
        <div class="homeBar"><img style="width:100%" src="~/Images/cases.jpg" /></div>
    </div>    
</div>

