
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@using (Html.BeginForm("Chongba", "api/CallBack",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("respCode","1")
    @Html.Hidden("respCode", "2")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="保存" class="btn btn-default btn-primary" />
        </div>
    </div>
}