
@{
    ViewBag.Title = "案例场景";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homeBar">
    <div class="homeBar"><img style="max-width:1140px" src="~/Images/products.jpg" /></div>
    <div class="homeBar"><img style="max-width:1140px" src="~/Images/cases.jpg" /></div>
    <div class="homeBar"><img style="max-width:1140px" src="~/Images/advantage.jpg" /></div>
    <div class="homeBar"><img style="max-width:1140px" src="~/Images/pots.jpg" /></div>
</div>
