@{
    ViewBag.Title = "验货单管理";
    Layout = "~/Views/Shared/master_default.cshtml";
}
<script>
    var buyMgr = new KMJXCBuyManager();
    var pdtMgr = new KMJXCProductManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null;
    var loadingBox = null;
    $(function () {
        $(document).tooltip();
        var obj = {
            width: 859, height: 600, title: "采购订单验货单查询", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {

            }
        };

        obj.colModel = [{
                            title: "验货单编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false,
                            render: function (ui) {
                                return ui.rowData["ID"];
                                //return "<a target=\"_blank\" href=\"/Buy/BuyDetail/" + ui.rowData["ID"] + "\">" + ui.rowData["ID"] + "</a>";
                            }
                        },
                       {
                           title: "采购单编号", width: 150, dataType: "string", dataIndx: "Order.ID", editable: false,
                           render: function (ui) {
                               return ui.rowData["Order"]["ID"];
                               //return "<a target=\"_blank\" href=\"/Buy/BuyOrderDetail/" + ui.rowData["Order"]["ID"] + "\">" + ui.rowData["Order"]["ID"] + "</a>";
                           }
                       },
                       {
                            title: "店铺", width: 150, dataType: "string", dataIndx: "Shop.Title", editable: false

                        },
                        {
                            title: "主店铺", width: 70, dataType: "string", dataIndx: "Shop.Title", editable: false,
                            render: function (ui) {
                                if (ui.rowData["FromMainShop"] == true) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            }

                        },
                       {
                             title: "状态", width: 150, dataType: "string", dataIndx: "Status", editable: false, render: function (ui) {
                                 var cellData = ui.rowData["Status"];
                                 if (cellData == 0) {
                                     return "未入库";
                                 } else if (cellData == 1) {
                                     return "已经入库";
                                 }
                             }
                       },
                       {
                            title: "总金额", width: 150, dataType: "json", dataIndx: "Details", editable: false, render: function (ui) {
                                var details = ui.rowData["Details"];
                                var total = 0;
                                $(details).each(function (index, item) {
                                    total += (item.Quantity * item.Price);
                                });

                                return total;
                            }
                       },
                       { title: "采购员", width: 150, dataType: "string", dataIndx: "Order.Created_By.Mall_Name", editable: false },
                       { title: "验货人", width: 150, dataType: "string", dataIndx: "User.Mall_Name", editable: false },                       
                       { title: "验货日期", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false }
                     

        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [50, 60],
            getUrl: function (prgrid) {
                return {
                    url: "/api/Products/GetBuys", data: "page=" + this.curPage + "&pageSize=" + this.rPP
                };
            },
            getData: function (dataJSON) {
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        $("#buytable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $("<span id=\"add_cate\">入库</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-disk" } }).click(function (e) {
                var rowIndx = getRowIndx();
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[rowIndx];
                var oid = row["ID"]
                var status = row["Status"];
                var order = row.Order;
                var bDetails = null;
                if (status == 1) {
                    alert("此验货单已经入库");
                    return;
                }
                $('#popup-enter-stock').dialog({
                    position: { my: "top", at: "top", of: $("#buytable") },
                    width: 650,
                    //height:550,
                    resizable: false,
                    title: "采购验货单入库",
                    modal: true,
                    open: function (evt) {
                        var that = this;
                        
                        $(that).html('');
                        loadingBox = ShowProgress('page_loading', function () { }, "正在加载验货单信息，请等待...");
                        buyMgr.GetBuyDetails({ buy_id: oid }, function (res) {
                            loadingBox.hide();
                            $(that).append("<h4>可以到产品管理-产品信息-编辑 <a href=\"/Product/List\">添加库存属性</a></h4>");
                            var $shouse = $("<div class=\"row\"></div>").appendTo(that);
                            $("<label>仓库:</label>").appendTo($shouse);
                            var housesel=$("<select id=\"store_house\" class=\"W_inputsel\"></select>").appendTo($shouse);

                            stockMgr.GetStoreHouses({}, function (res) {
                                if (res != null && res != '' && typeof (res) == 'object') {
                                    $('<option value="0">--选择--</option>').appendTo(housesel);
                                    $(res.data).each(function (index,item) {
                                        $("<option value=\""+item.ID+"\">"+item.Name+"</option>").appendTo(housesel);
                                    });
                                }
                            });

                            $(that).append("<div class=\"row\"><dl class=\"dltitle\"><dt>产品/库存属性</dt><dd>数量</dd></dl></div>");

                            $(res).each(function (index1, item) {
                                var $divDetail = $("<div id=\"bd_" + oid + "_" + item .Product.ID+ "\" class=\"row\" style=\"height:auto;\"></div>").appendTo(that);
                                var $product = $("<dl id=\"m" + item.Product.ID + "_" + item.Price + "\" class=\"row\"></dl>").appendTo($divDetail);
                                $("<dt>"+item.Product.Title+"</dt>").appendTo($product);
                                $("<dd><input id=\"pdt_m_" + item.Product.ID +"\" class=\"W_input\" style=\"width:50px;\" value=\"" + item.Quantity + "\" readonly/><dd>").appendTo($product);
                                if (item.Product.Children != null) {                                   
                                    $(item.Product.Children).each(function (index2, child) {
                                        $p = $("<dl id=\"c" +child.ID + "\" class=\"row\"></dl>").appendTo($divDetail);
                                        if (child.Properties != null) {
                                            var propStrs = "";
                                            $(child.Properties).each(function (index3, prop) {                                                
                                                if (propStrs == "") {
                                                    propStrs =prop.PName+":"+ prop.PValue;
                                                } else {
                                                    propStrs += " " + prop.PName + ":" + prop.PValue;
                                                }
                                            });
                                        }
                                        $("<dt class=\"c\">" + propStrs + "</dt>").appendTo($p);
                                        var pQuantity = 0;
                                       
                                        if ($(item.Product.Children).size() == 1) {
                                            pQuantity = item.Quantity;
                                        }

                                        $("<dd><input id=\"pdt_m_" + child.ID + "\" class=\"W_input\" style=\"width:50px;\" value=\"" + pQuantity + "\"/><dd>").appendTo($p);
                                    });
                                }
                            });

                            $("<div id=\"update_stock\" class=\"row\"><span>更新库存<span>: <input class=\"W_input\" type=\"checkbox\" title=\"入库信息无误,并且以后不需要修改,可以直接更新库存\"> </div>").appendTo(that);
                        });
                    },
                    close: function (evt) {
                        
                    },
                    buttons: {
                        "保存": function () {
                            var that = this;
                            var stocks = "";
                            var verified = true;
                            var updateStock = 0;
                            var storeHouseId = $(that).find('#store_house').val();
                            if (storeHouseId == 0) {
                                alert("请选择仓库");
                                return;
                            }
                            $($(that).find("div[id^='bd_']")).each(function (index, detail) {
                                var totalQuantity = $(detail).find("dl[id^='m']").find("input").val();
                                var parent_pid = $(detail).find("dl[id^='m']").attr("id").split('_')[0];
                                parent_pid = parent_pid.replace("m", "");
                                var price = $(detail).find("dl[id^='m']").attr("id").split('_')[1];
                                var props = $(detail).find("dl[id^='c']");
                                var inputTotal = 0;
                                var stock = "";

                                if ($(props).size() == 0) {
                                    if (stock == "") {
                                        stock = parent_pid + ":" + totalQuantity+":"+price;
                                    } else {
                                        stock += "," + parent_pid + ":" + totalQuantity+":"+price;
                                    }
                                    
                                    if (stocks == "") {
                                        stocks = stock;
                                    } else {
                                        stocks += ";" + stock;
                                    }
                                } else {

                                    $(props).each(function (index1, prop) {
                                        if (isNaN($(prop).find("input").val())) {
                                            alert("数量必须是整数");
                                            verified = false;
                                            return;
                                        }
                                        inputTotal += parseInt($(prop).find("input").val());
                                        if (stock != "") {
                                            stock += "," + $(prop).attr("id").substring(1) + ":" + parseInt($(prop).find("input").val()) + ":" + price;
                                        } else {
                                            stock = $(prop).attr("id").substring(1) + ":" + parseInt($(prop).find("input").val()) + ":" + price;
                                        }
                                    });

                                    if (!verified) {
                                        return;
                                    }
                                    if (stocks == "") {
                                        stocks = stock;
                                    } else {
                                        stocks += ";" + stock;
                                    }
                                    if (inputTotal != totalQuantity) {
                                        alert("所有库存数量之和必须和验货单商品数量一致");
                                        verified = false;
                                    }
                                }
                            });

                            if ($(that).find("input[type='checkbox'").attr('checked') == 'checked') {
                                updateStock = 1;
                            } else {
                                updateStock = 0;
                            }

                            //alert(stocks);
                            //return;

                            if (verified) {
                                loadingBox = ShowProgress('page_loading', function () { }, "正在入库，请等待...");
                                var params = { buy_id: oid, update_stock: updateStock, stocks: stocks, house_id: storeHouseId };

                                stockMgr.EnterStockFromBuy(params, function (res) {
                                    if (res.Status == 'ok') {
                                        loadingBox.hide();
                                        $(that).dialog("close");
                                        $grid.pqGrid("refreshDataAndView");
                                    } else {
                                        alert(res.Message);
                                    }
                                });
                            }
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });

        $grid = $("#buytable").pqGrid(obj);

        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一行");
                return null;
            }
        }
    });
</script>
<div class="normallist">
     <div id="buytable"></div>
     <div id="popup-enter-stock" style="display:none;" class="ddlist">
        
     </div>
</div>
