@{
    ViewBag.Title = "采购订单管理";
    Layout = "~/Views/Shared/master_default.cshtml";
}

<script>
    var buyMgr = new KMJXCBuyManager();
    var pdtMgr = new KMJXCProductManager();
    var $grid = null;
    var suppliers;
    var shopUsers;
    var form;
    var selectedProducts = [];
    var productIndex = 1;
    var tmpProducts = null;
    $(function () {
        form = $('#neweditform');
        buyMgr.GetSuppliers({}, function (res) {
            suppliers = res.data;
        })

        buyMgr.GetUsers({page:1,pageSize:10000}, function (res) {
            shopUsers = res.data;
        }); 

        form.find("#order_supplier").change(function () {
            if ($(this).val() > 0) {
                form.find('#resultmessage').html("");
                form.find('#resultmessage').hide();
            } else {
                form.find('#resultmessage').html("请选择供应商");
                form.find('#resultmessage').show();
            }
        });

        form.find("#order_user").change(function () {
            if ($(this).val() > 0) {
                form.find('#resultmessage').html("");
                form.find('#resultmessage').hide();
            } else {
                form.find('#resultmessage').html("请选择采购");
                form.find('#resultmessage').show();
            }
        });

        var obj = {
            width: 859, height: 600, title: "采购订单列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {

            }
        };

        obj.colModel = [{
                            title: "编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false, render: function (ui) {
                                //return ui.rowData["ID"];
                                return "<a target=\"_blank\" href=\"/Buy/BuyOrderDetail/" + ui.rowData["ID"] + "\">" + ui.rowData["ID"] + "</a>";
                            }
                        },
                        {
                            title: "店铺", width: 150, dataType: "string", dataIndx: "Shop.Title", editable: false
                            
                        },
                        {
                            title: "主店铺", width: 70, dataType: "string", dataIndx: "Shop.Title", editable: false,
                            render: function (ui) {
                                if (ui.rowData["FromMainShop"] == true) {
                                    return "是";
                                } else {
                                    return "否";
                                }
                            }

                         },

                         {
                             title: "状态", width: 150, dataType: "integer", dataIndx: "Status", editable: false,
                             render: function (ui) {
                                 var cellData = ui.rowData["Status"];
                                 if (cellData == 0) {
                                     return "未验货";
                                 } else if (cellData == 1) {
                                     return "已验货，验货单已生成";
                                 } else if (cellData == 2) {
                                     return "验货未通过";
                                 }
                             }
                         },
                        { title: "供应商", width: 150, dataType: "string", dataIndx: "Supplier.Name", editable: false },
                        { title: "采购员", width: 150, dataType: "string", dataIndx: "OrderUser.Mall_Name", editable: false },
                        {
                            title: "产品种类", width: 150, dataType: "string", dataIndx: "Details", editable: false,
                            render: function (ui) {
                                return $(ui.rowData.Details).size()+" 种";
                            }
                        },
                        { title: "合同签订日期", width: 150, dataType: "timestamp", dataIndx: "WriteTime", editable: false },
                        { title: "合同生效日期", width: 150, dataType: "timestamp", dataIndx: "InsureTime", editable: false },
                        { title: "合同终止日期", width: 150, dataType: "timestamp", dataIndx: "EndTime", editable: false },
                        {
                            title: "总金额", width: 150, dataType: "json", dataIndx: "Details", editable: false, render: function (ui) {
                                var details = ui.rowData["Details"];
                                var total = 0;
                                $(details).each(function (index, item) {
                                    total += (item.Quantity * item.Price);
                                });

                                return total;
                            }
                        },
                       
                        { title: "录入员", width: 150, dataType: "string", dataIndx: "Created_By.Mall_Name", editable: false },
                        { title: "录入日期", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false },

        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [50,60,100],
            getUrl: function (prgrid) {
                return {
                    url: "/api/Products/GetBuyOrders", data: "page="+this.curPage+"&pageSize="+this.rPP
                };
            },
            getData: function (dataJSON) {
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        function InitializeNewForm() {
            form.find("#info").html("在产品输入框内输入产品名称关键字模糊搜索产品");
            form.find('#floatproductslist').hide();
            var sel_supplier = form.find('#order_supplier');
            sel_supplier.empty();

            var sel_user = form.find('#order_user');
            sel_user.empty();
            $("<option value=\"0\">--选择--</option>").appendTo(sel_supplier);
            $("<option value=\"0\">--选择--</option>").appendTo(sel_user);
            $(suppliers).each(function (index, item) {
                $("<option value=\"" + item.ID + "\">" + item.Name+ "</option>").appendTo(sel_supplier);
            });
            sel_supplier.removeAttr("disabled");

            form.find('#order_writedate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            }).val("");
            form.find('#order_issuedate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            }).val("");
            form.find('#order_enddate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            }).val("");

            if (shopUsers != null) {
                $(shopUsers).each(function (index,item) {
                    $("<option value=\"" + item.ID + "\">" + item.Mall_Name + "</option>").appendTo(sel_user);
                });

                sel_user.removeAttr("disabled");
            }

            form.find("#order_details").html("");
            form.find("#order_desc").val("");
            form.find('#resultmessage').html("");
            form.find('#resultmessage').hide();
            form.find('#order_desc').removeAttr("readonly");
            form.find('#order_comedatediv').hide();
            productIndex = 1;
        }

        $('#floatproductslist').find('#floatlistclose').click(function (e) {
            $('#floatproductslist').hide();
        });       

        function BindInputEvent(obj, i) {
            var that = obj;
            var supplier = form.find("#order_supplier").val();
            if (supplier == "" || supplier == 0) {
                form.find('#resultmessage').html("请选择供应商");
                form.find('#resultmessage').show();
                return;
            }

            form.find('#resultmessage').html("");
            form.find('#resultmessage').hide();

            var pdtName = $(that).val();
            if ($.trim(pdtName) == '') {
                $(that).parent().find("input[id^='order_detail_pdt_id']").val("");
            }
            var dheight = $('#popup-newedit-order').dialog("option", "height");
            var _pleft = $('#popup-newedit-order').offset().left;
            var _ptop = $('#popup-newedit-order').offset().top;
            var _left = $(that).offset().left;
            var _lineHeight = $(that).css("height");
            var _top = $(that).offset().top + (_lineHeight.split('px')[0]);
            _top = parseFloat(_top) + 23;// + parseFloat(_ptop) + 23;
            //alert(_top);
            $('#floatproductslist').css({
                "top": _top,
                "left": _left,
                "z-index": 999,
                "position": "absolute",
            }).show();

            pdtMgr.SearchProducts({ suppliers: supplier, keyword: $(that).val(), page: 1, pageSize: 30, include_prop: 1 }, function (res) {
                var $ui = $('#floatproductslist').find("ul");
                $ui.html("");
                tmpProducts = res.data;
                $(res.data).each(function (index, item) {
                    $("<li style=\"margin-right:20px;\" id=\"" + item.ID + "\" title=\"" + item.Title + "\"><span class=\"num\">编号:" + item.ID + "</span><span>名称:" + item.Title + "</span></li>").appendTo($ui).click(function (e) {
                        var pdtId = $(this).attr("id");
                        $('#floatproductslist').hide();
                        var invoked = that;
                        $(invoked).parent().find("input[id='order_detail_pdt_id" + i + "']").val(pdtId);
                        $(invoked).val($(this).attr("title"));
                        var $pdtDiv = $(invoked).parent();
                        $pdtDiv.find("ul").remove();
                        for (var j = 0; j < tmpProducts.length; j++) {
                            var product = tmpProducts[j];
                            if (product.ID == pdtId && product.Children != null) {
                                var $ul = $("<ul style=\"margin-left:90px;\"></ul>").appendTo($pdtDiv);
                                var pprice = $pdtDiv.find("input[id^='order_detail_pdt_p']").attr("readonly", true);
                                var pquantity = $pdtDiv.find("input[id^='order_detail_pdt_q']").attr("readonly", true);
                                $(product.Children).each(function (index1, item1) {
                                    var childId = item1.ID;
                                    var $li = $("<li value=\"" + childId + "\"></li>").appendTo($ul);
                                    var propNames = "";
                                    $(item1.Properties).each(function (index2, prop) {
                                        if (propNames == "") {
                                            propNames = prop.PName + ":" + prop.PValue;
                                        } else {
                                            propNames = "," + prop.PName + ":" + prop.PValue;
                                        }
                                    });

                                    $("<span style=\"width:226px;display:inline-block;text-align:center;\">" + propNames + "</span>").appendTo($li);
                                    $("<label>数量:</label>").appendTo($li);
                                    $("<input id=\"order_detail_cpdt_q" + childId + "\" type=\"text\" class=\"W_input iptW50\"/>").blur(function () {
                                        var q = $(this).val();
                                        if ($.trim(q) == "") {
                                            return;
                                        }
                                        if (isNaN(q)) {
                                            alert("数量必须是数字");
                                            $(this).val("");
                                            return;
                                        }
                                        var totalQ = 0;
                                        $pdtDiv.find("ul").find("li").each(function (e) {
                                            var q = $(this).find("input[id^='order_detail_cpdt_q']").val();
                                            if ($.trim(q) != "") {
                                                totalQ += parseInt(q);
                                            }
                                        });
                                        $(pquantity).val(totalQ);
                                    }).appendTo($li);
                                    $("<label>单价:</label>").appendTo($li);
                                    $("<input id=\"order_detail_cpdt_p" + childId + "\" type=\"text\" class=\"W_input iptW50\"/>").blur(function () {
                                        var p = $(this).val();
                                        if ($.trim(p) == "") {
                                            alert("价格必须整数或者小数，最多两位小数");
                                            return;                                            
                                        }

                                        if (!$.IsDecimal(p,2)) {
                                            $(this).val("");
                                            alert("价格必须整数或者小数，最多两位小数");
                                            return;
                                        }
                                    }).appendTo($li);
                                });
                            }
                        }
                    });
                });
            });
        }

        function RenderProductList(oDetailJson, generateBuy) {
            var $pdtList = form.find("#order_details");
            var index = productIndex - 1;
            var i = productIndex - 1;
            if (oDetailJson != null) {
                i = oDetailJson.Parent_Product_ID;
            }

            var pdtDiv = $($pdtList).find("#order_detail_" + i);

            if (pdtDiv.html() == null || pdtDiv.html() == "") {
                var pdtDiv = $("<div class=\"row\" id=\"order_detail_" + i + "\"></div>")
                var pdtIDHidden = $("<input type=\"hidden\" value=\"\" id=\"order_detail_pdt_id" + i + "\"/>").appendTo(pdtDiv);
                if (oDetailJson && oDetailJson != null) {
                    pdtIDHidden.val(oDetailJson.Parent_Product_ID);
                }
                var label1 = $("<label class=\"label1\">产品:</label>").appendTo(pdtDiv);
                var pdtNameInput = $("<input type=\"text\" id=\"order_detail_pdt_n" + i + "\" class=\"W_input\" style=\"width:220px;\" />");
                if (!generateBuy) {
                    $(pdtNameInput).focus(function () {
                        BindInputEvent(this, i);
                    });
                    $(pdtNameInput).bind("input", function (e) {
                        BindInputEvent(this, i);
                    });

                } else {
                    pdtNameInput.attr("readonly", "readonly");
                }

                if (oDetailJson && oDetailJson != null) {
                    pdtNameInput.val(oDetailJson.Product.Title);
                }

                pdtNameInput.appendTo(pdtDiv);
                $("<label>数量:</label>").appendTo(pdtDiv);
                var pdtQuantity = $("<input type=\"text\" id=\"order_detail_pdt_q" + i + "\" class=\"W_input iptW50\" />").blur(function () {

                    var q = $(this).val();
                    if ($.trim(q) == "") {
                        alert("数量不能为空");
                        return;
                    }

                    if (isNan(q)) {
                        alert("数量必须是整数");
                        return;
                    }

                }).appendTo(pdtDiv);
                $("<label>单价:</label>").appendTo(pdtDiv);
                var pdtPrice = $("<input type=\"text\" id=\"order_detail_pdt_p" + i + "\" class=\"W_input iptW50\" />").blur(function () {
                    var p = $(this).val();

                    if ($.trim(p) == "") {
                        alert("价格不能为空，且最多只能两位小数");
                        return;
                    }

                    if (!$.IsDecimal(p, 2)) {
                        alert("价格不能为空，且最多只能两位小数");
                        return;
                    }

                }).appendTo(pdtDiv);
                if (oDetailJson && oDetailJson != null) {
                    if (oDetailJson.Parent_Product_ID == oDetailJson.Product.ID) {
                        pdtQuantity.val(oDetailJson.Quantity);
                        pdtPrice.val(oDetailJson.Price);
                    } else {
                        pdtQuantity.attr("readonly", true);
                        pdtPrice.attr("readonly", true);
                    }
                } 

                //if (oDetailJson.Details != null && oDetailJson.Details.Length >= 1 && oDetailJson.Details[0].Product.ID!=oDetailJson.Product.ID) {
                //    var $ul = $("<ul style=\"margin-left:90px;\"></ul>").appendTo(pdtDiv);
                //}

                if (!generateBuy) {
                    if (index == 0) {
                        $("<img style=\"margin-left:30px;\" src=\"/Content/images/add.png\"/>").click(function (e) {
                            var that = this;
                            var pv = $(this).parent();
                            var productName = pv.find("input[id^='order_detail_pdt_n']").val();
                            var productQuantity = pv.find("input[id^='order_detail_pdt_q']").val();
                            var productPrice = pv.find("input[id^='order_detail_pdt_p']").val();
                            if (productName == "") {
                                form.find('#resultmessage').html("请选择产品，可以输入关键字搜索对应产品");
                                form.find('#resultmessage').show();
                                return;
                            }

                            if ($(pv).find("ul") == null || $(pv).find("ul").html() == null) {
                                if (productQuantity == "" || productPrice == "") {
                                    form.find('#resultmessage').html("请输入数量以及价格");
                                    form.find('#resultmessage').show();
                                    return;
                                }

                                if (isNaN(productQuantity)) {
                                    form.find('#resultmessage').html("产品数量必须是数字");
                                    form.find('#resultmessage').show();
                                    return;
                                }

                                var prices = productPrice.split(".");
                                if (prices.length > 0) {
                                    for (var i = 0; i < prices.length; i++) {
                                        if (isNaN(prices[i])) {
                                            form.find('#resultmessage').html("产品单价必须是数字，可带小数");
                                            form.find('#resultmessage').show();
                                            return;
                                            break;
                                        }
                                    }
                                }
                            }

                            form.find('#resultmessage').html("");
                            form.find('#resultmessage').hide();
                            //productIndex++;
                            RenderProductList();
                        }).appendTo(pdtDiv);
                    } else {
                        $("<img style=\"margin-left:30px;\" src=\"/Content/images/remove.gif\"/>").click(function (e) {
                            var index = i;
                            form.find("#order_details").find("#order_detail_" + i).remove();
                            //productIndex--;
                        }).appendTo(pdtDiv);
                    }
                }

                productIndex++;
            }

            if (oDetailJson != null) {
                if (oDetailJson.Parent_Product_ID != oDetailJson.Product.ID) {

                    var pq = $(pdtDiv).find("input[id^='order_detail_pdt_q']").val();
                    if (pq != "") {
                        $(pdtDiv).find("input[id^='order_detail_pdt_q']").val(parseInt(pq) + parseInt(oDetailJson.Quantity))
                    } else {
                        $(pdtDiv).find("input[id^='order_detail_pdt_q']").val(parseInt(oDetailJson.Quantity))
                    }

                    var childId = oDetailJson.Product.ID;
                    var $ul = pdtDiv.find("#order_detail_skus_" + oDetailJson.Parent_Product_ID);
                    if ($ul == null || $ul.html() == null || $ul.html() == "") {
                        $ul=$("<ul style=\"margin-left:90px;\" id=\"order_detail_skus_" + oDetailJson.Parent_Product_ID + "\"></ul>").appendTo(pdtDiv);
                    }
                    var $li = $("<li value=\"" + childId + "\"></li>");                    
                    var propNames = "";
                    $(oDetailJson.Product.Properties).each(function (i, prop) {
                        if (propNames == "") {
                            propNames = prop.PName + ":" + prop.PValue;
                        } else {
                            propNames += ","+prop.PName + ":" + prop.PValue;
                        }
                    });

                    $("<span style=\"width:226px;display:inline-block;text-align:center;\">" + propNames + "</span>").appendTo($li);
                    $("<label>数量:</label>").appendTo($li);
                    $("<input id=\"order_detail_cpdt_q" + childId + "\" type=\"text\" class=\"W_input iptW50\"/>").blur(function () {
                        var pquantity = $(this).parent().parent().parent().find("input[id^='order_detail_pdt_q']");
                        var q = $(this).val();
                        if ($.trim(q) == "") {
                            return;
                        }
                        if (isNaN(q)) {
                            alert("数量必须是数字");
                            $(this).val("");
                            return;
                        }
                        var totalQ = 0;

                        $(this).parent().parent().find("li").each(function (e) {
                            var q = $(this).find("input[id^='order_detail_cpdt_q']").val();                            
                            if ($.trim(q) != "") {
                                totalQ += parseInt(q);
                            }
                        });
                        $(pquantity).val(totalQ);
                    }).val(oDetailJson.Quantity).appendTo($li);
                    $("<label>单价:</label>").appendTo($li);
                    $("<input id=\"order_detail_cpdt_p" + childId + "\" type=\"text\" class=\"W_input iptW50\"/>").val(oDetailJson.Price).appendTo($li);
                    $ul.append($li);
                }
            }

            pdtDiv.appendTo($pdtList);
        }

        function GetFillOrderForm(orderJson, generateBuy) {
            
            form.find("#order_id").val(orderJson.ID);
            var sel_supplier = form.find('#order_supplier');
            sel_supplier.empty();

            var sel_user = form.find('#order_user');
            sel_user.empty();
            $("<option value=\"0\">--选择--</option>").appendTo(sel_supplier);
            $("<option value=\"0\">--选择--</option>").appendTo(sel_user);
            sel_supplier.attr("disabled", "disabled");
           
            $(suppliers).each(function (index, item) {
                $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo(sel_supplier);
            });
            
            sel_supplier.val(orderJson.Supplier.Supplier_ID);            
           
            form.find('#order_writedate').val(buyMgr.GetDateTime(orderJson.WriteTime, true));
            form.find('#order_issuedate').val(buyMgr.GetDateTime(orderJson.InsureTime, true));
            form.find('#order_enddate').val(buyMgr.GetDateTime(orderJson.EndTime, true));
           
            if (!generateBuy && generateBuy == false) {
                form.find('#order_writedate').datepicker({
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                    onSelect: function (dateText, inst) {
                        // _this.CheckFilterRows();
                    }
                });
                form.find('#order_issuedate').datepicker({
                    currentText: buyMgr.GetDateTime(orderJson.InsureTime),
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                    onSelect: function (dateText, inst) {
                        // _this.CheckFilterRows();
                    }
                });
                form.find('#order_enddate').datepicker({
                    currentText: buyMgr.GetDateTime(orderJson.EndTime),
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                    onSelect: function (dateText, inst) {
                        // _this.CheckFilterRows();
                    }
                });
            } else {
               
                form.find('#order_writedate').datepicker("destroy");
                form.find('#order_enddate').datepicker("destroy");
                form.find('#order_issuedate').datepicker("destroy");
            }

            if (shopUsers != null) {
                $(shopUsers).each(function (index, item) {
                    $("<option value=\"" + item.ID + "\">" + item.Mall_Name + "</option>").appendTo(sel_user);
                });
                sel_user.val(orderJson.OrderUser.ID);
                sel_user.attr("disabled", "disabled");
            }

            form.find('#order_desc').val(orderJson.Description);

            if (orderJson.Details != null && $(orderJson.Details).size() > 0) {
                productIndex = 1;
                $(orderJson.Details).each(function (index, item) {
                    RenderProductList(item, generateBuy);
                    productIndex++;
                });
            } else {
                RenderProductList(null, generateBuy);
            }

            if (generateBuy && generateBuy == true) {               
                form.find('#order_desc').attr("readonly", "readonly");
                form.find('#order_comedatediv').show();
                form.find('#order_comedate').datepicker({
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                    onSelect: function (dateText, inst) {
                        // _this.CheckFilterRows();
                    }
                });
            }
        }

        function SaveOrder(generateBuy) {
            var error = "";
            var supplier = form.find("#order_supplier").val();
            var user = form.find("#order_user").val();
            var desc = form.find('#order_desc').val();
            var oid = form.find("#order_id").val();
            if ($.trim(supplier) == 0) {
                error = "请选择供应商";
            }

            if ($.trim(user) == 0) {
                if (error == "") {
                    error = "请选择采购";
                } else {
                    error += "<br/>请选择采购员";
                }
            }

            if (error != "") {
                form.find('#resultmessage').html(error);
                form.find('#resultmessage').show();
                return;
            }

            var writedate = form.find("#order_writedate").val();
            var issuedate = form.find("#order_issuedate").val();
            var enddate = form.find("#order_enddate").val();

            form.find('#resultmessage').html("");
            form.find('#resultmessage').hide();

            var products = "[";
            var details = form.find("#order_details").find("div[id^='order_detail_']");
            var verified = true;
            if ($(details).size() > 0) {
                for (var i = 0; i < $(details).size() ; i++) {
                    var detail = details[i];
                    var pid = $(detail).find("input[id^='order_detail_pdt_id']").val();
                    var pQuantity = $(detail).find("input[id^='order_detail_pdt_q']").val();
                    var pPrice = $(detail).find("input[id^='order_detail_pdt_p']").val();
                    var pJson = "{";
                    if (pid != "" && pid != 0) {
                        if ($(detail).find("ul") == null || $(detail).find("ul") == 'undefined' || $(detail).find("ul").html() == null) {

                            if (pPrice == "" || pQuantity == "") {
                                verified = verified & false;
                                form.find('#resultmessage').html("请输入价格和数量");
                                form.find('#resultmessage').show();
                                return;
                            }

                            if (isNaN(pQuantity)) {
                                verified = verified & false;
                                form.find('#resultmessage').html("数量必须是整数");
                                form.find('#resultmessage').show();
                                return;
                            }

                            if (!$.IsDecimal(pPrice,2)) {
                                verified = verified & false;
                                form.find('#resultmessage').html("价格不能为空，并且只能最多两位小数");
                                form.find('#resultmessage').show();
                                return;
                            }

                            pJson += "\"product_id\":" + pid;
                            pJson += ",\"orders\":[";
                            pJson += "{\"child_id\":" + pid + ",\"price\":" + pPrice + ",\"quantity\":" + pQuantity + "}";
                            pJson += "]";
                        } else {
                            var pJson = "{";
                            pJson += "\"product_id\":" + pid;
                            pJson += ",\"orders\":[";
                            var len = $(detail).find("ul").find("li").size();

                            $(detail).find("ul").find("li").each(function (index1, prop) {
                                var cpid = $(prop).val();
                                var price = $(prop).find("input[id^='order_detail_cpdt_p']").val();
                                var quantity = $(prop).find("input[id^='order_detail_cpdt_q']").val();

                                if (price == "" || quantity == "") {
                                    verified = verified & false;
                                    form.find('#resultmessage').html("请输入价格和数量");
                                    form.find('#resultmessage').show();
                                    return false;
                                }


                                if (isNaN(quantity)) {
                                    verified = verified & false;
                                    form.find('#resultmessage').html("数量必须是整数");
                                    form.find('#resultmessage').show();
                                    return false;
                                }

                                if (!$.IsDecimal(price, 2)) {
                                    verified = verified & false;
                                    form.find('#resultmessage').html("价格不能为空，并且只能最多两位小数");
                                    form.find('#resultmessage').show();
                                    return false;
                                }

                                var cpJson = "{\"child_id\":" + cpid + ",\"price\":" + price + ",\"quantity\":" + quantity + "}";
                                pJson += cpJson;
                                if (index1 < (len - 1)) {
                                    pJson += ",";
                                }
                            });
                            pJson += "]";
                        }
                    }

                    pJson += "}";

                    products += pJson;
                    if (i < ($(details).size() - 1)) {
                        products += ","
                    }
                }
            }

            if (!verified) {
                return;
            }            
            products += "]";
          
            if (!generateBuy) {
                if (oid == "" || oid == 0) {
                    buyMgr.CreateBuyOrder(
                        {
                            'description': desc,
                            'writedate': writedate,
                            'issuedate': issuedate,
                            'enddate': enddate,
                            'supplier': supplier,
                            'order_user': user,
                            'order_products': encodeURIComponent(products)
                        }, function (res) {
                            if (res.Status == 'ok') {
                                $('#popup-newedit-order').dialog("close");
                                $grid.pqGrid("refreshDataAndView");
                            } else {
                                form.find('#resultmessage').html(res.Message);
                                form.find('#resultmessage').show();
                            }
                        });
                } else {
                    buyMgr.UpdateBuyOrder(
                        {
                            'oid': oid,
                            'description': desc,
                            'writedate': writedate,
                            'issuedate': issuedate,
                            'enddate': enddate,
                            'supplier': supplier,
                            'order_user': user,
                            'order_products': encodeURIComponent(products)
                        }, function (res) {
                            if (res.Status == 'ok') {
                                $('#popup-newedit-order').dialog("close");
                                $grid.pqGrid("refreshDataAndView");
                            } else {
                                form.find('#resultmessage').html(res.Message);
                                form.find('#resultmessage').show();
                            }
                        });
                }
            } else {
                //generate buy
                var verifydesc = form.find("#order_verify_desc").val();
                var comedate = form.find("#order_comedate").val();

                buyMgr.VerifyOrder(
                        {
                            'oid': oid,
                            'description': verifydesc,
                            'comedate': comedate,
                            'order_products': encodeURIComponent(products)
                        }, function (res) {
                            if (res.Status == 'ok') {
                                $('#popup-newedit-order').dialog("close");
                                $grid.pqGrid("refreshDataAndView");
                            } else {
                                form.find('#resultmessage').html(res.Message);
                                form.find('#resultmessage').show();
                            }
                        });
            }
        }

        $("#buyorderstable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));

            $("<span id=\"add_cate\">添加</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-plus" } }).click(function (evt) {
                $('#popup-newedit-order').dialog({
                    position: { my: "top", at: "top", of: $("#buyorderstable") },
                    width: 650,
                    //height:550,
                    resizable: false,
                    title: "添加采购订单",
                    modal: true,
                    open: function (evt) {
                        InitializeNewForm();
                        RenderProductList();
                        form.find("#order_id").val("");
                    },
                    close: function (evt) {
                        $('#floatproductslist').hide();
                    },
                    buttons: {
                        "保存": function () {
                            SaveOrder(false);
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }                    
                });

                $('#popup-newedit-order').dialog("open");
            });

            //$("<a id=\"get_ccate\" href=\"/Buy/AddOrder\">添加</a>").appendTo($toolbar).button({ icons: { primary: "ui-icon-plus" } });

            $("<span id=\"get_ccate\">编辑</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (evt) {

                var rows = getRowIndx();
                if (rows == null || rows.length == 0) {
                    alert("请选择一条采购单");
                    return;
                }

                if (rows.length > 1) {
                    alert("只能选择一条采购单进行编辑");
                    return;
                }

                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[rows[0]];
                var oid = row["ID"]
                var status = row["Status"];
                if (status == 1) {
                    alert("此订单已经验货，不能修改任何信息");
                    return;
                }
                $('#popup-newedit-order').dialog({
                    position: { my: "top", at: "top", of: $("#buyorderstable") },
                    width: 650,
                    //height:550,
                    resizable: false,
                    title: "编辑采购订单",
                    modal: true,
                    open: function (evt) {
                        InitializeNewForm();                      
                        GetFillOrderForm(row,false);
                    },
                    close: function (evt) {
                        $('#floatproductslist').hide();
                    },
                    buttons: {
                        "保存": function () {
                            SaveOrder(false);
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $('#popup-newedit-order').dialog("open");
            });
            $("<span id=\"get_ccate\">生成验货单</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-newwin" } }).click(function (evt) {
                var rows = getRowIndx();
                if (rows == null || rows.length == 0) {
                    alert("请选择一条采购单");
                    return;
                }

                if (rows.length > 1) {
                    alert("只能选择一条采购单");
                    return;
                }
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[rows[0]];
                var oid = row["ID"]
                var status = row["Status"];
                if (status == 1) {
                    alert("此订单已经生成过验货单");
                    return;
                }

                if ($(row.Details).size() == 0) {
                    alert("此采购订单没有任何产品，请先添加产品信息到采购订单");
                    return;
                }
                $('#popup-newedit-order').dialog({
                    position: { my: "top", at: "top", of: $("#buyorderstable") },
                    width: 650,
                    //height:550,
                    resizable: false,
                    title: "生成采购订单验货单",
                    modal: true,
                    open: function (evt) {
                        InitializeNewForm();
                        //RenderProductList();   
                        form.find("#info").html("生成验货单时可修改产品价格和数量，如果未变化，请保留原值，直接点生成");
                        GetFillOrderForm(row,true);
                    },
                    close: function (evt) {
                        $('#floatproductslist').hide();
                    },
                    buttons: {
                        "生成验货单": function () {
                            SaveOrder(true);
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $('#popup-newedit-order').dialog("open");
            });

            $toolbar.disableSelection();
        });

        $grid = $("#buyorderstable").pqGrid(obj);

        function getRowIndx() {
            var rows = [];
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    var rowIndx = arr[i].rowIndxPage;
                    rows.push(rowIndx);
                }

                return rows;
            }
            else {
                return null;
            }
        }
    });

</script>

<div class="normallist" >
    <div id="buyorderstable"></div>
    <div id="popup-newedit-order" style="display:none;">
        <form id="neweditform">
            <input  type="hidden" id="order_id" value=""/>
            <h4 id="info">在产品输入框内输入产品名称关键字模糊搜索产品</h4>
            <div class="row">
                <label class="label1">供应商:</label><select id="order_supplier" class="W_input W_inputsel"></select>
            </div>
            <div class="row">
                <label class="label1">采购员:</label><select id="order_user" class="W_input W_inputsel"></select>
            </div>
            <div class="row">
                <label class="label1">合同签订日期:</label><input readonly class="W_input" id="order_writedate" />
            </div>
            <div class="row">
                <label class="label1">合同生效日期:</label><input readonly class="W_input" id="order_issuedate" />
            </div>
             <div class="row">
                <label class="label1">合同结束日期:</label><input readonly class="W_input" id="order_enddate" />
            </div>
            <div class="row">
                <label class="label1">采购备注:</label><textarea class="W_input" id="order_desc"></textarea>
            </div>
           
            <div class="row" style="height:auto;" id="order_details">               
            </div> 
            <div class="row" id="order_comedatediv" style="height:auto;display:none;">
                <div class="row">
                    <label class="label1">到货日期:</label><input type="text"  id="order_comedate" class="W_input"/>
                </div>
                <div class="row">
                    <label class="label1">验货备注:</label><textarea class="W_input" id="order_verify_desc"></textarea>
                </div>
            </div>         
            <div id="resultmessage" class="message1 nolabel90" style="height:auto;display:none;"></div>
        </form>
    </div>
    <div id="floatproductslist" style="display:none;">
        <ul class="floatlist" style="border:1px solid #ccc;background-color:#FFF; width:500px;height:auto;">
            
        </ul>
        <span id="floatlistclose" class="floatlistclose"></span>
    </div>
</div>

