@{
    ViewBag.Title = "采购订单管理";
    Layout = "~/Views/Shared/master_default.cshtml";
}

<script>
    var buyMgr = new KMJXCBuyManager();
    var pdtMgr = new KMJXCProductManager();
    var $grid = null;
    var suppliers;
    var shopUsers;
    var form;
    var selectedProducts = [];
    $(function () {
        form = $('#neweditform');
        buyMgr.GetSuppliers({}, function (res) {
            suppliers = res.data;
        })

        buyMgr.GetUsers({page:1,pageSize:10000}, function (res) {
            shopUsers = res.data;
        });        
        
        form.find("#order_details").find("div[id^='order_detail']").find("input[id^='order_detail_pdt_n']").bind("input", function (e) { 
            var that = this;
            var dheight = $('#popup-newedit-order').dialog("option", "height");
            
            var _pleft = $('#popup-newedit-order').offset().left;
            var _ptop = $('#popup-newedit-order').offset().top;
            var _left = $(that).offset().left;
            
            var _lineHeight = $(that).css("height");
            
            var _top = $(that).offset().top + (_lineHeight.split('px')[0]);
           
            _left = _left - _pleft;
            _top = _top - _ptop+23;           
           
            form.find('#floatproductslist').css({
                "top": _top,
                "left": _left,
                "z-index": 999,
                "position": "absolute",
            }).show();

            pdtMgr.SearchProducts({keyword:$(that).val(),page:1,pageSize:30}, function (res) {
                var $ui = form.find('#floatproductslist');
                $ui.html("");
                $(res.data).each(function (index, item) {
                                   
                    $("<li id=\"" + item.ID + "\" title=\"" + item.Title + "\"><span class=\"num\">编号:" + item.ID + "</span><span>名称:" + item.Title + "</span></li>").appendTo($ui).click(function (e) {
                        var pdtId = $(this).attr("id");
                        form.find('#floatproductslist').hide();
                        var invoked = that;
                        $(invoked).parent().parent().find("input[id^='order_detail_pdt_id']").val(pdtId);
                        $(invoked).val($(this).attr("title"));
                    });
                });
            });            

            //var floatHeight = form.find('#floatproductslist').height();
            //$('#popup-newedit-order').dialog({ height: dheight + floatHeight });
        });

        var obj = {
            width: 830, height: 600, title: "采购订单列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {

            }
        };
       
        obj.colModel = [{ title: "编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false },                        
                        { title: "创建者", width: 150, dataType: "string", dataIndx: "Created_By.Mall_Name", editable: false },
                        { title: "创建日期", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false },

        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [50,60,100],
            getUrl: function (prgrid) {
                return {
                    url: "/api/Products/GetBuyOrders", data: "page="+this.curPage+"&pageSize="+this.rPP
                };
            },
            getData: function (dataJSON) {
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        function InitializeNewForm() {

            form.find('#floatproductslist').hide();
            var sel_supplier = form.find('#order_supplier');
            sel_supplier.empty();

            var sel_user = form.find('#order_user');
            sel_user.empty();
            $("<option value=\"0\">--选择--</option>").appendTo(sel_supplier);
            $("<option value=\"0\">--选择--</option>").appendTo(sel_user);
            $(suppliers).each(function (index, item) {
                $("<option value=\"" + item.ID + "\">" + item.Name+ "</option>").appendTo(sel_supplier);
            });

            form.find('#order_writedate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            });
            form.find('#order_issuedate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            });
            form.find('#order_enddate').datepicker({
                currentText: "Now",
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true,
                onSelect: function (dateText, inst) {
                    // _this.CheckFilterRows();
                }
            });

            if (shopUsers != null) {
                $(shopUsers).each(function (index,item) {
                    $("<option value=\"" + item.ID + "\">" + item.Mall_Name + "</option>").appendTo(sel_user);
                });
            }
        }

        $("#buyorderstable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));

            $("<span id=\"add_cate\">添加</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-circle-plus" } }).click(function (evt) {
                $('#popup-newedit-order').dialog({
                    width: 650,
                    height:550,
                    resizable: false,
                    title: "添加采购订单",
                    modal: true,
                    open: function (evt) {
                        InitializeNewForm();
                    },
                    close: function (evt) { },
                    buttons: {
                        "保存": function () { },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }                    
                });

                $('#popup-newedit-order').dialog("open");
            });
            $("<span id=\"get_ccate\">编辑</span>").appendTo($toolbar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (evt) {

            });

            $toolbar.disableSelection();
        });

        $grid = $("#buyorderstable").pqGrid(obj);

        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一行");
                return null;
            }
        }

    });

</script>

<div class="normallist" >
    <div id="buyorderstable"></div>
    <div id="popup-newedit-order" style="display:none;">
        <form id="neweditform">
            <div class="row">
                <label class="label1">供应商:</label><select id="order_supplier" class="W_input W_inputsel"></select>
            </div>
            <div class="row">
                <label class="label1">采购员:</label><select id="order_user" class="W_input W_inputsel"></select>
            </div>
            <div class="row">
                <label class="label1">合同签订日期:</label><input readonly class="W_input" id="order_writedate" />
            </div>
            <div class="row">
                <label class="label1">合同生效日期:</label><input readonly class="W_input" id="order_issuedate" />
            </div>
             <div class="row">
                <label class="label1">合同结束日期:</label><input readonly class="W_input" id="order_enddate" />
            </div>
            <div class="row" style="height:auto;" id="order_details">
                <div class="row" id="order_detail_0">
                    <input type="hidden" value="" id="order_detail_pdt_id0"/>
                    <label class="label1">产品:</label><input type="text" id="order_detail_pdt_n0" class="W_input" /> <label>数量:</label><input type="text" id="order_detail_pdt_q0" class="W_input iptW50" /> <label>价格:</label><input type="text" id="order_detail_pdt_p0" class="W_input iptW50" />
                </div>
            </div>

            
            <ul id="floatproductslist" class="floatlist" style="display:none;border:1px solid #ccc;background-color:#FFF; width:400px;height:auto;">
                
            </ul>
        </form>
    </div>
</div>

