@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/master_corp.cshtml";
}

<script>
    $(function () {
        $('#tabs').tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#help">使用帮助</a></li>
    </ul>
    <div id="help">
        <div id="helpIndex">
           
        </div>
        <div id="buy">

        </div>       
        <div id="product">

        </div>
        <div id="trade">

        </div>
    </div>
</div>
