@{
    ViewBag.Title = "使用帮助";
    Layout = "~/Views/Shared/master_corp.cshtml";
    KM.JXC.DBA.Corp_Info info = null;
    if (Model != null)
    {
        info = (KM.JXC.DBA.Corp_Info)Model;
    }
 }
<script>
    $(function () {
        $('#tabs').tabs();
    });

</script>

<div id="tabs">
    <ul>
        <li>
            <a href="#features">使用帮助</a>
        </li>
    </ul>
    <div id="features">        
       @if (info != null) { 
        @Html.Raw(info.Help)
       }
    </div>
</div>

