@{
    ViewBag.Title = "管理权限分组";
    Layout = "~/Views/Shared/master_default.cshtml";
}

<script>
    var perMgt = new KMJXCPermissionManager();
    $(function () {

        function GetAdminRoles(div, status) {
            $('#droleActionsList').html("");
            $('#roleActionsList').html("");
            perMgt.GetAdminRoles({ 'enabled': status }, function (res) {
                if (res != null) {
                    if (res.Status == "ok") {
                        if (res.Item != null && res.Item != "") {
                            var $rolesList = $('#' + div);
                            var $ul = $rolesList.find("ul");
                            $ul.html("");
                            $(res.Item).each(function (index, item) {
                                $("<li class=\"\" value=\"" + item.ID + "\">" + item.Name + "</li>").appendTo($ul);
                            });

                        }
                    }
                }
            });
        }

        $('#tab').tabs({
            activate: function (event, ui) {
                var id = ui.newTab.attr("id");
                if (id == "disabledRole") {
                    GetAdminRoles("drolesList", 0);
                } else if (id == "enabledRole") {
                    GetAdminRoles("rolesList", 1);                    
                }
            }
        });
        $(document).tooltip();
        GetAdminRoles("rolesList", 1);

        $('#drolesList').find("ul").delegate("li", "click", function (evt) {            
            var $list = $('#droleActionsList');
            var role_id = $(this).attr("value");
            var that = this;

            if ($(that).hasClass("sel")) {
                $(that).removeClass("sel");
                $list.html("");
                return;
            };

            $(that).addClass("sel");
            var parent = $(that).parent();
            $(parent).find("li").each(function (index, item) {
                var id = $(this).attr("value");
                if (id != role_id) {
                    $(this).removeClass("sel");
                }
            });

            perMgt.GetAdminActions({ 'role': role_id }, function (res) {
                if (res != null) {
                    if (res.Status == "ok") {
                        $list.html("");
                        $(res.Item).each(function (index, item) {
                            var categoryName = item.Category.Name;
                            var $group = $("<div class=\"singlePG\"></div>").appendTo($list);
                            var $title = $("<div class=\"title accatetitle\"></div>").appendTo($group);                           
                            $("<span>" + categoryName + "</span>").appendTo($title);
                            var $pUl = $("<ul class=\"ulchk\"></ul>").appendTo($group);
                            $(item.Actions).each(function (index1, item1) {
                                if (item1.HasPermission == true) {
                                    $("<li class=\"liprefx1\"><input checked value=\"" + item1.ID + "\" type=\"checkbox\"/><span style=\"margin-left:3px;\">" + item1.Description + "</span></li>").appendTo($pUl);
                                } else {
                                    $("<li class=\"liprefx1\"><input value=\"" + item1.ID + "\" type=\"checkbox\"/><span style=\"margin-left:3px;\">" + item1.Description + "</span></li>").appendTo($pUl);
                                }
                            });
                        });
                    }
                }
            });
        });

        $('#rolesList').find("ul").delegate("li", "click", function (evt) {
            var $list = $('#roleActionsList');
            var role_id = $(this).attr("value");
            var that = this;
            
            if ($(that).hasClass("sel")) {
                $(that).removeClass("sel");               
                $list.html("");
                return;
            };

            $(that).addClass("sel");          
            var parent = $(that).parent();
            $(parent).find("li").each(function (index, item) {
                var id = $(this).attr("value");
                if (id != role_id) {
                    if ($(this).hasClass("sel")) {
                        $(this).removeClass("sel");                                       
                    }                    
                }
            });

            perMgt.GetAdminActions({'role':role_id}, function (res) {
                if (res != null) {
                    if (res.Status == "ok") {                      
                        $list.html("");
                        $(res.Item).each(function (index, item) {
                            var categoryName = item.Category.Name;
                            var $group = $("<div class=\"singlePG\"></div>").appendTo($list);
                            var $title = $("<div class=\"title accatetitle\"></div>").appendTo($group);
                            $("<input type=\"checkbox\"/>").appendTo($title).change(function (e) {
                                var checked = $(this).attr("checked");
                                var $acList = $(this).parent().parent().find("ul");
                                if (checked == "checked") {
                                    if ($acList != null && $acList.html() != "") {
                                        $acList.find("li").each(function (idx, li) {
                                            $(li).find("input[type='checkbox']").attr("checked", true);
                                        });
                                    }
                                } else {
                                    if ($acList != null && $acList.html() != "") {
                                        $acList.find("li").each(function (idx, li) {
                                            $(li).find("input[type='checkbox']").removeAttr("checked");
                                        });
                                    }
                                }
                            });
                            $("<span>"+categoryName+"</span>").appendTo($title);
                            var $pUl = $("<ul class=\"ulchk\"></ul>").appendTo($group);
                            $(item.Actions).each(function (index1, item1) {
                                if (item1.HasPermission == true) {
                                    $("<li class=\"liprefx1\"><input checked value=\"" + item1.ID + "\" type=\"checkbox\"/><span style=\"margin-left:3px;\">" + item1.Description + "</span></li>").appendTo($pUl);
                                } else {
                                    $("<li class=\"liprefx1\"><input value=\"" + item1.ID + "\" type=\"checkbox\"/><span style=\"margin-left:3px;\">" + item1.Description + "</span></li>").appendTo($pUl);
                                }
                            });
                        });
                    }
                }
            });
        });

        $('#btn_add_role').button({ icons: { primary: "ui-icon-plusthick" } }).click(function (e) {
            $('#popup_newedit').dialog({
                position: { my: "top", at: "top", of: $("#roleDiv") },
                width: 850,
                //height:550,
                resizable: false,
                title: "添加权限分组",
                modal: true,
                open: function () {
                    perMgt.GetAdminActions({}, function (res) {
                        if (res != null) {
                            if (res.Status == "ok") {
                                var $list = $('#f_permission_list');
                                $(res.Item).each(function (index, item) {
                                    var categoryName = item.Category.Name;
                                    var $group = $("<div class=\"singlePG\"></div>").appendTo($list);
                                    var $title = $("<div class=\"title accatetitle\"></div>").appendTo($group);
                                    $("<input type=\"checkbox\"/>").appendTo($title).change(function (e) {
                                        var checked = $(this).attr("checked");
                                        var $acList = $(this).parent().parent().find("ul");
                                        if (checked == "checked") {
                                            if ($acList != null && $acList.html() != "") {
                                                $acList.find("li").each(function (idx, li) {
                                                    $(li).find("input[type='checkbox']").attr("checked", true);
                                                });
                                            }
                                        } else {
                                            if ($acList != null && $acList.html() != "") {
                                                $acList.find("li").each(function (idx, li) {
                                                    $(li).find("input[type='checkbox']").removeAttr("checked");
                                                });
                                            }
                                        }
                                    });
                                    $("<span>" + categoryName + "</span>").appendTo($title);
                                    var $pUl = $("<ul class=\"ulchk\"></ul>").appendTo($group);
                                    $(item.Actions).each(function (index1, item1) {
                                        $("<li class=\"liprefx1\"><input value=\"" + item1.ID + "\" type=\"checkbox\"/><span style=\"margin-left:3px;\">" + item1.Description + "</span></li>").appendTo($pUl);
                                    });
                                });
                            }
                        }
                    });
                },
                close: function () {
                    $('#f_permission_list').html("").hide();
                    $("#f_role_grant_rights").removeAttr("checked");
                },
                buttons: [
                    {
                        text: "保存", click: function () {
                            SaveRole();
                        },
                        icons: { primary: "ui-icon-disk" }
                    },
                    {
                        text: "取消", click: function () {
                            $(this).dialog("close");
                        },
                        icons: { primary: "ui-icon-close" }
                    }
                ]
            });

            $('#popup_newedit').dialog("open");
        });

        function SaveRole() {
            var role_id = $('#f_role_id').val();
            var role_name = $('#f_role_name').val();
            var desc = $('#f_role_desc').val();
            var actions = "";
            if (role_name == "") {
                alert("请输入分组名称");
                return;
            }
            if (role_name.length > 6) {
                alert("最多只允许六个汉字");
                return;
            }
            $('#f_permission_list').find("input[type='checkbox']").each(function () {
                var checked = $(this).attr("checked");
                var id = $(this).attr("value");
                if (checked == 'checked') {
                    if (actions == "") {
                        actions = id;
                    } else {
                        actions += "," + id;
                    }
                }
            });

            if (role_id == 0) {
                //check if the name is existed
            }           

            perMgt.CreateRole({'role':role_name,'desc':desc,'actions':actions}, function (res) {
                if (res != null) {
                    if (res.Status == "ok") {
                        var role = res.Item;
                        var $rolesList = $('#rolesList');
                        var $ul = $rolesList.find("ul");
                        $("<li value=\""+role.ID+"\">" + role.Name + "</li>").appendTo($ul);
                        $('#f_role_id').val("");
                        $('#f_role_name').val("");
                        $('#popup_newedit').dialog("close");
                    } else {
                        alert(res.Message);
                    }
                }
            });
        }

        $('#btn_update_role').button({ icons: { primary: "ui-icon-pencil" } }).click(function (e) {
            var actions = "";
            var role_id = 0;
           
            $('#roleActionsList').find("input[type='checkbox']").each(function () {
                var checked = $(this).attr("checked");
                var id = $(this).attr("value");
                if (checked == 'checked') {
                    if (actions == "") {
                        actions = id;
                    } else {
                        actions += "," + id;
                    }
                }
            });

            $('#rolesList').find("ul").find("li").each(function (index, item) {

                if ($(this).hasClass("sel")) {
                    role_id = $(this).attr("value");                   
                }
            });

            if (role_id == 0) {
                alert("请先选择一个分组（鼠标点击分组名称），然后再更新权限");
                return;
            }

            perMgt.UpdateRoleActions({ 'role': role_id, 'actions': actions }, function (res) {
                if (res.Status == 'ok') {
                    alert("权限更新成功");
                } else {
                    alert("权限更新失败:"+res.Message);
                }
            });
        });

        $('#btn_disable_role').button({ icons: { primary: "ui-icon-locked" } }).click(function (e) {
            var role_id = 0;
            var found = false;
            var that = this;
            var obj = null;
            $('#rolesList').find("ul").find("li").each(function (index, item) {
                         
                if ($(this).hasClass("sel")) {
                    role_id = $(this).attr("value");
                    found = true;
                    obj = this;
                }
            });

            if (!found) {
                alert("请先选择一个分组（鼠标点击分组名称），然后点击禁用分组");
                return;
            }
            
            perMgt.SetAdminRoleStatus({ 'role': role_id, 'status': 0 }, function (res) {
                if (res.Status == 'ok') {
                    $('#roleActionsList').html("");
                    $(obj).remove();
                }
            })
        });

        $('#dbtn_enable_role').button({ icons: { primary: "ui-icon-unlocked" } }).click(function (e) {
            var role_id = 0;
            var found = false;
            var obj = null;
            $('#drolesList').find("ul").find("li").each(function (index, item) {
                
                if ($(this).hasClass("sel")) {
                    role_id = $(this).attr("value");
                    found = true;
                    obj = this;
                }
            });

            if (!found) {
                alert("请先选择一个分组（鼠标点击分组名称），然后点击启用分组");
                return;
            }

            perMgt.SetAdminRoleStatus({ 'role': role_id, 'status': 1 }, function (res) {
                if (res.Status == 'ok') {
                    $('#droleActionsList').html("");
                    $(obj).remove();
                }
            })
        });

        $("#f_role_grant_rights").change(function (e) {
            var checked = $(this).attr("checked");
            if (checked == "checked") {
                $('#f_permission_list').show();
            } else {
                $('#f_permission_list').hide();
            }
        });
    });
</script>

<div id="tab">
    <ul>
        <li id="enabledRole"><a href="#roleDiv">可用的分组</a></li>
        <li id="disabledRole"><a href="#disabledRoleDiv">禁用的分组</a></li>
    </ul>
    <div id="roleDiv" class="list prefx1">
        <div id="topBar" class="list prefx2">            
            <div id="menubar" class="row">
               <span id="btn_add_role">添加分组</span>
               <span id="btn_update_role">更新权限</span>
               <span id="btn_disable_role">禁用分组</span>
            </div>
            <div id="message" class="row message1" style="display:none;"></div>
        </div>
        <div id="rolesList" class="list prefx2">
           <ul class="ulhlist"></ul>
        </div>
        <div id="roleActionsList" style="overflow:hidden;">

        </div>
    </div>
    <div id="disabledRoleDiv" class="list prefx1">
        <div id="dtopBar" class="list prefx2">            
            <div id="dmenubar" class="row">              
               <span id="dbtn_enable_role">启用分组</span>
            </div>
            <div id="dmessage" class="row message1" style="display:none;"></div>           
        </div>
        <div id="drolesList" class="list prefx2">
                <ul class="ulhlist"></ul>
        </div>
        <div id="droleActionsList" style="overflow:hidden;">

        </div>
    </div>
</div>

<div id="popup_newedit" style="display:none;">
    <input type="hidden" value="0" id="f_role_id"/>
    <div class="rowS">
        <label class="label1" style="text-align:left;">分组名称:</label><input id="f_role_name" class="W_input" type="text" value=""/>
    </div>
    <div class="rowS">
        <label class="label1" style="text-align:left;">分组描述:</label><textarea class="W_input" id="f_role_desc"></textarea>
    </div>
    <div class="rowS">
        <label class="label1" style="text-align:left;">分配权限:</label><input id="f_role_grant_rights" type="checkbox" />
    </div>
    <div class="rowS" style="height:auto;display:none;" id="f_permission_list">
        
    </div>
</div>
