@{
    ViewBag.Title = "销售退库单查询";
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var saleMgr = new KMJXCSaleManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#editnewform');
        var obj = {
            width: 859, height: 600, title: "销售退货单列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {               
                var pdtId = obj.data[obj.rowIndxPage]['ID'];               
            },
            freezeCols: 3
        };

        obj.colModel = [                                           
                        
                        {
                            title: "退货编号", width: 70, dataType: "integer", dataIndx: "BackSaleID", editable: false,
                            //render: function (ui) {
                            //    return "<a href=\"/Stock/BackSaleDetail/" + ui.rowData["Sale"].ID + "\" target=\"_blank\">" + ui.rowData["Sale"].ID + "</a>";
                            //}
                        },

                       
                        {
                            title: "状态", width: 100, dataType: "string", dataIndx: "Status", editable: false,
                            render: function (ui) {
                                if (ui.rowData["Status"] == 0) {
                                    return "未处理";
                                } else if (ui.rowData["Status"] == 1) {
                                    return "已经退库";
                                } else if (ui.rowData["Status"] == 2) {
                                    return "部分报损";
                                } else if (ui.rowData["Status"] == 3) {
                                    return "全部报损";
                                }
                            }
                        },
                        { title: "商城订单号", width: 150, dataType: "string", dataIndx: "BackSale.Sale.Sale_ID", editable: false },
                        { title: "产品", width: 200, dataType: "string", dataIndx: "Product.Title", editable: false },
                        { title: "退货数量", width: 150, dataType: "string", dataIndx: "Quantity", editable: false },
                       
                      
                        { title: "退货员", width: 150, dataType: "string", dataIndx: "BackSale.Created_By.Mall_Name", editable: false },
                        { title: "退货日期", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false },
                        {
                             title: "店铺", width: 100, dataType: "string", dataIndx: "BackSale.Shop.Title", editable: false,
                             render: function (ui) {
                                 if (ui.rowData["BackSale"].Shop.FromMainShop == "true") {
                                     return ui.rowData["BackSale"].Shop.Title + " 主店铺";
                                 } else if (ui.rowData["BackSale"].Shop.FromChildShop == "true") {
                                     return ui.rowData["BackSale"].Shop.Title + " 子店铺";
                                 } else {
                                     return ui.rowData["BackSale"].Shop.Title;
                                 }
                             }
                        }
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40, 50, 60, 100],
            getUrl: function (prgrid) {
                var sale_id = $($searchform).find("#sale_id").val();
                var sdate = $($searchform).find("#back_sdate").val();
                var edate = $($searchform).find("#back_edate").val();
                var status = $($searchform).find("#sale_status").val();
                return {
                    url: "/api/Sale/SearchBackSaleDetails", data: "page=" + this.curPage + "&pageSize=" + this.rPP + "&sale_id=" + sale_id + "&sdate=" + sdate + "&edate=" + edate+"&status="+status
                };
            },
            getData: function (dataJSON) {                
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }

       

        $("#backSaleTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $("<span id=\"add_cate\">处理</span>").appendTo($menubar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (e) {
                var selectedRows = getRowIndx();
                if (selectedRows == null) {
                    alert("请至少选择一行进行处理");
                    return;
                }
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                
                for (var i = 0; i < selectedRows.length; i++) {
                    if (data[selectedRows[i]]["Status"] != 0) {
                        alert("请不要选择已经处理过的退货单");
                        return;
                    }
                }

                $('#popup_handle_backsale').dialog({
                    position: { my: "top", at: "top", of: $("#backSaleTable") },
                    width: 550,
                    //height:550,
                    resizable: false,
                    title: "退货处理",
                    modal: true,
                    open: function () {
                        $('#back_sale_type').val(0);
                    },
                    close: function () {
                        var that = this;
                        $(that).html("");
                    },
                    buttons: {
                        "确定": function () {
                            var status = $(this).find("#back_sale_type").val();
                            if (status == 0) {
                                alert("请选择处理类型");
                                return;
                            }
                            var jsonBS = "";
                            if (status == 2) {
                                jsonBS = "[";
                                if (selectedRows.length > 1) {
                                    alert("选择部分退库，部分损耗时，只能选择一行数据进行处理");
                                    return;
                                }

                                var q = $(this).find('#wasteQuantity').val();
                                var bsId = data[selectedRows[0]]["BackSaleID"];
                                var oId = data[selectedRows[0]]["Order_ID"];
                                var quantity = data[selectedRows[0]]["Quantity"];

                                if ($.trim(q) == "") {
                                    alert("损耗数量必须填写");
                                    return;
                                }

                                if (isNaN(q)) {
                                    alert("损耗数量必须是数字并且要小于等于退货数量");
                                    return;
                                }

                                if (q>quantity) {
                                    alert("损耗数量必须小于等于退货数量");
                                    return;
                                }

                                jsonBS += "{\"back_sale_id\":" + bsId + ",\"orders\":[{\"order_id\":\""+oId+"\",\"quantity\":"+q+"}]}]";                              
                            } else {
                                jsonBS = "[";
                                var order_id = "";
                                var backSale_id = "";
                                var sale_id = [];
                                var hasHandled = false;
                                for (var i = 0; i < selectedRows.length; i++) {
                                    var bsId = data[selectedRows[i]]["BackSaleID"];
                                    var oId = data[selectedRows[i]]["Order_ID"];
                                    if (data[selectedRows[i]]["Status"] != 0) {
                                        hasHandled = true;
                                    }

                                    var found = false;
                                    for (var j = 0; j < sale_id.length; j++) {
                                        if (sale_id[j] == bsId) {
                                            found = true;
                                            break;
                                        }
                                    }

                                    if (!found) {
                                        sale_id.push(bsId);
                                    }
                                }

                                
                                for (var j = 0; j < sale_id.length; j++) {
                                    var json = "{";
                                    var ebsId = sale_id[j];
                                    json += "\"back_sale_id\":" + ebsId + ",\"orders\":[";

                                    var orderCount = 0;
                                    for (var i = 0; i < selectedRows.length; i++) {
                                        var bsId = data[selectedRows[i]]["BackSaleID"];
                                        var oId = data[selectedRows[i]]["Order_ID"];
                                        var quantity = data[selectedRows[i]]["Quantity"];
                                        if (bsId == ebsId) {
                                            var orderJson = "{\"order_id\":\"" + oId + "\",\"quantity\":" + quantity + "}";
                                            if (orderCount == 0) {
                                                json += orderJson;
                                            } else {
                                                json += "," + orderJson;
                                            }
                                            orderCount++;
                                        }
                                    }
                                    json += "]}";
                                    if (j < (sale_id.length - 1)) {
                                        jsonBS += json + ",";
                                    } else {
                                        jsonBS += json;
                                    }
                                }
                                jsonBS += "]";
                                if (hasHandled) {
                                    alert("请不要选择已经处理过的退货单");
                                    return;
                                }
                            }

                            alert(jsonBS);
                            jsonBS = encodeURIComponent(jsonBS);
                            saleMgr.HandleBackSaleDetail(
                                {                                   
                                    'back_sales': jsonBS,
                                    'status':status
                                },
                                function (res) {
                                    if (res.Status == "ok") {
                                        $grid.pqGrid("refreshDataAndView");
                                        new MessageBox("处理完毕", 800);
                                    } else {
                                        new MessageBox("操作失败: " + res.Message, 1500);
                                    }
                                }
                            );

                        },
                        "关闭": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });


            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"rowS\" style=\"padding-top:1px;padding-bottom:1px;\"></div>").appendTo($searchform);
            $("<label class=\"wd1\">状态:</label>").appendTo($srow);
            var $status = $("<select id=\"sale_status\" class=\"W_inputsel\"></select>").appendTo($srow);
            $("<option value=\"\">--所有--</option>").appendTo($status);
            $("<option value=\"0\">未处理</option>").appendTo($status);
            $("<option value=\"1\">已经退库</option>").appendTo($status);
            $("<option value=\"2\">已经报损</option>").appendTo($status);
            $("<label class=\"wd1\">订单:</label>").appendTo($srow);
            $("<input id=\"sale_id\" title='销售单编号' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {

            });
            var $srow1 = $("<div class=\"rowS\" style=\"padding-top:2px;padding-bottom:2px;\"></div>").appendTo($searchform);
            $("<label class=\"wd1\">日期:</label>").appendTo($srow1);
            $("<input id=\"back_sdate\" title='开始日期' type='text' class='W_input' style='height:22px;'/>").appendTo($srow1).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<span> 到 </span>").appendTo($srow1);
            $("<input id=\"back_edate\" title='结束日期' type='text' class='W_input searchField' style='height:22px;'/>").appendTo($srow1).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                   .appendTo($srow1)
                   .button({ text: true, icons: { primary: "ui-icon-search" } }).bind("click", function (evt) {
                       $grid.pqGrid("refreshDataAndView");
                   });
        });

        $grid = $("#backSaleTable").pqGrid(obj);

        $('#back_sale_type').change(function () {
            var status = $(this).val();
            if (status == 2) {
                $('#back_sale_wastage').show();
            } else {
                $('#back_sale_wastage').hide();
            }
        });

        function getRowIndx() {
            var rows = [];
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    rows.push(arr[i].rowIndx);
                }
                return rows;
            }
            else {
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="backSaleTable"></div>
    <div id="popup_handle_backsale" style="display:none;">
        <div class="row">
            <label>处理类型:</label><select class="W_inputsel" id="back_sale_type">
                                        <option value="0">--选择--</option>
                                        <option value="1">全部退库，更新库存</option>
                                        <option value="2">部分损耗，部分退库</option>
                                        <option value="3">全部损耗，不退库</option>
                                </select>
        </div>
        <div class="row" id="back_sale_wastage" style="display:none;">
            <label>损耗数量:</label><input id="wasteQuantity" type="text" class="W_input"/>
        </div>
    </div>    
</div>


