@{
    ViewBag.Title = "客户列表";
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#editnewform');
        var obj = {
            width: 859, height: 600, title: "客户列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {               
                var pdtId = obj.data[obj.rowIndxPage]['ID'];               
            },
            freezeCols:2
        };

        obj.colModel = [                                           
                        
                        //{
                        //    title: "客户编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false,
                        //    //render: function (ui) {
                        //    //    return "<a href=\"/Stock/BackSaleDetail/" + ui.rowData["Sale"].ID + "\" target=\"_blank\">" + ui.rowData["Sale"].ID + "</a>";
                        //    //}
                        //},

                        {
                            title: "归属店铺", width: 200, dataType: "string", dataIndx: "Shop.Title", editable: false,
                            render: function (ui) {                               
                                if (ui.rowData["FromMainShop"] == "true") {
                                    return ui.rowData["Shop"].Title + " 主店铺";
                                } else if (ui.rowData["FromChildShop"] == "true") {
                                    return ui.rowData["Shop"].Title + " 子店铺";
                                } else {                                   
                                    return ui.rowData["Shop"].Title;
                                }
                            }
                        },
                        { title: "商城昵称", width: 150, dataType: "string", dataIndx: "Mall_ID", editable: false },
                        { title: "姓名", width: 150, dataType: "string", dataIndx: "Name", editable: false },
                        { title: "电话", width: 150, dataType: "string", dataIndx: "Phone", editable: false },
                        { title: "地址", width: 150, dataType: "string", dataIndx: "Address", editable: false },
                        { title: "E-Mail", width: 150, dataType: "string", dataIndx: "Email", editable: false }
                       
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 40,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40,60,80],
            getUrl: function (prgrid) {
              
                return {
                    url: "/api/Shop/SearchCustomer", data: "page=" + this.curPage + "&pageSize=" + this.rPP
                };
            },
            getData: function (dataJSON) {                
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }

       

        $("#customerTable").on("pqgridrender", function (evt, obj) {
            //var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            //var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this)); 
            //$searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            
        });

        $grid = $("#customerTable").pqGrid(obj);


        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndxPage;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一行");
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="customerTable"></div>
    <form id="editnewform">
        <div id="popup_editnewdiv">

        </div>
    </form>
    
</div>


