@{
    ViewBag.Title = "订单同步";
}
<script>
    var tradeMger = new KMJXCSaleManager();
    var $syncForm = null;
    $(function () {
        $syncForm = $('#syncForm');
        $syncForm.find('#trade_status').empty();
        var tradeStatus = tradeMger.GetTradeStatusForSyncTrade();
        //alert(tradeStatus);
        $syncForm.find('#trade_status').append("<option value=\"\">--所有--</option>");
        $(tradeStatus).each(function (index, item) {
            
            if (item.selected && item.selected == true) {               
                $syncForm.find('#trade_status').append("<option selected value=\"" + item.value + "\">" + item.name + "</option>");
            } else {
                $syncForm.find('#trade_status').append("<option value=\"" + item.value + "\">" + item.name + "</option>");
            }            
        });

        $syncForm.find('#trade_sdate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
        });

        $syncForm.find('#trade_edate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
        });

        tradeMger.InitializeHour($syncForm.find('#trade_sdate_hour'), 0);
        //$syncForm.find('#trade_sdate').attr("readonly", true);
        tradeMger.InitializeHour($syncForm.find('#trade_edate_hour'), 0);
        tradeMger.InitializeMinute($syncForm.find('#trade_sdate_minute'), 0);
        tradeMger.InitializeMinute($syncForm.find('#trade_edate_minute'), 0);

        tradeMger.GetLastSyncTime({}, function (res) {
            var stime = new Date();
            var etime = null;
            var year = 0;
            var month = 0;
            var day = 0;
            if (res != null) {
                //alert(tradeMger.GetDateTime(res.LastTradeStartEndTime));
                stime = new Date(res.LastTradeStartEndTime * 1000);
                //$syncForm.find('#trade_sdate_hour').attr("disabled", true);
                //$syncForm.find('#trade_sdate_minute').attr("disabled", true)
               
            } else {
                stime = new Date();
                stime.setHours(0);
                stime.setMinutes(0);                       
            }

            year = stime.getFullYear();
            month = (stime.getMonth() + 1) > 10 ? (stime.getMonth() + 1) : "0" + (stime.getMonth() + 1).toString();
            day = stime.getDate() > 10 ? stime.getDate() : "0" + stime.getDate().toString();

            $syncForm.find('#trade_sdate').val(year + "-" + month + "-" + day);
            $syncForm.find('#trade_sdate_hour').val(stime.getHours());
            $syncForm.find('#trade_sdate_minute').val(stime.getMinutes());

            etime = stime.getTime() + (24 * 60 * 60 * 1000);
            etime=new Date(etime);
            var eyear = etime.getFullYear();
            var emonth = (etime.getMonth() + 1) > 10 ? (etime.getMonth() + 1) : "0" + (etime.getMonth() + 1).toString();
            var eday = etime.getDate() > 10 ? etime.getDate() : "0" + etime.getDate().toString();
            $syncForm.find('#trade_edate').val(eyear + "-" + emonth + "-" + eday);
            $syncForm.find('#trade_edate_hour').val(etime.getHours());
            $syncForm.find('#trade_edate_minute').val(etime.getMinutes());
        });

        $syncForm.find('#trade_incre').change(function (e) {
            var checked = $(this).attr("checked");
            if (checked == "checked") {
                $syncForm.find("#trade_time_range").hide();
            } else {
                $syncForm.find("#trade_time_range").show();
            }
        });

        $syncForm.find('#trade_btn_sync').button().click(function (e) {
            var strat = $syncForm.find('#trade_sdate').val() + " " + $syncForm.find('#trade_sdate_hour option:selected').text() + ":" + $syncForm.find('#trade_sdate_minute option:selected').text() + ":000";
            var end = "";
            var sdate = null;
            var edate = null;
            var syncType = 0;
            var increSync = $syncForm.find('#trade_incre').attr("checked");
            if (increSync == "checked") {
                syncType = 1;
            } else {
                syncType = 0;
                sdate = new Date(Date.parse(strat));
                if ($syncForm.find('#trade_edate').val() != "") {
                    end = $syncForm.find('#trade_edate').val() + " " + $syncForm.find('#trade_edate_hour option:selected').text() + ":" + $syncForm.find('#trade_edate_minute option:selected').text() + ":000";
                    edate = new Date(Date.parse(end));
                } else {
                    edate = new Date(sdate.getTime() + 24 * 60 * 60 * 1000);
                }

                if (!edate.GTE(sdate)) {
                    alert("结束时间必须大于开始时间");
                    return;
                }
            }            
            
            var stime = 0;
            var etime = 0;
            if (sdate != null) {
                stime = sdate.getTime() / 1000;
            }
            if (edate != null) {
                etime = edate.getTime() / 1000;
            }

            var $progress = new ShowProgress("sync_trade_progress_bar", function () { },"正在同步，同步过程中，不要关闭浏览器，请耐心等待...");

            tradeMger.SyncMallTrades({
                'start': stime,
                'end': etime,
                'status': $syncForm.find('#trade_status').val(),
                'syncType': syncType
            }, function (res) {
                Boxy.get($('#sync_trade_progress_bar')).hide();
                getSyncLog();
            });
        });

        $('#orderSync').tabs();
        getSyncLog();
        function getSyncLog() {
            tradeMger.SearchTradeSyncLog({ 'page': 1, 'pageSize': 20 }, function (res) {
                var $container = $syncForm.find('#syncLogDiv');
                $container.html("");
                var header = $("<div class=\"row\"></div>").appendTo($container);
                $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">同步时间</div>").appendTo(header);
                $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">同步用户</div>").appendTo(header);
                $("<div class=\"cell\" style=\"width:70px;padding-right:10px;\">类型</div>").appendTo(header);
                $("<div class=\"cell\" style=\"width:200px;padding-right:10px;\">条件</div>").appendTo(header);
                $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">店铺</div>").appendTo(header);

                if (res != null && res.totalRecords > 0) {
                    $(res.data).each(function (index, item) {
                        var row = $("<div class=\"row\"></div>").appendTo($container);
                        $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">" + tradeMger.GetDateTime(item.LastSyncTime) + "</div>").appendTo(row);
                        $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">" + item.User.Mall_Name + "</div>").appendTo(row);
                        var syncType = "";
                        var condition = "";
                        if (item.Type == 0) {
                            syncType = "一般同步";
                            condition = "按照交易创建时间同步，交易创建时间的截止时间:" + tradeMger.GetDateTime(item.LastStartEndTime);
                        } else if (item.Type == 1) {
                            syncType = "增量同步";
                            condition = "按照交易修改时间同步，交易修改时间的截止时间:" + tradeMger.GetDateTime(item.LastModifiedEndTime);
                        }
                        $("<div class=\"cell\" style=\"width:70px;padding-right:10px;\">" + syncType + "</div>").appendTo(row);
                        $("<div class=\"cell\" style=\"width:200px;padding-right:10px;\">" + condition + "</div>").appendTo(row);
                        $("<div class=\"cell\" style=\"width:150px;padding-right:10px;\">" + item.Shop.Title + "</div>").appendTo(row);
                        // var condition="";
                        //$("<div class=\"cell\" style=\"width:200px;\">" + tradeMger.GetDateTime(item.LastSyncTime) + "</div>").appendTo(row);
                    });
                }
            });
        }
    });
</script>

<div id="orderSync">
    <form id="syncForm">
        <ul>
            <li><a href="#syncDiv">交易同步</a></li>      
            <li><a href="#syncLogDiv">同步日志</a></li>
        </ul>
         <div id="syncDiv">
             <p>
                 同步主要有两种方式<br/>
                 1. 按照交易的创建时间（同步时必须输入开始和结束时间），下次同步的开始时间是上次同步的结束时间<br/>
                 2. 按照交易的修改时间，选择增量同步，无需输入时间范围，此方式可以同步方式1中修改过的交易，比如退货，或者部分退货
             </p>
             <div class="rowS">
                 <label>订单状态:</label><select class="W_inputsel" id="trade_status"></select>
             </div>
             <div class="rowS">
                 <label>增量同步:</label><input type="checkbox" id="trade_incre" title="使用交易修改时间进行同步，同步之前某时间段内的交易"/>
             </div>
             <div id="trade_time_range">
                 <div class="rowS">
                     <label>开始时间:</label><input class="W_input" id="trade_sdate" /> <select class="W_inputsel" id="trade_sdate_hour"></select> <select class="W_inputsel" id="trade_sdate_minute"></select>
                 </div>
                    <div class="rowS">
                     <label>结束时间:</label><input class="W_input" id="trade_edate" /> <select class="W_inputsel" id="trade_edate_hour"></select> <select class="W_inputsel" id="trade_edate_minute"></select>
                 </div>
             </div>
             <div class="rowS nolabel1">
                 <span id="trade_btn_sync">同步</span>
             </div>
         </div>
         <div id="syncLogDiv" class="lstable" style="overflow:hidden">

         </div>
    </form>   
</div>
