body {
    font-size: 12px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #555;
    background-color: #efefef;
    
    line-height:22px;
}

input,select {
    margin:0px;vertical-align: middle;
}

a:hover {
text-decoration:underline;
}
a {
color:#36c;
text-decoration:none;
}
ul {
    list-style:none;
    border:0;
    margin:0;
    padding:0;
}
img {
    vertical-align:middle;
    cursor:pointer;
}
label {
    text-align:center;
    width:60px;
    display:inline-block;
}
.W_input,.W_inputsel {
border: 1px solid #ccc;
border-radius: 2px;
height: 20px;
padding: 1px;
padding-left:3px;
margin-left: 0px;
vertical-align: middle;
color: #808080;
-webkit-box-shadow: 0px 1px 1px 0px #eaeaea inset;
-moz-box-shadow: 0px 1px 1px 0px #eaeaea inset;
box-shadow: 0px 1px 1px 0px #eaeaea inset;
}
.W_inputsel {
height:24px;
}
.W_input_btn {    
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 24px;
    margin-left: 0px;
    vertical-align: middle;
    color: #666;
    background: rgb(238, 238, 238);
    cursor:pointer;
}

    .W_input_btn:hover {
        border:1px solid #555555;
    }

.iptW50 {
    width:50px;
}

.iptW80 {
    width:80px;
}
.iptW100 {
    width:100px;
}
.iptW300 {
    width:300px;
}
header, footer, nav, section {
    display: block;
}

textarea {
    width:250px;
    height:50px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;resize:none;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.jheader {
    width:100%;
    background:#FFF;
    position:fixed;
    z-index:99;
}
.jxcMain,.jxcfoot,.jxcHeader {margin: 0 auto;width:1070px;overflow: hidden;}
.jxcfoot {
    text-align: center;
    margin-top:15px;
    margin-bottom:50px;
}
.jxcMain,.jxcHeader {
background-color:#FFF;
padding:10px 10px;
border: 1px solid #ddd;

background: #fff;
border-radius: 6px;
border-top-left-radius:0px;
border-top-right-radius:0px;
box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, .30);
/* vertical-align: top; */

}

.jxcHeader {
    border:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    margin-bottom:4px;
    overflow:hidden;
}
.jxcHeader .head_logo {
    float:left;
    margin-right:10px;
    /*background-image:url("/Content/images/app_icon.jpg");*/
}
    .jxcHeader a {
        margin-right:5px;
        margin-left:5px;
        display:inline-block;
    }
.btn1 {
    padding-left:15px;padding-right:15px;
    cursor:pointer;
}

.sel1 {
    height:24px;
}
.jxcLeftMenu {
    float:left;
    padding-right:10px;    
}
    .jxcLeftMenu .menu_wd1 {
        width:160px;
        
    }

.jxcRight {
    margin-top:2px;    
    float:left;
    width:862px;
    background-color:#FFF;
    min-height:600px;
}

.jxcfoot .item{
   display:inline-block;
   text-decoration:none;
   color:#FFF;
   padding:3px 10px 3px 10px;
}
    .jxcfoot .item:hover {
        color:#0073B2;
    }

.jxcLogin {
    /*
    border: 1px solid #E0E0E0;
        box-shadow: 0 0 3px 0 #E0E0E0;
        */
    border-radius: 8px;    
    background: #FFF;
    text-align:center;
    margin: 0 auto;
    overflow:hidden;
}
.loginS1 {
    padding:10px 10px;
    width:500px;
    height:150px;
    background-color:#6c828f;
}

.loginS2 {    
    background-color:#FFF;
    height:100%;
}

.jxcLogin .loginItem {
    display:block;    
    padding-top:10px;
    padding-bottom:10px;
    width:120px;
    background-color:#7b9ebd;
    margin:auto auto;
}
.jxcLogin .itemContainer {
    text-align:center;
}
.jxcLogin .loginItem a {
   display:block;
   color:#FFFFFF;
   text-decoration:none;
   font-size:14px;
   font-weight:bold;
}

.jxcLeftMenu ul {
    list-style:none;
    margin:0;
    padding:0;
}
    .jxcLeftMenu ul li {
        display:block;
    }
.menuItem {
    background-color: #7b9ebd;
    border-radius: 2px;
    text-align: center;
    width: 100px;
    margin-bottom:2px;
    margin-top:4px;
}
    .menuItem a {
        display: block;
        text-decoration: none;
        color: #FFFFFF;       
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
    }
.menuContainer {
    padding-left:0px;
}
    .jxcLeftMenu ul li {
        padding:1px 2px 1px 2px;
        /*background-color:#FFF;*/
    }
        .jxcLeftMenu ul li .link,.jxcLeftMenu ul li .links {              
              display: block;
              text-decoration: none;
              height:25px;
              line-height:25px;   
              color:#555;    
        }
        .jxcLeftMenu ul li .links {            
            color:#31a2e0;
            /*color:#3b5998;*/
        }
        .jxcLeftMenu ul li:hover {
            
        }
            .jxcLeftMenu ul li .link:hover {                
                color:#31a2e0;
               /*color:#3b5998;*/
            }
.newCategory {
}

.message1 {
        border: 1px solid #ccc;
        border-radius: 2px;
        color:#ed0e0e;
        margin-bottom:5px;    
        text-align:left;
        background-color:#f8fbef;         
        padding-left:10px;
    }

.normallist {
    /*padding:10px 10px;*/    
}
.row, .rowS {
    overflow:hidden;
    padding-top:3px;padding-bottom:3px;
}
.b1 {
    border-bottom: 1px dotted #666666;
}
.f1 {
    font-size:13px;
}
.row label{
    width:55px;
    text-align:right;
    padding-right:5px;
}
.rowS label {
    display:inline-block;
    text-align:center;
}
.rowS .wd1 {
    width:50px;
}
.rowS .gdl,.rowS .gdll {
    width:auto;
    margin-right:10px;    
}
.rowS .gdll {
    margin-left:10px;
}
.row .label1{
    width:85px;
}
.row .searchField {
    margin-left:10px;
}
.nolabel1 {
    padding-left:60px;
}

.nolabel2 {
    margin-left:60px;
}

.nolabel90 {
    margin-left:90px;
}
    .row dl {
        overflow:hidden;
        margin:0px;
        display:block;
        height:35px;
        line-height:35px;
        border-bottom:1px solid #eaeaea;
    }
    .row dl dt {
        margin:0;
        float:left;
        width:100px;
        padding-right:20px;
    }
        .row dl dt .cn1 {
            display:inline-block;
            padding-left:25px;
        }
        
    .row dl dd {
        display:inline-block;
        margin:0;
        float:left;
        width:100px;
        padding-right:20px;
    }

        .row dl dd .l1 {
            display:inline-block;
            text-decoration:none;
            color:#555;
        }

        .row dl dd .l1:hover {           
            color:#0073B2;
        }
        .row dl .w1 {
            width:200px;
        }
        .row dl .w2 {
            width:60px;
        }
        .row dl .f1 {
            font-weight:bold;
            font-size:13px;
        }
.normalul {
    
}

.propul {
    margin-left:60px;
    height:auto;

}
    .propul li {
        padding-left:10px;
        padding-right:10px;
        border:1px solid #E0E0E0;
        margin-right:4px;
    }
.piclist {
    overflow:hidden;
}
    .piclist li {
        float:left;
        margin-right:5px;
        margin-bottom:5px;
        border:1px solid #E0E0E0;
        padding:3px 3px;
    }
        .piclist li p {
            text-align:center;
            margin-top:2px;
            margin-bottom:2px;
        }
        .piclist li img {
            width:182px;
        }
    .normalul li {
        padding-top:3px;
        padding-bottom:3px;
        height:25px;
        line-height:25px;
    }
    .normalul first {        
        padding-bottom:3px;
    }
    .normalul li .simg {
        display:inline-block;
        padding-left:5px;
    }
    .normalul li .simg img {
        vertical-align:middle;
        cursor:pointer;
    }
.product {
    padding-top:10px;
    float:left;
}

.title {
    border-bottom:2px solid #7b9ebd;
    font-size:14px;
    font-weight:bold;
}

.ui-dialog *
{
    font-family:Tahoma;
    font-size:12px;
}
.ui-dialog form#crud-form
{
    margin-top:20px;
}
.ui-dialog form#crud-form input
{
    width:230px;
    overflow:visible;/*fix for IE*/
}
.ui-dialog form#crud-form td.label
{
    font-weight:bold;padding-right:5px;
}
div.pq-grid-toolbar-crud
{
    text-align:center;
}
.ulhlist {
    overflow:hidden;
}
.ulchk {
    
}
.ulnormalList {

}
    .ulnormalList li {
       border-bottom:1px solid #eeeeee;
       padding: 5px 5px;
    }
        .ulnormalList li:hover {
             background-color:#eeeeee;
        }
        .ulnormalList li span {
            padding-left:5px;
        }
    .ulchk li, .ulhlist li{
        padding: 5px 5px;
        
        display:block;
    }
.ulhlist li {float:left; border-radius:3px;border:1px solid #eeeeee;padding-top:2px;padding-bottom:2px;margin-right:5px;width:100px;text-align:center;}
        .ulchk li:hover,.ulhlist li:hover {
            background-color:#eeeeee;
            cursor:pointer;
        }
        .ulchk li span {
            margin-left:5px;
            display:inline-block;
        }
    .ulchk .sel,.ulhlist .sel {
        background-color:#eeeeee;
    }
.floatlist {
    padding:2px 2px;
}
    .floatlist li span {
        display:inline-block;
        padding-left:5px;
    }
    .floatlist li .num {
        width:120px;
        margin-right:3px;
    }
    .floatlist li {
        display:block;
        padding:2px 2px;
    }
        .floatlist li:hover {
            background-color:#ccc;
            cursor:pointer;
        }


.floatlistclose {
    cursor:pointer;
    width:15px;
    height:15px;
    position:absolute;
    right:5px;
    top:5px;
    background-position: -97px -127px;
    background-image: url("/Third/jqueryui/css/flick/images/ui-icons_666666_256x240.png");
}

.ddlist {
}

    .ddlist dl {
        width:600px;
        display:block;
        overflow:hidden;
    }
    .ddlist dl dt {
        display:block;
        float:left;
        width:350px;
        text-align:left;
        margin:0;
    }
    .ddlist dl .c {
        padding-left:20px;
        display:block;
        float:left;
        width:330px;
        text-align:left;
        margin:0;
    }
    .ddlist dl dd {

        margin:0;
        text-align:left;
        float:left;
        display:block;
    }
.dltitle {
    font-weight:bold;
}
.infolist {
    
}
td.tdc {
    padding-left:10px;
}
.s1 {
    margin-top:10px;
    margin-bottom:10px;
}
.header {
    font-weight:bold;
}
    .infolist tr {
        padding-top:3px;
        padding-bottom:3px;
    }
        .infolist tr td {
            padding-left:5px;
            padding-right:25px;
        }
.orders {
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.t1 {
    border-radius:4px;
    border:1px solid #ccc;
}

.searchTable {
    
}
    .searchTable tr {
        padding-top:4px;
        padding-bottom:4px;
    }
    .searchTable .td1 {
        width:65px;
    }
    .searchTable .td2 {
        width:200px;
    }
.s_item {   
    border:1px solid #D4E7FF;
    margin-bottom:10px;
    overflow:hidden;   
}
.s_title {    
    background-color:rgb(238, 238, 238);
    padding-top:5px;
    padding-bottom:5px;
}
.shead,.spage {   
    margin-top:10px;
    margin-bottom:10px;
    padding-left:10px;
}
.shead {
     border-bottom:1px solid #e6e6e6;
}
.spage {
    text-align:center;
}
.s_num {
    padding-left:5px;    
    width:200px;
    display:inline-block;
   
}
.s_time {
    padding-left:5px;    
    width:200px;
    display:inline-block;
}
.s_body {
     
    float:left;
}
.sbw1 {
    width:510px;
}
.fAlign1 {
    text-align:center;
}
.sbw2 {
    width:100px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
    .s_body .s_ol,.s_body .s_o {
        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;        
       
        overflow:hidden;
        border-right:1px solid #E0E0E0;
    }
    .s_body .s_o {
       border-bottom:1px solid #E0E0E0;
    }
    .s_body .s_o_col {
        float:left;
        padding-left:10px;
        padding-right:10px;
    }
        .s_body .s_o_col .item {
            padding-top:3px;
            padding-bottom:3px;
        }
.s_body .normalDiv {
    float:left;
}
.colw1 {
    width:230px;
}
.colw2 {
    width:100px;
}

.pager {
    background-color:rgb(238, 238, 238);
}
    .pager .pn, .pager .spn {
        display:inline-block;
        margin-right:4px;
        padding: 0 5px;
        min-width: 18px;
        height: 26px;
        line-height: 26px;
    }
    .pager .pn {
        color: #3b5998;
        text-decoration: none;
        border: 1px solid #ccd3e4;
        background-color: #f0f0f0;
        
    }
    .pager .spn {
        color: #FFF;
        text-decoration: none;
        border: 1px solid #3b5998;
        background-color: #3b5998;
        cursor: default;
    }
.lstable {
    border: 1px solid #E0E0E0;
    overflow:hidden;
}
    .lstable .row, .lstable .rowl{
        padding:0;
        margin:0;
        overflow:hidden;
        padding:5px;
    }
    .lstable .row {
        border-bottom: 1px solid #E0E0E0;
    }
        .lstable .cell {
            float:left;
        }

.list {
    overflow:hidden;
}
.prefx1 {
    padding:10px 10px;
}

.prefx2 {
    padding-bottom:10px;
}
  
    .list .left {
        float:left;
        width:300px;
    }
    .list .right {
        float:left;
        width:500px;
    }
.singlePG {
    float:left;margin-right:5px;
}
    .singlePG .title {
        font-weight:bold;
    }
    .singlePG .plist {
    
    }
        .singlePG .plist li {
            padding-top:2px;padding-bottom:2px;
        }
.labalign1 {
    text-align:left;
}
.liprefx1 {
    padding-left:0px;
}

.jxclist1 {
    border-bottom:1px solid rgb(238, 238, 238);
    padding-top:10px;padding-bottom:10px;
    padding-left:10px;
}


.jxcheader1 {
    margin-bottom:5px;
}

    .jxclist1 span,.jxcheader1 span {
        margin-left:10px;
        display:inline-block;
    }
    .jxcheader1 span {
        font-weight:bold;
    }
.spanw1 {
    width:200px;
    word-break:break-all;
}
.spanw2 {
    width:70px;
}
.spanw3 {
    width:50px;
}

.spanw4 {
    width:200px;
}

.spanw5 {
    width:150px;
}
.spanw6 {
    width:250px;
}

a.connected {
    color:green;
    font-weight:bold;
}

a.disconnected {
    color:red;
    font-weight:bold;
}

a.taba1,a.tabasel1 {
    display:inline-block;
    text-decoration:none;
    cursor:pointer;
    padding-left:5px;
    padding-right:5px;
    border-radius:3px;
}
a.taba1 {
    color:#555;
}

    a.taba1:hover,a.tabasel1 {
        text-decoration:none;
        background-color:#3b5998;
        color:#FFF;
    }
        a.tabasel1:hover {
            text-decoration:none;
        }
.btna {
    border: 1px solid #E0E0E0;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    border-radius:4px;
    text-decoration:none;
}
    .btna:hover {
        background:#3b5998;
        color:#FFF;
        text-decoration:none;
    }
.sSection {    
    margin-bottom:15px;
    color:#666;     
}

    .sSection .sTitle {   
        
        border-bottom:2px solid #ccc;
    }
        .sSection .sTitle span {
            background-color:#ccc;
            padding-left:10px;
            padding-right:10px;
            display:inline-block;
            height:25px;
            line-height:25px;
            border-top-left-radius:3px;
            border-top-right-radius:3px;
        }
    .sSection .sContent {
       
        border:1px solid #ccc;
        padding:10px 10px;
    }
        .sSection .sContent ul {
            padding-left:10px;
        }
            .sSection .sContent ul li {
                padding-top:5px;
                padding-bottom:5px;
            }
            .sSection .sContent ul li span {
                display:inline-block;
            }
            .sSection .sContent ul li .name {
                width:70px;
            }
            .sSection .sContent ul li .value {
                text-align:left;
                width:100px;
            }

.helpFeatureTitle {
    padding-top:5px;
    padding-bottom:5px;
    font-size:14px;
   
}
.featurecontent {
    padding-left:15px;
}
    .featurecontent .section .head {
        font-size:13px;
        display:block;
    }
    .featurecontent .section  p{
        margin-top:2px;
    }
        