body {
    font-size: 12px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #555;
    background-color: #fff;
    background: url('/Content/images/main-bg.png') repeat;
    line-height:22px;
}

input,select {
    margin:0px;
}



.W_input {
border: 1px solid #ccc;
border-radius: 2px;
height: 20px;
padding: 1px;
margin-left: 0px;
vertical-align: middle;
color: #808080;
-webkit-box-shadow: 0px 1px 1px 0px #eaeaea inset;
-moz-box-shadow: 0px 1px 1px 0px #eaeaea inset;
box-shadow: 0px 1px 1px 0px #eaeaea inset;
}

.W_input_btn {
border: 1px solid #ccc;
border-radius: 1px;
height: 24px;
margin-left: 0px;
vertical-align: middle;
color: #666;
background-color:#f3f5f9;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


.jxcMain,.jxcfoot {margin: 0 auto;width:1000px;overflow: hidden;}
.jxcfoot {
    text-align: center;
}
.jxcLeftMenu {
    float:left;
    padding-right:10px;
    border-right:2px solid #7b9ebd;
}

.jxcRight {
    margin-left:10px;
    padding-left:10px;
    float:left;
    width:860px;
    background-color:#FFF;
    min-height:600px;
}

.jxcfoot .item{
   display:inline-block;
   text-decoration:none;
   color:#232323;
   padding:3px 10px 3px 10px;
}
    .jxcfoot .item:hover {
        color:#0073B2;
    }
.jxcLogin {
    width: 400px;
    margin: 100px auto;
    margin-top: 100px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 0 3px 0 #E0E0E0;
    background: #FFF;
    padding-bottom: 30px;
    padding:10px;
    text-align:center;
}
.jxcLogin .loginItem {
    display:block;    
    padding-top:10px;
    padding-bottom:10px;
    width:120px;
    background-color:#7b9ebd;
    margin:auto auto;
}
.jxcLogin .itemContainer {
    text-align:center;
}
.jxcLogin .loginItem a {
   display:block;
   color:#FFFFFF;
   text-decoration:none;
   font-size:14px;
   font-weight:bold;
}

.jxcLeftMenu ul {
    list-style:none;
    margin:0;
    padding:0;
}
    .jxcLeftMenu ul li {
        display:block;
    }
.menuItem {
    background-color: #7b9ebd;
    border-radius: 2px;
    text-align: center;
    width: 100px;
    margin-bottom:2px;
    margin-top:4px;
}
    .menuItem a {
        display: block;
        text-decoration: none;
        color: #FFFFFF;       
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
    }
.menuContainer {
    padding-left:0px;
}
    .menuContainer ul li {
        padding:1px 2px 1px 2px;
        /*background-color:#FFF;*/
    }
        .menuContainer ul li .link,.menuContainer ul li .links {
              padding-left:15px;
              display: block;
              text-decoration: none;
              height:25px;
              line-height:25px;   
              color:#555;    
        }
        .menuContainer ul li .links {
            background-color: #31a2e0;
            color:#FFF;
        }
        .menuContainer ul li:hover {
            
        }
            .menuContainer ul li .link:hover {
                background-color: #31a2e0;
                color:#FFF;
            }
.newCategory {
}
    .newCategory .savemessage {
        border: 1px solid #ccc;
        border-radius: 2px;
        color:#ed0e0e;
        margin-top:5px;       
        padding-left:30px;
        background-color:#f8fbef;
        padding-right:30px;
        margin-left:30px;
        width:150px;
    }
.row {
        height:30px;line-height:30px;
    }
.categoryList {
    padding-top:10px;
}
.product {
    padding-top:10px;
    float:left;
}
label {
    text-align:center;
    width:40px;
    display:inline-block;
}
.title {
    border-bottom:2px solid #7b9ebd;
    font-size:14px;
    font-weight:bold;
}

