@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/master_admin.cshtml";
    KM.JXC.BL.Models.Admin.BSysUser CurrentUser = null;
    if(Model!=null){
        CurrentUser = (KM.JXC.BL.Models.Admin.BSysUser)Model;
    }
}

<script>
    $(function () {
        $('#tabs').tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li>
            <a href="#basicInfo">基本信息</a>
        </li>
    </ul>

    <div id="basicInfo">
        @if (CurrentUser != null) { 
            <div class="row"><label>登录名:</label><span>@CurrentUser.Name</span></div>
            <div class="row"><label>昵称:</label><span>@CurrentUser.NickName</span></div>
            <div class="row"><label></label><span></span></div>
        }
    </div>
</div>
