@{
    ViewBag.Title = "销售退库单查询";
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#editnewform');
        var obj = {
            width: 859, height: 600, title: "销售退库单列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {               
                var pdtId = obj.data[obj.rowIndxPage]['ID'];               
            },
            freezeCols: 2
        };

        obj.colModel = [
                        {
                            title: "退库编号", width: 100, dataType: "integer", dataIndx: "BackStock.ID", editable: false
                        }, 
                        { title: "产品", width: 150, dataType: "string", dataIndx: "Product.Title", editable: false },
                        {
                            title: "库存状态", width: 150, dataType: "string", dataIndx: "Status", editable: false,
                            render: function (ui) {
                                if (ui.rowData["Status"] == 1) {
                                    return "已经更新到库存";
                                } else if (ui.rowData["Status"] == 0) {
                                    return "未更新到库存";
                                }
                            }
                        },
                       
                        { title: "所属订单", width: 150, dataType: "string", dataIndx: "BackStock.BackSale.Sale.Sale_ID", editable: false },
                        
                        { title: "退库数量", width: 150, dataType: "string", dataIndx: "Quantity", editable: false },
                        { title: "仓库", width: 150, dataType: "string", dataIndx: "StoreHouse.Name", editable: false },
                        { title: "退库员", width: 150, dataType: "string", dataIndx: "BackStock.Created_By.Mall_Name", editable: false },
                        { title: "退库日期", width: 150, dataType: "timestamp", dataIndx: "BackStock.Created", editable: false },
                        {
                            title: "店铺", width: 120, dataType: "string", dataIndx: "BackStock.Shop.Title", editable: false
                        },
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40, 50, 60, 100],
            getUrl: function (prgrid) {
                var sale_id = $($searchform).find("#sale_id").val();
                var sdate = $($searchform).find("#back_sdate").val();
                var edate = $($searchform).find("#back_edate").val();
                var page = this.curPage;
                if (page == 0) {
                    page = 1;
                }
                return {
                    url: "/api/Stock/SearchBackStock", data: "page=" + page + "&pageSize=" + this.rPP + "&sale_id=" + sale_id + "&sdate=" + sdate + "&edate=" + edate
                };
            },
            getData: function (dataJSON) {                
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }

       

        $("#backStockTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            //var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this)); 
            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"row\"></div>").appendTo($searchform);
            $("<label class=\"label1\">销售单号:</label>").appendTo($srow);
            $("<input id=\"sale_id\" title='销售单编号' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {

            });
            $("<label class=\"label1 searchField\">退库日期范围:</label>").appendTo($srow);
            $("<input id=\"back_sdate\" title='开始日期' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<input id=\"back_edate\" title='结束日期' type='text' class='W_input searchField' style='height:22px;'/>").appendTo($srow).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                   .appendTo($srow)
                   .button({ text: true }).bind("click", function (evt) {
                       $grid.pqGrid("refreshDataAndView");
                   });
        });

        $grid = $("#backStockTable").pqGrid(obj);


        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一行");
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="backStockTable"></div>
    <form id="editnewform">
        <div id="popup_editnewdiv">

        </div>
    </form>
    
</div>

