@{
    ViewBag.Title = "销售出库单查询";
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#editnewform');
        var obj = {
            width: 859, height: 600, title: "销售出库单列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {               
                var pdtId = obj.data[obj.rowIndxPage]['ID'];               
            },
            freezeCols:2
        };

        obj.colModel = [
                        {
                            title: "出库编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false
                            //render: function (ui) {
                            //    return "<a href=\"/Stock/LeaveDetail/"+ui.rowData["ID"]+"\" target=\"_blank\">"+ui.rowData["ID"]+"</a>";
                            //}
                        }, 
                        { title: "订单号", width: 150, dataType: "string", dataIndx: "Sale.Sale_ID", editable: false },
                        { title: "交易总金额", width: 150, dataType: "string", dataIndx: "Sale.Amount", editable: false },
                        { title: "买家", width: 150, dataType: "string", dataIndx: "Sale.Buyer.Mall_ID", editable: false },
                        { title: "买家电话", width: 150, dataType: "string", dataIndx: "Sale.Buyer.Phone", editable: false },
                        { title: "买家地址", width: 150, dataType: "string", dataIndx: "Sale.Buyer.Address", editable: false },
                        { title: "出库员", width: 150, dataType: "string", dataIndx: "Created_By.Mall_Name", editable: false },
                        { title: "出库时间", width: 150, dataType: "timestamp", dataIndx: "Created", editable: false },
                        {
                            title: "店铺", width: 120, dataType: "string", dataIndx: "Shop.Title", editable: false

                        },
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [30,50],
            getUrl: function (prgrid) {
                var sale_id = $($searchform).find("#sale_id").val();
                var sdate = $($searchform).find("#leave_sdate").val();
                var edate = $($searchform).find("#leave_edate").val();
                return {
                    url: "/api/Stock/SearchLeaveStock", data: "page="+this.curPage+"&pageSize="+this.rPP+"&sale_id="+sale_id+"&sdate="+sdate+"&edate="+edate
                };
            },
            getData: function (dataJSON) {                
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }

       

        $("#leaveStockTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $("<span id=\"add_cate\">出库详情</span>").appendTo($menubar).button().click(function (e) {
                var rowIndx = getRowIndx();
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var row = data[rowIndx];
                var id = row["ID"];
                var leaveDate = row["Created"];
                $('#popup_detail').dialog({
                    position: { my: "top", at: "top", of: $("#leaveStockTable") },
                    width: 900,
                    //height:550,
                    resizable: false,
                    title: "编号:" + id + " 出库时间:" + stockMgr.GetDateTime(leaveDate),
                    modal: true,
                    open: function () {
                        var that = this;
                        var details = row.Details;
                        var table = $("<div class=\"lstable\"></div>").appendTo(that);
                        if ($(details).size() > 0) {
                            var header = $("<div class=\"row\"></div>").appendTo(table);
                            $("<div class=\"cell\" style=\"width:250px;font-weight:bold\">产品</div>").appendTo(header);
                            $("<div class=\"cell\" style=\"width:200px;font-weight:bold\">属性</div>").appendTo(header);
                            $("<div class=\"cell\" style=\"width:150px;font-weight:bold\">出库仓库</div>").appendTo(header);
                            $("<div class=\"cell\" style=\"width:50px;font-weight:bold\">价格</div>").appendTo(header);
                            $("<div class=\"cell\" style=\"width:50px;font-weight:bold\">数量</div>").appendTo(header);
                            $("<div class=\"cell\" style=\"width:100px;font-weight:bold\">实付金额</div>").appendTo(header);
                        }
                        $(details).each(function (index, item) {                            
                            var pdt = null;
                            if (index < ($(details).size() - 1)) {
                                pdt = $("<div class=\"row\"></div>").appendTo(table);
                            } else {
                                pdt = $("<div class=\"rowl\"></div>").appendTo(table);
                            }
                            $("<div class=\"cell\" style=\"width:250px;\">" + item.Product.Title + "</div>").appendTo(pdt);
                            if (item.Product.Properties != null) {
                                var props = "";
                                $(item.Product.Properties).each(function (index1, item1) {
                                    if (props == "") {
                                        props = item1.PName + ":" + item1.PValue;
                                    } else {
                                        props +=" "+ item1.PName + ":" + item1.PValue;
                                    }
                                });
                                $("<div class=\"cell\" style=\"width:200px;\">" + props + "</div>").appendTo(pdt);
                            }
                            $("<div class=\"cell\" style=\"width:150px;\">" + item.StoreHouse.Name + "</div>").appendTo(pdt);
                            $("<div class=\"cell\" style=\"width:50px;\">" + item.Price + "</div>").appendTo(pdt);
                            $("<div class=\"cell\" style=\"width:50px;\">" + item.Quantity + "</div>").appendTo(pdt);
                            $("<div class=\"cell\" style=\"width:50px;\">" + item.Amount + "</div>").appendTo(pdt);
                        });
                    },
                    close: function () {
                        $(this).html("");
                    },
                    buttons: {
                        "关闭": function (e) {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#popup_detail").dialog("open");
            });
            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"rowS\"></div>").appendTo($searchform);
            $("<label class=\"wd1\">订单:</label>").appendTo($srow);
            $("<input id=\"sale_id\" title='销售单编号' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {

            });
            $("<label class=\"wd1\">日期:</label>").appendTo($srow);
            $("<input id=\"leave_sdate\" title='开始日期' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<span> 到 </span>").appendTo($srow);
            $("<input id=\"leave_edate\" title='结束日期' type='text' class='W_input searchField' style='height:22px;'/>").appendTo($srow).datepicker(
                {
                    currentText: "Now",
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear: true,
                    changeMonth: true,
                    changeYear: true,
                    buttonImageOnly: true,
                });
            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                   .appendTo($srow)
                   .button({ text: true }).bind("click", function (evt) {
                       $grid.pqGrid("refreshDataAndView");
                   });
        });

        $grid = $("#leaveStockTable").pqGrid(obj);


        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                var rowIndx = arr[0].rowIndx;

                //if (rowIndx != null && colIndx == null) {
                return rowIndx;
            }
            else {
                alert("请选择一条出库单");
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="leaveStockTable"></div>
    
    <div id="popup_detail">

    </div>    
</div>

