@{
    ViewBag.Title = "库存查询";
}

<script>

    var productMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null; 
    var $searchform = null;
    $(function () {

        var obj = {
            width: 859, height: 600, title: "库存列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {
                //alert(obj.rowIndxPage);
                var pdtId = obj.data[obj.rowIndxPage]['ID'];
                //alert(pdtId);
            },
            freezeCols:4
        };

        obj.colModel = [{
                            title: "产品编号", width: 100, dataType: "integer", dataIndx: "ID", editable: false
                            , render: function (ui) {
                                return "<a target=\"_blank\" href=\"/Product/Detail/" + ui.rowData["ID"] + "\">" + ui.rowData["ID"] + "</a>";
                            }
                        },
                       
                        {
                            title: "店铺", width: 150, dataType: "string", dataIndx: "Shop.Name", editable: false

                        },
                        {
                            title: "主店铺", width: 70, dataType: "string", dataIndx: "Shop.Name", editable: false,
                            render: function (ui) {
                                 if (ui.rowData["FromMainShop"] == true) {
                                     return "是";
                                 } else {
                                     return "否";
                                 }
                             }

                        },
                        { title: "产品名称", width: 220, dataType: "string", dataIndx: "Title", editable: false },
                        { title: "产品类目", width: 100, dataType: "string", dataIndx: "Category.Name", editable: false },                       
                        {
                            title: "库存", width: 80, dataType: "double", dataIndx: "Quantity", editable: false
                        }
                        
                        
                       
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [30, 60, 100],
            getUrl: function (prgrid) {
                var sortDir = (this.sortDir == "up") ? "asc" : "desc";
                var sort = ['ID', 'Name', "Category.Name", "Created_By.Name", "Created"];
                var pid = $searchform.find("#pq-parent-cate").val();
                var ccid = $searchform.find("#pq-child-cate").val();
                var cid = "";
                if (ccid > 0) {
                    cid = ccid;
                } else {
                    if (pid > 0) {
                        cid = pid;
                    }
                }
                var keyword = $searchform.find('#pdt_key_word').val();
                var house = $searchform.find('#pq-storehouse').val();
                return {
                    url: "/api/Stock/SearchProductsStore", data: "cid=" + cid + "&keyword=" + keyword + "&page=" + this.curPage + "&pageSize=" + this.rPP + "&house=" + house
                };
            },
            getData: function (dataJSON) {                
                $searchform.find("#pq-parent-cate").val("0");
                $searchform.find("#pq-child-cate").val("0");
                $searchform.find('#pdt_key_word').val("");
                $searchform.find('#pq-storehouse').val("0");
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }

        $("#stockTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));
            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"row\"></div>").appendTo($searchform);
            $("<label>仓库:</label>").appendTo($srow);

            var $storeHouse = $("<select id='pq-storehouse' class='W_input' style='height:24px;'></select>").appendTo($srow);
            $("<option value=\"0\">--选择--</option>").appendTo($storeHouse);

            stockMgr.GetStoreHouses({}, function (res) {
                $(res.data).each(function (index, item) {
                    $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($storeHouse);
                });
            });
           
            $("<label>类目:</label>").appendTo($srow);
            var $pcate = $("<select id='pq-parent-cate' class='W_input' style='height:24px;'>\
            </select>").appendTo($srow).change(function () {
                if ($(this).val() != 0) {
                    var pid = $(this).val();
                    productMgr.GetCategories({ 'parent_id': pid }, function (res) {
                        if ($(res.data).size() > 0) {

                            $ccate.empty();
                            $("<option value=\"0\">--选择--</option>").appendTo($ccate);
                            $(res.data).each(function (index, item) {
                                $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($ccate);
                            });
                            $ccate.show();
                        } else {
                            $ccate.hide();
                            $ccate.empty();
                        }
                    });

                } else {
                    $ccate.hide();
                    $ccate.empty();
                }
            });

            $("<option value=\"0\">--选择--</option>").appendTo($pcate);
            productMgr.GetCategories({ 'parent_id': 0 }, function (res) {
                pcate = res.data;
                $(res.data).each(function (index, item) {
                    $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($pcate);
                });
            });

            var $ccate = $("<select id='pq-child-cate' class='W_input' style='height:24px;display:none;'>\
            </select>").appendTo($srow).change(function () {

            });
          
            $("<label>关键字:</label>").appendTo($srow);
            $("<input id=\"pdt_key_word\" title='关键字' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {

            });

            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                    .appendTo($srow)
                    .button({ text: true, icons: { primary: "ui-icon-search" } }).bind("click", function (evt) {
                        $grid.pqGrid("refreshDataAndView");
                    });


            $("<span id=\"add_cate\">查看库存</span>").appendTo($menubar).button({ icons: { primary: "ui-icon-info" } }).click(function (evt) {
                var selectedRows = getRowIndx();
                if (selectedRows == null) {
                    alert("请选择一个产品");
                    return;
                }

                if (selectedRows.length>1) {
                    alert("只能选择一个产品");
                    return;
                }
                
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var product_id = data[selectedRows[0]]["ID"];
                if (data[selectedRows[0]]["Quantity"] == 0) {
                    alert("此产品没有库存");
                    return;
                }


                stockMgr.GetProductStockDetails({ 'product_id': product_id }, function (res) {
                    if (res != null) {
                        if ($(res).size() <= 0) {
                            alert("此产品没有SKU销售属性");
                            return;
                        }

                        var that = $('#popup_stock_detail');
                        that.html("");
                        var table = $("<div class=\"lstable\"></div>").appendTo(that);
                        var header = $("<div class=\"row\"></div>").appendTo(table);
                        $("<div class=\"cell\" style=\"width:100px;font-weight:bold\">库存编码</div>").appendTo(header);
                        $("<div class=\"cell\" style=\"width:200px;font-weight:bold\">属性</div>").appendTo(header);
                        $("<div class=\"cell\" style=\"width:50px;font-weight:bold\">库存</div>").appendTo(header);
                        $('#popup_stock_detail').dialog({
                            position: { my: "top", at: "top", of: $("#stockTable") },
                            width: 550,
                            //height:550,
                            resizable: false,
                            title: "库存详情 - " + data[selectedRows[0]]["Title"],
                            modal: true,
                            buttons: {
                                "关闭": function (e) {
                                    $(this).dialog("close");
                                }
                            },
                            open: function (e) {
                                var that = this;

                            },
                            close: function (e) {
                                $(this).html("");
                            }
                        });

                        $('#popup_stock_detail').dialog("open");

                        $(res).each(function (index, item) {
                            var pdt = null;
                            if (index < ($(res).size() - 1)) {
                                pdt = $("<div class=\"row\"></div>").appendTo(table);
                            } else {
                                pdt = $("<div class=\"rowl\"></div>").appendTo(table);
                            }

                            $("<div class=\"cell\" style=\"width:100px;\">" + item.ID + "</div>").appendTo(pdt);
                            if (item.Properties != null) {
                                var props = "";
                                $(item.Properties).each(function (index1, item1) {
                                    if (props == "") {
                                        props = item1.PName + ":" + item1.PValue;
                                    } else {
                                        props += " " + item1.PName + ":" + item1.PValue;
                                    }
                                });
                                $("<div class=\"cell\" style=\"width:200px;\">" + props + "</div>").appendTo(pdt);
                            }
                            $("<div class=\"cell\" style=\"width:50px;\">" + item.Quantity + "</div>").appendTo(pdt);
                        });                        
                    }
                });
            });
            $("<span id=\"get_ccate\">库存盘点</span>").appendTo($menubar).button({ icons: { primary: "ui-icon-pencil" } }).click(function (evt) {
                var selectedRows = getRowIndx();
                if (selectedRows == null) {
                    alert("请至少选择一个产品");
                    return;
                }
                if (selectedRows.length > 10) {
                    alert("单次最多只能选择10个产品");
                    return;
                }
                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var product_ids = "";// data[selectedRows[0]]["ID"];
                for(var i=0;i<selectedRows.length;i++){
                    if (product_ids == "") {
                        product_ids = data[selectedRows[i]]["ID"];
                    } else {
                        product_ids +=","+ data[selectedRows[i]]["ID"];
                    }
                }
                stockMgr.SearchStocks({ 'products': product_ids, 'paging': 0 }, function (res) {
                    if (res == null || res.data == null || res.data.length <= 0) {
                        return;
                    }

                    $('#popup_stock_edit').dialog({
                        position: { my: "top", at: "top", of: $("#stockTable") },
                        width: 850,
                        //height:550,
                        resizable: false,
                        title: "库存详情" + data[selectedRows[0]]["Title"],
                        modal: true,
                        buttons: {
                            "保存": function (e) {
                                var that = this;
                                var verified=true;
                                var stocks = "[";
                                var $stockProducts = $(this).find("#edit_stock_products");
                                var len = $stockProducts.find("div[class='row']").size();
                                if (len <= 1) {
                                    alert("产品已被全部移走，请关闭窗口重新选择产品");
                                    return;
                                }
                                $stockProducts.find("div[class='row']").each(function (indx, row) {
                                    if (indx == 0) {
                                        return true;
                                    }

                                    var stock = "";
                                    var $ul = $(row).find("ul");
                                    if ($ul == null || $ul.html() == null) {
                                        var pid = $(row).find("input[id^='row_']").attr("id").split("_")[1];
                                        var quantity = $(row).find("input[type='text']").val();
                                        var houseId = $(row).find("input[type='hidden']").val();
                                        if (!$.IsNumber(quantity)) {
                                            verified = verified & false;
                                            return false;
                                        }

                                        stock = "{\"product_id\":" + pid + ",\"quantity\":" + quantity+",\"store_house\":"+houseId+"}";
                                    } else {
                                        var $llen = $ul.find("li").size();
                                        var tmpStocks = "";
                                        $($ul.find("li")).each(function (j, sku) {
                                            var pid = $(sku).find("input[id^='li_']").attr("id").split("_")[1];
                                            var quantity = $(sku).find("input[type='text']").val();
                                            var houseId = $(sku).find("input[type='hidden']").val();
                                            if (!$.IsNumber(quantity)) {
                                                verified = verified & false;
                                                return false;
                                            }
                                            tmpStocks += "{\"product_id\":" + pid + ",\"quantity\":" + quantity + ",\"store_house\":" + houseId + "}";
                                            if (j < ($llen - 1)) {
                                                tmpStocks += ",";
                                            }
                                        });

                                        stock = tmpStocks;
                                    }

                                    if (!verified) {
                                        return false;
                                    }

                                    stocks += stock;
                                    if (indx < (len - 1)) {
                                        stocks += ",";
                                    }
                                });

                                if (!verified) {
                                    alert("库存数量必须是正整数");
                                    return;
                                }
                                stocks += "]";
                                stockMgr.UpdateProductsStocks({ 'stocks': encodeURIComponent(stocks) }, function (res) {
                                    if (res.Status == "ok") {
                                        $(that).dialog("close");
                                        $grid.pqGrid("refreshDataAndView");
                                    } else {
                                        alert(res.Message);
                                    }
                                });
                            },
                            "关闭": function (e) {
                                $(this).dialog("close");
                            }
                        },
                        open: function (e) {
                            var that = this;
                            $(this).html("");
                            var $divList = $("<div id=\"edit_stock_products\"></div>").appendTo(that);
                            $("<div class=\"row\"><span style=\"display:inline-block;width:400px;margin-right:10px;\">产品</span><span  style=\"display:inline-block;width:56px;margin-right:10px;\">库存</span><span style=\"display:inline-block;width:150px;\">仓库</span><span style=\"display:inline-block;width:150px;\">库存批次</span></div>").appendTo($divList);
                            $(res.data).each(function (indx, stock) {
                                var $row = $divList.find("div[id^='product_" + stock.Parent_Product_ID + "']")
                                if ($row == null || $row.html() == null) {
                                    $row = $("<div id=\"product_" + stock.Parent_Product_ID + "\" class=\"row\"></div>").appendTo($divList);
                                    $("<span style=\"display:inline-block;width:400px;margin-right:10px;\">" + stock.Product.Title + "</span>").appendTo($row);


                                    $("<input type=\"text\" id=\"row_" + stock.Parent_Product_ID + "\" class=\"W_input\" style=\"width:50px;margin-right:10px;\" value=\"" + stock.Quantity + "\"/>").blur(function () {

                                    }).appendTo($row);

                                    $("<span id=\"house_" + stock.StoreHouse.ID + "\" style=\"display:inline-block;width:150px;\">" + stock.StoreHouse.Name + "</span>").appendTo($row);
                                    $("<span style=\"display:inline-block;width:150px;\">" + stock.Batch.Name + "</span>").appendTo($li);
                                    $("<span style=\"margin-left:10px;\"><img src=\"/Content/images/remove.gif\" /></span>").click(function () {
                                        $(this).parent().remove();
                                    }).appendTo($row);

                                    $("<input type=\"hidden\" id=\"hidden_" + stock.Parent_Product_ID + "\" value=\"" + stock.StoreHouse.ID + "\" />").appendTo($row);
                                } else {
                                   
                                    if (stock.Product.Properties == null || $(stock.Product.Properties).size()<=0) {                                     
                                        $row = $("<div id=\"product_" + stock.Parent_Product_ID + "\" class=\"row\"></div>").appendTo($divList);
                                        $("<span style=\"display:inline-block;width:400px;margin-right:10px;\">" + stock.Product.Title + "</span>").appendTo($row);


                                        $("<input type=\"text\" id=\"row_" + stock.Parent_Product_ID + "\" class=\"W_input\" style=\"width:50px;margin-right:10px;\" value=\"" + stock.Quantity + "\"/>").blur(function () {

                                        }).appendTo($row);

                                        $("<span id=\"house_" + stock.StoreHouse.ID + "\" style=\"display:inline-block;width:150px;\">" + stock.StoreHouse.Name + "</span>").appendTo($row);
                                        $("<span style=\"display:inline-block;width:150px;\">" + stock.Batch.Name + "</span>").appendTo($li);
                                        $("<span style=\"margin-left:10px;\"><img src=\"/Content/images/remove.gif\" /></span>").click(function () {
                                            $(this).parent().remove();
                                        }).appendTo($row);

                                        $("<input type=\"hidden\" id=\"hidden_" + stock.Parent_Product_ID + "\" value=\"" + stock.StoreHouse.ID + "\" />").appendTo($row);
                                    }
                                }

                                if (stock.Product.Properties != null && $(stock.Product.Properties).size() > 0) {

                                    $row.find("span[id^='house_']").remove();
                                    var $totalq = $row.find("input[id^='row_']").attr("readonly", true);
                                    var totalQuantity = 0;
                                    var $ul = $row.find("ul");
                                    if ($ul == null || $ul.html() == null) {
                                        $ul = $("<ul></ul>").appendTo($row);
                                    }

                                    $($ul).find("input[id^='li_']").each(function (j, s) {
                                        if ($(s).val() != "")
                                            totalQuantity += parseInt($(s).val());
                                    });

                                    var propNames = "";
                                    $(stock.Product.Properties).each(function (i, prop) {
                                        if (propNames == "") {
                                            propNames = prop.PName + ":" + prop.PValue;
                                        } else {
                                            propNames += "," + prop.PName + ":" + prop.PValue;
                                        }
                                    });

                                    totalQuantity += stock.Quantity;
                                    var $li = $("<li></li>").appendTo($ul);
                                    $("<span style=\"text-align:center;display:inline-block;width:400px;margin-right:10px;\">" + propNames + "</span>").appendTo($li);
                                    $("<input type=\"text\" id=\"li_" + stock.Product.ID + "\" class=\"W_input\" style=\"width:50px;margin-right:10px;\" value=\"" + stock.Quantity + "\"/>").blur(function (e) {
                                        var $ulList = $(this).parent().parent();
                                        var totalQuantity = 0;
                                        $($ulList).find("input[id^='li_']").each(function (j, s) {
                                            if ($(s).val() != "")
                                                totalQuantity += parseInt($(s).val());
                                        });

                                        $ulList.parent().find("input[id^='row_']").val(totalQuantity);
                                    }).appendTo($li);
                                    $("<span style=\"display:inline-block;width:150px;\">" + stock.StoreHouse.Name + "</span>").appendTo($li);
                                    $("<span style=\"display:inline-block;width:150px;\">" + stock.Batch.Name + "</span>").appendTo($li);
                                    $("<input type=\"hidden\" id=\"hidden_" + stock.Product.ID + "\" value=\"" + stock.StoreHouse.ID + "\" />").appendTo($li);
                                    $($totalq).val(totalQuantity);
                                } else {
                                    
                                }
                               
                            });                          
                            
                        },
                        close: function (e) {
                            $(this).html("");
                        }
                    });
                });
            });


            //pqSearch.results = $("<span class='pq-search-results'>Nothing found.</span>").appendTo($toolbar);
            //$toolbar.disableSelection();
        });

        $grid = $("#stockTable").pqGrid(obj);


        function getRowIndx() {
            var rows = [];
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    rows.push(arr[i].rowIndxPage);
                }
                return rows;
            }
            else {
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="stockTable"></div>
    <div id="popup_stock_detail"></div>
    <div id="popup_stock_edit"></div>
</div>
