@{
    ViewBag.Title = "产品损耗";
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#editnewform');
        var obj = {
            width: 859, height: 600, title: "产品损耗列表", flexHeight: true, sortable: false, selectionModel: { mode: 'range' }, scrollModel: { pace: 'fast', horizontal: true },
            rowSelect: function (event, obj) {               
                var pdtId = obj.data[obj.rowIndxPage]['ID'];               
            },
            freezeCols:4
        };

        obj.colModel = [
                        {
                            title: "产品编号", width: 100, dataType: "integer", dataIndx: "Product.ID", editable: false
                            , render: function (ui) {
                                return "<a target=\"_blank\" href=\"/Product/Detail/" + ui.rowData["Product"]["ID"] + "\">" + ui.rowData["Product"]["ID"] + "</a>";
                            }
                        },                      

                        {
                            title: "店铺", width: 150, dataType: "string", dataIndx: "Product.BShop.Title", editable: false
                           
                        },

                         {
                             title: "主店铺", width: 70, dataType: "string", dataIndx: "Shop.Title", editable: false,
                             render: function (ui) {
                                 if (ui.rowData["Product"].FromMainShop == true) {
                                     return "是";
                                 } else {
                                     return "否";
                                 }
                             }

                         },

                        {
                            title: "产品名称", width: 220, dataType: "string", dataIndx: "Product.Title", editable: false

                        },
                         {
                             title: "产品类目", width: 100, dataType: "string", dataIndx: "Product.Category.Name", editable: false

                         },
                        {
                           title: "产品损耗", width: 220, dataType: "string", dataIndx: "Quantity", editable: false

                        }

                        
                       
                        
        ];

        obj.dataModel = {
            location: "remote",
            sorting: "remote",
            paging: "remote",
            dataType: "JSON",
            method: "POST",
            curPage: 1,
            rPP: 30,
            sortIndx: 2,
            sortDir: "up",
            rPPOptions: [40, 50, 60, 100],
            getUrl: function (prgrid) {
                var pid = $searchform.find("#pq-parent-cate").val();
                var ccid = $searchform.find("#pq-child-cate").val();
                var cid = "";
                if (ccid > 0) {
                    cid = ccid;
                } else {
                    if (pid > 0) {
                        cid = pid;
                    }
                }
                var keyword = $searchform.find('#pdt_key_word').val();
                var page = this.curPage;
                if (page == 0) {
                    page = 1;
                }
                return {
                    url: "/api/Stock/SearchProductWastage", data: "cid=" + cid + "&keyword=" + keyword + "&page=" + page + "&pageSize=" + this.rPP
                };
            },
            getData: function (dataJSON) {                
                return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
            }
        };

        obj.cellSave = function (event, ui) {

        }      

        $("#leaveStockTable").on("pqgridrender", function (evt, obj) {
            var $toolbar = $("<div class='pq-grid-toolbar pq-grid-toolbar-search'></div>").appendTo($(".pq-grid-top", this));
            var $menubar = $("<div class='pq-grid-toolbar pq-grid-toolbar-crud'></div>").appendTo($(".pq-grid-top", this));

            //menu
            $("<span>盘点损耗</span>").button({ icons: { primary: "ui-icon-pencil" } }).click(function (e) {
                var selectedRows = getRowIndx();
                if (selectedRows == null || selectedRows.length <= 0) {
                    alert("请至少选择一个产品进行修改");
                    return;
                }

                if (selectedRows.length > 10) {
                    alert("一次最多只能选择10个产品");
                    return;
                }

                var DM = $grid.pqGrid("option", "dataModel");
                var data = DM.data;
                var product_ids = "";// data[selectedRows[0]]["ID"];
                for (var i = 0; i < selectedRows.length; i++) {
                    if (product_ids == "") {
                        product_ids = data[selectedRows[i]]['Product']["ID"];
                    } else {
                        product_ids += "," + data[selectedRows[i]]['Product']["ID"];
                    }
                }

                stockMgr.GetProductsWastageDetail({ product_ids: product_ids }, function (res) {
                    if (res.Status == "failed") {
                        alert(res.Message);
                        return;
                    }
                    var $pop = $("<div></div>");
                    if ($(res.Item).size() > 0) {
                        $("<div class=\"row\"><span style=\"display:inline-block;width:400px;margin-right:10px;\">产品</span><span  style=\"display:inline-block;width:56px;margin-right:10px;\">损耗</span></div>").appendTo($pop);
                    }
                    $(res.Item).each(function (i, product) {
                        var $p = $("<div class=\"row\" id=\"product_" + product.ID + "\"></div>").appendTo($pop);
                        $("<span style=\"display:inline-block;width:400px;margin-right:10px;\">" + product.Title + "</span>").appendTo($p);
                        $("<input id=\"row_"+product.ID+"\" class=\"W_input iptW50\" type=\"text\" value=\"" + product.Quantity + "\" />").appendTo($("<span style=\"display:inline-block;width:56px;margin-right:10px;\"></span>").appendTo($p));
                        //no sku                       
                        if (product.Children != null && product.Children.length > 0) {                            
                            var $ul = $("<ul></ul>").appendTo($p);
                            $p.find("input[id^='row_']").attr("readonly",true);
                            $(product.Children).each(function (j, sku) {
                                var $li = $("<li></li>").appendTo($ul);
                                if (sku.Properties != null) {
                                    var propNames = "";
                                    $(sku.Properties).each(function (k, p) {
                                        if (propNames == "") {
                                            propNames = p.PName + ":" + p.PValue;
                                        } else {
                                            propNames +=","+ p.PName + ":" + p.PValue;
                                        }
                                    });

                                    $("<span style=\"text-align:center;display:inline-block;width:400px;margin-right:10px;\">" + propNames + "</span>").appendTo($li);
                                    $("<input type=\"text\" id=\"li_" + sku.ID + "\" class=\"W_input\" style=\"width:50px;margin-right:10px;\" value=\"" + sku.Quantity + "\"/>").blur(function (e) {
                                        var $ulList = $(this).parent().parent();
                                        var totalQuantity = 0;
                                        $($ulList).find("input[id^='li_']").each(function (j, s) {
                                            if ($(s).val() != "" && !isNaN($(s).val()))
                                                totalQuantity += parseInt($(s).val());
                                        });

                                        $ulList.parent().find("input[id^='row_']").val(totalQuantity);
                                    }).appendTo($li);
                                }
                            });
                        }
                    });

                    $pop.dialog({
                        width: 600,
                        resizable: false,
                        title: "库存详情" + data[selectedRows[0]]["Title"],
                        modal: true,
                        open: function () { },
                        close: function () { $(this).html("") },
                        buttons: {
                            "保存": function (e) {
                                var that = this;
                                var json = "";
                                var verified = true;

                                $(this).find("div[id^='product_']").each(function (i, product) {
                                    var ul = $(product).find("ul");
                                    var parentid = $(product).find("input[id^='row_']").attr("id").split("_")[1];
                                    var pquantity = $(product).find("input[id^='row_']").val();
                                    if (ul == null || ul.html() == null || ul.html() == "" ) {
                                        if (!$.IsNumber(pquantity)) {
                                            alert("损耗数量必须是整数");
                                            verified = false;
                                            return false;
                                        }

                                        if (json == "") {
                                            json = "[{\"product_id\":" + parentid + ",\"parent_id\":" + parentid + ",\"quantity\":" + pquantity + "}";
                                        } else {
                                            json += ",{\"product_id\":" + parentid + ",\"parent_id\":" + parentid + ",\"quantity\":" + pquantity + "}";
                                        }
                                    } else {
                                        $(ul).find("li").each(function (j, sku) {
                                            var pid = $(sku).find("input[id^='li']").attr("id").split("_")[1];
                                            var quantity = $(sku).find("input[id^='li']").val();
                                            if (!$.IsNumber(quantity)) {
                                                alert("损耗数量必须是整数");
                                                verified = false;
                                                return false;
                                            }
                                            if (json == "") {
                                                json = "[{\"product_id\":" + pid + ",\"parent_id\":" + parentid + ",\"quantity\":" + quantity + "}";
                                            } else {
                                                json += ",{\"product_id\":" + pid + ",\"parent_id\":" + parentid + ",\"quantity\":" + quantity + "}";
                                            }
                                        });
                                    }
                                });

                                json += "]";
                                
                                if (!verified) {
                                    return;
                                }
                               
                                stockMgr.UpdateProductsWastage({wastages:encodeURIComponent(json)}, function (res) {
                                    if (res.Status == "failed") {
                                        alert(res.Message);
                                        return;
                                    }

                                    $(that).dialog("close");
                                    $grid.pqGrid("refreshDataAndView");
                                });
                            },
                            "取消": function (e) {
                                $pop.dialog("close");
                            }
                        }
                    });

                    $pop.dialog("open");
                });

            }).appendTo($menubar);
            $searchform = $("<form id=\"pdt_search_form\"></form>").appendTo($toolbar);
            var $srow = $("<div class=\"row\"></div>").appendTo($searchform);
            $("<label>类目:</label>").appendTo($srow);
            var $pcate = $("<select id='pq-parent-cate' class='W_input' style='height:24px;'>\
            </select>").appendTo($srow).change(function () {
                if ($(this).val() != 0) {
                    var pid = $(this).val();
                    cateMgr.GetCategories({ 'parent_id': pid }, function (res) {
                        if ($(res.data).size() > 0) {

                            $ccate.empty();
                            $("<option value=\"0\">--选择--</option>").appendTo($ccate);
                            $(res.data).each(function (index, item) {
                                $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($ccate);
                            });
                            $ccate.show();
                        } else {
                            $ccate.hide();
                            $ccate.empty();
                        }
                    });

                } else {
                    $ccate.hide();
                    $ccate.empty();
                }
            });

            $("<option value=\"0\">--选择--</option>").appendTo($pcate);
            cateMgr.GetCategories({ 'parent_id': 0 }, function (res) {
                pcate = res.data;
                $(res.data).each(function (index, item) {
                    $("<option value=\"" + item.ID + "\">" + item.Name + "</option>").appendTo($pcate);
                });
            });

            var $ccate = $("<select id='pq-child-cate' class='W_input' style='height:24px;display:none;'>\
            </select>").appendTo($srow).change(function () {

            });

            $("<label>关键字:</label>").appendTo($srow);
            $("<input id=\"pdt_key_word\" title='关键字' type='text' class='W_input' style='height:22px;'/>").appendTo($srow).keyup(function (evt) {

            });

            $("<span style='height:24px;line-height:24px;'>搜索</span>")
                    .appendTo($srow)
                    .button({ text: true, icons: { primary: "ui-icon-search" } }).bind("click", function (evt) {
                        $grid.pqGrid("refreshDataAndView");
                    });
        });

        $grid = $("#leaveStockTable").pqGrid(obj);


        function getRowIndx() {
            var rows = [];
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {
                    rows.push(arr[i].rowIndxPage);
                }
                return rows;
            }
            else {
                return null;
            }
        }
    });

</script>

<div class="normallist">
    <div id="leaveStockTable"></div>
</div>

