@{
    ViewBag.Title = "销售报表";
}

<script>
    var reportManager = new KMJXCReportManager();
    var productMgr = new KMJXCProductManager();
    var shopMgr = new KMJXCShopManager();
    var paged = false;
    var pageSize=1;
    var pageHtml;
    var productsPageSize = 15;
    var selectedProducts = [];
    $(function () {
        $('#tabs').tabs();
        generateReports(1);

        $('#btnRptSubmit').button({ icons: { primary: "ui-icon-search" } }).click(function () {
            generateReports(1);
        });

        $('#btnSelectProducts').button({ icons: { primary: "ui-icon-plus" } }).click(function () {
            $('#popup_products').dialog({
                position: { my: "top", at: "top", of: $("#tabs") },
                width: 550,
                //height:550,
                resizable: false,
                title: "选择产品生成报表",
                modal: true,
                open: function () {
                    $('#ulProductList').html("");
                    getProducts(1);
                },
                close: function () { },
                buttons: [
                   {
                       text: "确定", click: function () {
                           var $ul = $('#ulSelectedProducts');
                           $ul.html("");
                           for (var i = 0; i < selectedProducts.length; i++) {
                               //alert(selectedProducts[i].name);
                               var $li = $("<li></li>").appendTo($ul);
                               $("<span style=\"display:inline-block\">" + selectedProducts[i].name + "</span>").appendTo($li);
                               var $removeSpan = $("<span style=\"display:inline-block;float:right;margin-right:2px;\"></span>").appendTo($li);
                               $("<img value=\"" + selectedProducts[i].id + "\" style=\"\" src=\"/Content/images/remove.gif\"/>").appendTo($removeSpan).click(function () {
                                   var id = $(this).attr("value");
                                   var tmp = [];
                                   for (var i = 0; i < selectedProducts.length; i++) {
                                       if (selectedProducts[i].id != id) {
                                           tmp.push(selectedProducts[i]);
                                       }
                                   }
                                   selectedProducts = tmp;
                                   $(this).parent().parent().remove();
                                   if ($($ul.find("li")).size() == 0) {
                                       $($ul).hide();
                                   }
                               });
                           }
                           $ul.show();
                           $(this).dialog("close");
                       },
                       icons: { primary: "ui-icon-disk" }
                   },
                   {
                       text: "关闭", click: function () {
                           $(this).dialog("close");
                       },
                       icons: { primary: "ui-icon-close" }
                   }
                ]
            });
            $('#popup_products').dialog("open");
        });
       
        $('#rpt_StartDate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
            onSelect: function (date, p2) {
                $("#rpt_Period").find("a").each(function (i, item) {                   
                    $(this).removeClass("tabasel1");
                    $(this).addClass("taba1");
                });
            }
        });
        $('#rpt_EndDate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
            onSelect: function (date, p2) {
                $("#rpt_Period").find("a").each(function (i, item) {
                    $(this).removeClass("tabasel1");
                    $(this).addClass("taba1");
                });
            }
        });

        $('#rpt_EnablePaging').change(function () {
            var checked = $(this).attr('checked');
            if (checked == "checked") {
                $('#rpt_PageSizeDiv').show();
            } else {
                $('#rpt_PageSizeDiv').hide();
            }
        });

        $('#rpt_type_pivot').change(function () {

        });

        $('#rpt_type_bar').change(function () {

        });

        $("#rpt_Period").delegate("a", "click", function (e) {
            $(this).addClass("tabasel1");
            $(this).removeClass("taba1");
            var text = $(this).html();
            $(this).parent().find("a").each(function (i, item) {
                var text1 = $(this).html();
                if (text != text1) {
                    $(this).addClass("taba1");
                    $(this).removeClass("tabasel1");
                }
            });
            var dateNow = new Date();
            var month = dateNow.getMonth()+1;
            var year = dateNow.getFullYear();
            switch (text) {
                case "本月":
                    var tMonth = month;
                    var tday = 30;
                    if (parseInt(month) < 10) {
                        tMonth = "0" + month.toString();
                    }
                    $('#rpt_StartDate').val(year + "-" + tMonth + "-01");

                    if (month >= 1 && month <= 7) {
                        if (month % 2 == 0) {
                            tday = 30;
                        } else {
                            tday = 31;
                        }
                    } else if (month > 7 && month <= 12) {
                        if (month % 2 == 0) {
                            tday = 31;
                        } else {
                            tday = 30;
                        }
                    }

                    if (month == 2) {
                        if (year % 4 == 0) {
                            tday = 29;
                        } else {
                            tday = 28;
                        }
                    }

                    $('#rpt_EndDate').val(year + "-" + tMonth + "-"+tday);
                    break;
                case "本季度":
                    
                    if (month >= 1 && month <= 3) {
                        $('#rpt_StartDate').val(year + "-01-01");
                        $('#rpt_EndDate').val(year + "-03-31");
                    }

                    if (month >= 4 && month <= 6) {
                        $('#rpt_StartDate').val(year + "-04-01");
                        $('#rpt_EndDate').val(year + "-06-30");
                    }

                    if (month >= 7 && month <= 9) {
                        $('#rpt_StartDate').val(year + "-07-01");
                        $('#rpt_EndDate').val(year + "-09-30");
                    }

                    if (month >= 10 && month <= 12) {
                        $('#rpt_StartDate').val(year + "-10-01");
                        $('#rpt_EndDate').val(year + "-12-31");
                    } 

                    break;
                case "本年度":                    
                    $('#rpt_StartDate').val(year + "-01-01");
                    $('#rpt_EndDate').val(year + "-12-31");
                    break;
                default:
                    break;
            }
        });

        $('#rpt_Menu_Export').button({ icons: {primary:"ui-icon-print"}}).click(function () {

            var sdate = $('#rpt_StartDate').val();
            var edate = $('#rpt_EndDate').val();

            sdate = $.GetUnixTime(sdate);
            edate = $.GetUnixTime(edate);
            if (edate < sdate) {
                alert("结束时间必须大于开始时间");
                return;
            }
            var pdtIds = "";

            for (var i = 0; i < selectedProducts.length; i++) {
                if (pdtIds == "") {
                    pdtIds = selectedProducts[i].id;
                } else {
                    pdtIds += "," + selectedProducts[i].id;
                }
            }

            var isPaging = 0;
            var paging = $('#rpt_EnablePaging').attr('checked');
            if (paging == 'checked') {
                var ps = $('#rpt_PageSize').val();
                if (isNaN(ps)) {
                    alert("每页显示必须为整数");
                    return;
                } else {
                    pageSize = ps;
                }

                if (pageSize == 0) {
                    pageSize = 30;
                    $('#rpt_PageSize').val(30);
                }

                isPaging = 1;
            }
            ShowProgress('report_loading', function () { }, "正在导出Excel,请耐性等待...");
            reportManager.GetExcelSaleReport({ 'stime': sdate, 'etime': edate, 'products': pdtIds }, function (res) {
                Boxy.get($('#report_loading')).hide();
                if (res.Status == "ok") {                   
                    window.open(res.Item, "_blank", 'height=400, width=500');
                } else {
                    alert(res.Message);
                }
            })
        });
    });

    function getProducts(page) {
        new ShowProgress("loadingProductPro", function () { }, "正在加载产品，请耐性等待...");
        Boxy.get($('#loadingProductPro')).show();
        shopMgr.SearchOnSaleProducts({ 'page': page, 'pageSize': productsPageSize }, function (res) {
            Boxy.get($('#loadingProductPro')).hide();
            var total = res.totalRecords;
            var data = res.data;
            var curPage = res.curPage;
            var $ul = $('#ulProductList');
            $ul.html("");
            var pageHtml = productMgr.Pager({ 'total': total, 'page': curPage, 'pageSize': productsPageSize, 'fun': 'getProducts' }, "spn", "pn");
            if (pageHtml != '') {              
                $('#productsListPager').html(pageHtml).show();
            } else {
                $('#productsListPager').html('').hide();
            }
            if (data != null && data.length > 0) {
                $(data).each(function (index, item) {
                    var $li = $("<li></li>").appendTo($ul);
                    var $chk = null;
                    var selected = false;
                    for (var i = 0; i < selectedProducts.length; i++) {
                        if (selectedProducts[i].id == item.ID) {
                            selected = true;
                            break;
                        }
                    }

                    if (!selected) {
                        $chk = $("<input value=\"" + item.ID + "\" style=\"vertical-align:middle;\" type=\"checkbox\"/>").appendTo($li);
                    } else {
                        $chk = $("<input value=\""+item.ID+"\" checked style=\"vertical-align:middle;\" type=\"checkbox\"/>").appendTo($li);
                    }

                    $chk.change(function () {
                        var tmp = [];
                        var checked=$(this).attr('checked');
                        var curId = $(this).attr('value');
                        var name = $(this).next().html();                       
                        var newJson = { 'id': curId, 'name': name };                       
                        var existed = false;
                        for (var i = 0; i < selectedProducts.length; i++) {                           
                            if (selectedProducts[i].id == curId) {
                                existed = true;
                                if (checked == 'checked') {
                                    tmp.push(selectedProducts[i]);
                                }
                            } else {
                                tmp.push(selectedProducts[i]);
                            }
                        }
                        if (!existed) {
                            if (checked == 'checked') {
                                tmp.push(newJson);
                            }
                        }
                        selectedProducts = tmp;
                    });
                    $("<span style=\"display:inline-block;\">" + item.Title + "</span>").appendTo($li);                   
                });
                $ul.show();
            }
        });
    }

    function generateReports(page) {

        var sdate = $('#rpt_StartDate').val();
        var edate = $('#rpt_EndDate').val();

        sdate = $.GetUnixTime(sdate);
        edate = $.GetUnixTime(edate);
        if (edate < sdate) {
            alert("结束时间必须大于开始时间");
            return;
        }
        var pdtIds = "";

        for (var i = 0; i < selectedProducts.length; i++) {
            if (pdtIds == "") {
                pdtIds = selectedProducts[i].id;
            } else {
                pdtIds += ","+selectedProducts[i].id;
            }
        }
        
        var isPaging = 0;
        var paging = $('#rpt_EnablePaging').attr('checked');
        if (paging=='checked') {
            var ps = $('#rpt_PageSize').val();
            if (isNaN(ps)) {
                alert("每页显示必须为整数");
                return;
            } else {
                pageSize = ps;
            }

            if (pageSize == 0) {
                pageSize = 30;
                $('#rpt_PageSize').val(30);
            }

            isPaging = 1;
        }
        ShowProgress('report_loading', function () { }, "正在加载报表数据，请耐性等待...");
        reportManager.GetSalesReport({ 'stime': sdate, 'etime': edate, 'products': pdtIds, 'page': page, 'pageSize': pageSize, 'paging': isPaging }, function (res) {
            Boxy.get($('#report_loading')).hide();
            $('#rptPivot').html("");
            var row = res.data;
            if (row == null || row.length == 0) {
                return;
            }
           
            pageHtml = reportManager.Pager({ 'page': page, 'total': res.totalRecords, 'pageSize': pageSize, 'fun': 'generateReports' }, "spn", "pn");
            if (pageHtml != "") {
                $('#rptPivotPager').html(pageHtml).show();
            } else {
                $('#rptPivotPager').html("").hide();
            }

            var JSONdata = {
                dataid: 'An optional sourcetable identifier',
                columns: [
                    { colvalue: 'ProductName', coltext: 'ProductName', header: '产品名称', sortbycol: 'ProductName', groupbyrank: 1, pivot: false, result: false },
                    { colvalue: 'PropName', coltext: 'PropName', header: '销售属性', sortbycol: 'PropName', groupbyrank: 2, pivot: false, result: false },
                    { colvalue: 'Month', coltext: 'Month', header: '月份', sortbycol: 'Month', groupbyrank: null, pivot: true, result: false },
                    { colvalue: 'Quantity', coltext: '数量', header: '销售数量', sortbycol: 'Quantity', groupbyrank: null, pivot: false, result: true },
                    { colvalue: 'Amount', coltext: '金额', header: '销售金额', sortbycol: 'Amount', groupbyrank: null, pivot: false, result: true }
                ],
                rows: row
            };

            $('#rptPivot').pivot({
                source: JSONdata,
                formatFunc: function (n) {
                    return n;
                    //return jQuery.fn.pivot.formatDK(n, 2);
                },
                parseNumFunc: function (n) {
                    //return +((typeof n === 'string') ? n.replace('.', '').replace(',', '.') : n);
                    return +parseFloat(n);
                },
                onResultCellClicked: function (data) {
                    alert(dumpObj(data, 'data'));
                }
            });
        });
    }

</script>

<div id="tabs">
    <ul>
        <li><a href="#reports">销售报表</a></li>
        
    </ul>
    <div id="reports">  
        <div id="rptFilter" style="padding-bottom:10px;">
            
            <div class="rowS"><label>时间范围:</label><input id="rpt_StartDate" class="W_input" readonly="true"/>  至  <input id="rpt_EndDate" class="W_input" readonly="true"/></div>
            <div class="rowS nolabel1" id="rpt_Period"><a class="taba1">本月</a><a class="taba1">本季度</a><a class="taba1">本年度</a></div>
            <div class="rowS"><label>是否分页:</label><input style="margin-right:5px;" id="rpt_EnablePaging" type="checkbox" checked/></div>
            <div class="rowS" id="rpt_PageSizeDiv"><label>每页显示:</label><input id="rpt_PageSize" class="W_input" style="width:30px;" value="30"/></div>
            <div class="rowS" style="height:auto;">
                <label style="display:inline-block;float:left;">产品宝贝:</label>
                <div style="float:left;">
                    <span style="display:block;" id="btnSelectProducts">添加</span>                                   
                </div>                
            </div>
            @*<div class="rowS nolabel1"></div>*@
            <ul class="ulchk rowS nolabel1" id="ulSelectedProducts" style="height:auto;display:none;"></ul>
            <div class="rowS nolabel1"><span id="btnRptSubmit">搜索</span></div>
          
        </div>
        <div style="overflow-x:scroll;padding-bottom:5px;"> 
            <div class="rowS">
                <span id="rpt_Menu_Export" style="border:0;background:#FFF">导出</span>
            </div>
            <div id="rptPivot" style="width:1800px;">
            </div>
            <div style="display:none;" class="s_title spage pager" id="rptPivotPager"></div>
        </div> 
        
        <div id="rptBar"></div>
    </div>

    <div id="popup_products" style="display:none;">
        <h3>选择要生成报表的产品，以下为在售宝贝，如果宝贝不存在，请到店铺管理同步在售宝贝</h3>
        <ul class="ulchk" id="ulProductList">
        
        </ul>
        <div class="s_title spage pager" id="productsListPager" style="display:none;"></div>
    </div>
</div>



