@{
    ViewBag.Title = "库存报表";
    Layout = "~/Views/Shared/master_default.cshtml";
}

<script>
    var reportManager = new KMJXCReportManager();
    var productMgr = new KMJXCProductManager();
    var shopMgr = new KMJXCShopManager();
    var paged = false;
    var pageSize = 1;
    var pageHtml;
    var productsPageSize = 15;
    var selectedProducts = [];
    $(function () {
        $('#tabs').tabs();
        generateReports(1);
      
        $('#btnRptSubmit').button({ icons: { primary: "ui-icon-search" } }).click(function () {
            generateReports(1);
        });

        $('#btnSelectProducts').button({ icons: { primary: "ui-icon-plus" } }).click(function () {           
            $('#popup_productsNew').SearchProductsDialog({
                ok: function (products) {
                    selectedProducts = products;
                    var $ul = $('#ulSelectedProducts');
                    $ul.html("");
                    for (var i = 0; i < selectedProducts.length; i++) {
                        var $li = $("<li></li>").appendTo($ul);
                        $("<span style=\"display:inline-block\">" + selectedProducts[i].product_name + "</span>").appendTo($li);
                        var $removeSpan = $("<span style=\"display:inline-block;float:right;margin-right:2px;\"></span>").appendTo($li);
                        $("<img value=\"" + selectedProducts[i].product_id + "\" style=\"\" src=\"/Content/images/remove.gif\"/>").appendTo($removeSpan).click(function () {
                            var id = $(this).attr("value");
                            var tmp = [];
                            for (var i = 0; i < selectedProducts.length; i++) {
                                if (selectedProducts[i].product_id != id) {
                                    tmp.push(selectedProducts[i]);
                                }
                            }
                            selectedProducts = tmp;
                            $(this).parent().parent().remove();
                            if ($($ul.find("li")).size() == 0) {
                                $($ul).hide();
                            }
                        });
                    }
                    $ul.show();
                },
                cancel: function () { },
                pageSize: 15,
                seltype: 'checkbox',
                selected:selectedProducts
            });
        });  

        $('#rpt_EnablePaging').change(function () {
            var checked = $(this).attr('checked');
            if (checked == "checked") {
                $('#rpt_PageSizeDiv').show();
            } else {
                $('#rpt_PageSizeDiv').hide();
            }
        });       

        $('#rpt_Menu_Export').button({ icons: {primary:"ui-icon-print"}}).click(function () {           
            var pdtIds = "";

            for (var i = 0; i < selectedProducts.length; i++) {
                if (pdtIds == "") {
                    pdtIds = selectedProducts[i].product_id;
                } else {
                    pdtIds += "," + selectedProducts[i].product_id;
                }
            }

            var isPaging = 0;
            var paging = $('#rpt_EnablePaging').attr('checked');
            if (paging == 'checked') {
                var ps = $('#rpt_PageSize').val();
                if (isNaN(ps)) {
                    alert("每页显示必须为整数");
                    return;
                } else {
                    pageSize = ps;
                }

                if (pageSize == 0) {
                    pageSize = 30;
                    $('#rpt_PageSize').val(30);
                }

                isPaging = 1;
            }
            ShowProgress('report_loading', function () { }, "正在导出Excel,请耐性等待...");
            reportManager.GetExcelStockReport({ 'products': pdtIds }, function (res) {
                Boxy.get($('#report_loading')).hide();
                if (res.Status == "ok") {                   
                    window.open(res.Item, "_blank", 'height=400, width=500');
                } else {
                    alert(res.Message);
                }
            })
        });
    });

    function generateReports(page) {        
        var pdtIds = "";
        for (var i = 0; i < selectedProducts.length; i++) {            
            if (pdtIds == "") {
                pdtIds = selectedProducts[i].product_id;
            } else {
                pdtIds += "," + selectedProducts[i].product_id;
            }
        }
        
        var isPaging = 0;
        var paging = $('#rpt_EnablePaging').attr('checked');
        if (paging=='checked') {
            var ps = $('#rpt_PageSize').val();
            if (isNaN(ps)) {
                alert("每页显示必须为整数");
                return;
            } else {
                pageSize = ps;
            }

            if (pageSize == 0) {
                pageSize = 30;
                $('#rpt_PageSize').val(30);
            }

            isPaging = 1;
        }
        ShowProgress('report_loading', function () { }, "正在加载报表数据，请耐性等待...");
        reportManager.GetStockReport({ 'products': pdtIds, 'page': page, 'pageSize': pageSize, 'paging': isPaging }, function (res) {
            Boxy.get($('#report_loading')).hide();
            $('#rptPivot').html("");
            var row = res.data;
            if (row == null || row.length == 0) {
                return;
            }
           
            pageHtml = reportManager.Pager({ 'page': page, 'total': res.totalRecords, 'pageSize': pageSize, 'fun': 'generateReports' }, "spn", "pn");
            if (pageHtml != "") {
                $('#rptPivotPager').html(pageHtml).show();
            } else {
                $('#rptPivotPager').html("").hide();
            }

            var JSONdata = {
                dataid: 'An optional sourcetable identifier',
                columns: [
                    { colvalue: 'product_name', coltext: 'product_name', header: '产品名称', sortbycol: 'product_name', groupbyrank: 1, pivot: false, result: false },
                    { colvalue: 'prop_name', coltext: 'prop_name', header: '销售属性', sortbycol: 'prop_name', groupbyrank: 2, pivot: false, result: false },
                    { colvalue: 'pivot', coltext: 'pivot', header: '库存', sortbycol: 'pivot', groupbyrank: null, pivot: true, result: false },
                    { colvalue: 'quantity', coltext: '库存', header: '库存', sortbycol: 'quantity', groupbyrank: null, pivot: false, result: true }
                   
                ],
                rows: row
            };

            $('#rptPivot').pivot({
                source: JSONdata,
                formatFunc: function (n) {
                    return n;
                    //return jQuery.fn.pivot.formatDK(n, 2);
                },
                parseNumFunc: function (n) {
                    //return +((typeof n === 'string') ? n.replace('.', '').replace(',', '.') : n);
                    return +parseFloat(n);
                },
                onResultCellClicked: function (data) {
                    alert(dumpObj(data, 'data'));
                }
            });
        });
    }


</script>
<div id="tabs">
    <ul>
        <li><a href="#stockReport">库存报表</a></li>
    </ul>
    <div id="stockReport">
        <div id="rptFilter" style="padding-bottom:10px;">
            <div class="rowS"><label>是否分页:</label><input style="margin-right:5px;" id="rpt_EnablePaging" type="checkbox" checked/></div>
            <div class="rowS" id="rpt_PageSizeDiv"><label>每页显示:</label><input id="rpt_PageSize" class="W_input" style="width:30px;" value="30"/></div>
            <div class="rowS" style="height:auto;">
                <label style="display:inline-block;float:left;">产品:</label>
                <div style="float:left;">
                    <span style="display:block;" id="btnSelectProducts">添加</span>                                   
                </div>                
            </div>          
            <ul class="ulchk rowS nolabel1" id="ulSelectedProducts" style="height:auto;display:none;"></ul>
            <div class="rowS nolabel1"><span id="btnRptSubmit">搜索</span></div>
          
        </div>
        <div style="padding-bottom:5px;"> 
            <div class="rowS">
                <span id="rpt_Menu_Export" style="border:0;background:#FFF">导出</span>
            </div>
            <div id="rptPivot">
            </div>
            <div style="display:none;" class="s_title spage pager" id="rptPivotPager"></div>
        </div>        
        <div id="rptBar"></div>
    </div>
    <div id="popup_products" style="display:none;">       
        <ul class="ulchk" id="ulProductList">
        
        </ul>
        <div class="s_title spage pager" id="productsListPager" style="display:none;"></div>
    </div>

    <div id="popup_productsNew" style="display:none;"></div>
</div>